[2014-12-29 14:08] cezio opened #9 "handle CTRL+arrow sequences"
You can jump to next word in psql with CTRL + right arrow sequence (or get back one word with left arrow). In pgcli this will produce bare sequence codes:

(arrow right, arrow left)
[code]

[2014-12-29 14:18] cezio opened #10 "Add auto-completion for subqueries"
When you want to write a subquery, part of it won't have auto-complete hints:

 * completion of ``select`` keyword in subquery,
 * completion of table name after ``from``.

After you state a table, columns will be hinted correctly.

[2014-12-30 08:38] amjith opened #12 "Config reading is failing when an option is missing"
Steps to reproduce.

Open ~/.pgclirc, delete the line with multi-line option.

Launch pgcli and it crashes with the following error:

[code]

This is because the ConfigParser is reading a config option without providing a default value to fall back.

@j-bennet Would you mind taking a stab at this bug? If you don't have time, let me know.

[2014-12-31 05:48] #12 closed, assigned to nobody

[2015-01-06 08:18] amjith commented on #9
Updated version (0.10.0) released to PyPI.

[2015-01-06 08:19] amjith commented on #10
Updated version (0.10.0) released to PyPI.

[2015-01-06 08:19] #10 closed

[2015-01-06 17:14] jackmaney opened #16 "Can't start (pkg_resources.DistributionNotFound: jedi>=0.8.1)"
It seems as though `pgcli` can't find a package called `jedi`:

[code]

However, I already have a sufficient version of this package installed:

[code]

Am I missing anything obvious here?

Thank you for your time.

[2015-01-06 17:15] jackmaney commented on #16
I should add that I'm using the Python 2.7.9 provided by Homebrew.

[2015-01-06 17:17] amjith commented on #16
Can you try `pip install jedi==0.8.1`?

There was a recently a change in pip that disallowed packages that didn't conform to PEP 440 from being installed. It was rectified by Jedi just two days ago. So it's worth upgrading jedi.

Ref: https://github.com/davidhalter/jedi/issues/521

[2015-01-06 17:23] darikg opened #17 "Error when running in python 3 (Windows)"
Not sure if this is a problem with Windows x64, python 3.3, or the conda virtual environment, but I get this error immediately after connecting to a database. Everything works fine if I use a python 2.7 venv instead.

Traceback (most recent call last):
  File "C:\Users\dg\Anaconda3\envs\pycli_py33\Scripts\pgcli-script.py", line 9,
in <module>
    load_entry_point('pgcli==0.10.0', 'console_scripts'

[2015-01-06 17:25] jackmaney commented on #16
A `pip install jedi==0.8.1` seemed to do the trick. I'm having another issue in connecting to a server, however. I'll open up a separate issue for that.

Thanks!

[2015-01-06 17:25] #16 closed

[2015-01-06 17:30] jackmaney opened #18 "Can't connect to Greenplum server (psycopg2.ProgrammingError: column d.datcollate does not exist)"
So, after [getting past the `jedi` issue](https://github.com/amjith/pgcli/issues/16), I got pgcli to work on a local PostgreSQL instance. I'm now trying to connect to a [Greenplum database](http://www.pivotal.io/big-data/pivotal-greenplum-database) (a distributed database built on top of PostgreSQL. Anything that can talk to vanilla Postgres should be able to talk to Greenplum...I've had no issues

[2015-01-06 17:35] jackmaney opened #19 "Support \x for Expanded Display"
The `tabulate` output looks very pretty, but a feature I love from `psql` is the expanded display option (`\x`) for looking at rows in really wide tables (ie tables with rows that are too big to fit in one line on the terminal). However, this isn't yet supported in pgcli:

[code]

[2015-01-06 17:36] jaytaylor commented on #19
+1

[2015-01-06 17:38] jaytaylor opened #20 "Does pgcli integrate with .psqlrc?"
Does pgcli integrate with .psqlrc?  If not, do you have any plans to add support for it?

Here is an example of my .psqlrc file: https://gist.github.com/jaytaylor/e5aa89c8f3aaab3f576f

[2015-01-06 17:41] jackmaney commented on #20
:+1:

[2015-01-06 17:47] jackmaney commented on #18
Ah, I think I see the issue. This error occurs when trying to run the following query:

[code]

(which grabs metadata about databases). The `datcollate` column [exists in that table in PostgreSQL 9.4](http://www.postgresql.org/docs/9.4/static/catalog-pg-database.html), but [not in PostgreSQL 8.2.15](http://www.postgresql.org/docs/8.2/static/catalog-pg-database.html) (which is the psql version upon

[2015-01-06 17:53] amjith commented on #20
Right now it doesn't have support for .psqlrc. But that's not a bad idea.

That said, I looked at your .psqlrc, man it's a beast. That'll take some time to get done.

I should probably mention that it does create a .pgclirc file in your home folder.

[2015-01-06 17:53] pmontrasio opened #21 "Better error message for failed connections"
[code]

vs

[code]

First thought: there is something wrong in my installation, too bad. I did a little googling then ```pgcli --help``` and rerun it as ```pgcli -U myuser mydb```. That worked, nevertheless, as a low priority enhancement, try mimicking psql's error messages we are all familiar with.

[2015-01-06 17:56] amjith commented on #21
Valid point. I'll try to mimic psql errors.

Although the error trace you pasted leads me to believe that the connection error actually triggered a different issue with the Click library used by pgcli. Are you using Windows?

[2015-01-06 17:58] jackmaney commented on #18
The column seems to specify the `LC_COLLATE` configuration variable for a given database (which, along with the `datctype` column, specifies a locale for the database). Please let me know if I'm wrong, but I don't seem to see these columns used anywhere in the rest of the code. Are they necessary?

[2015-01-06 17:58] amjith commented on #17
It looks like the issue could be on the prompt_toolkit library, but I'll try this tonight on Azure or something and see if I can fix it.

[2015-01-06 18:00] amjith commented on #18
@jackmaney You're right about the dependency of Postgres 9.4. In order to mimic the special back-slash commands from psql, I had to translate a giant chunk of C-code from psql source to Python.

I chose to stick with the minimum viable implementation that supported the latest PG (it was 9.2 at the time). I'll work on adding graceful fallback when an older version is use.

[2015-01-06 18:01] jackmaney commented on #18
Excellent. Thanks!

[2015-01-06 18:03] amjith commented on #19
This was requested by a few people. Need to look at how to do this effectively.

[2015-01-06 18:05] amjith opened #22 "Add auto-completion for tables other than public schema"
Right now the tables are only populated from the public schema. Change this to include tables from all schemas.

[2015-01-06 18:09] amjith opened #23 "Investigate if it's possible to embed pgcli inside emacs"
http://www.emacswiki.org/emacs/SqlMode

[2015-01-06 18:11] atombender opened #24 "Unicode chars in results cause query to return nothing"
OS X Terminal.app. My environment:

[code]

pgcli examples:

[code]

The last query returns nothing, not even an error. Also:

[code]

The prompt is also screwed up by  UTF-8 chars. For example, using the up-arrow to go back leads to:

[code]

[2015-01-06 18:12] threshar opened #25 "Extremely Slow Startup"
It takes it well over a minute to start up on my database - I suspect it is due to the inefficiency of iterating over all the tables and then issuing separate selects to pull in column names. (I am seeing boatloads of queries like SELECT column_name FROM information_schema.columns WHERE\n    table_name ='')

Would likely be faster to do a single select table_name, column_name from information_sche

[2015-01-06 18:15] amjith commented on #25
That's an awesome idea. Thanks for the suggestion. I'll add that to the next ver.

[2015-01-06 18:16] xfalcox commented on #22
Or maybe include first all the schemas, and then all the tables like:

[code]
Should show schemas like public, products and payments and put a dot in front after selection, and

[code]
Should autocomplete to the products.catalog table.

[2015-01-06 18:16] amjith commented on #24
That's awful. Sorry about that.

I'll take a look at it. Thank you for the detailed report.

[2015-01-06 18:16] rpoole opened #26 "Getting an error trying to run"
Whenever I try to use the program I get a python error:

[code]

Using python 2.7 and psql 9.3.5 on Ubuntu 14.04.

[2015-01-06 18:19] amjith commented on #22
This going to wreck the auto-completion code. :)

Right now auto-completion assumes that a 'dot' will trigger a column name completion. But I didn't fully think about schemas.

Thanks for the suggestion, it'll take a bit longer to implement (I think), but I'll definitely get to it.

[2015-01-06 18:33] treystout opened #27 "Traceback on first run"
Ubuntu 14.04, Python 2.7.3 (inside an activated virtualenv)
pgcli==0.10.0 (installed inside activated virtualenv)

I get the following...

[code]

[2015-01-06 18:34] treystout commented on #27
Forgot to say thank you for this project. If there's 2 things I love, they're powerful CLIs and Postgres!

[2015-01-06 18:34] sillypog commented on #26
I get a slightly different error on OSX 10.10, using Python 2.7 and Postgresql 9.2.4.

[code]

[2015-01-06 18:34] narzeja opened #28 ""UnboundError" with backslash-command without argument (\c)"
I get an uncaught exception with backslash-commands that take arguments, like \c.

Consider the following interaction with a freshly installed database.
[code]

From here, if I type \c without specifying which database I wish to connect to, I get an uncaught exception:
[code]
[code]

A proper way of handling this is to inform the user that a database (or other argument for other backslash-commands

[2015-01-06 18:35] treystout commented on #19
+1

[2015-01-06 18:39] amjith commented on #28
You're right. My bad. I'll fix this issue.

[2015-01-06 18:42] amjith commented on #27
@treystout Can you tell me how you installed `pgcli`?

This error message: `pkg_resources.DistributionNotFound: Click` says that Click is not installed which is a dependency for pgcli.

That dependency should be automatically installed when you `pip install pgcli`.

[2015-01-06 18:43] narzeja commented on #28
Gazing over the code, the fix (of an uncaught exception while handling an exception) should be easy:
Change line 91 of pgexecute.py from:
[code]
to
[code]

Maybe?

[2015-01-06 18:44] treystout commented on #27
Sure thing, I saved the install log, inline below...

[code]

[2015-01-06 18:44] amjith commented on #26
@rpoole Can you tell me how you're launching pgcli? What are the command line params?

It looks like the database connection is failing. I should report a more sensible error message for that.

[2015-01-06 18:45] amjith commented on #26
@sillypog Your error message is because `Click` is not installed. `Click` is a dependency of `pgcli` that should be installed when you do a `pip install pgcli`.

Can you tell me how you installed pgcli?

[2015-01-06 19:22] xfalcox commented on #22
There's a [ORM](https://github.com/jeremyevans/sequel#qualifying-identifiers-columntable-names) on rubyland who handles schemas name with double underscores, but it's kinda strange.

And I don't know about the average pguser, but on our team we have a bigdatabase, with all tables on schemas other than public, grouped by topic.

[2015-01-06 19:25] thiagophx commented on #26
Hi @amjith, thanks a lot for this project!
I get the same error as @sillypog, and I did install `pgcli` using `pip`.
Here's the output:

[code]

It seems that `pgcli` and `click` were installed successfully, but it still doesn't work.
Any idea why?

Thanks in advance.

[2015-01-06 19:27] remmelt opened #29 "Cannot install without local Postgres"
Installation on OSX using `pip` or `easy_install` fails with

[code]

I have no local installation of Postgres. I'm using a Docker container to run the database.

[2015-01-06 19:36] amjith commented on #26
@sillypog @thiagophx Let's track this issue on #27. The original issue reported by @rpoole seems unrelated to the ones you guys are facing.

[2015-01-06 20:07] cezio commented on #29
This is because pgcli requires psycopg2. Check if you have prebuild package, then installation will be able to skip this step.

[2015-01-06 20:07] svenstaro opened #31 "Automatically quote some arguments"
For instance, my postgresql database has a column called "order" but obviously typing that in will result in a syntax error as it expects this to be the ORDER BY clause. You should detect some of these keywords which are actually columns and quote them with double quotes.

[2015-01-06 20:08] svenstaro opened #32 "More graceful error management"
Currently, on syntax errors in psycopg2 and connection error, the error isn't caught and pgcli fails and exits. Perhaps you should handle that more gracefully.

[2015-01-06 20:12] cezio commented on #26
@rpoole Which psycopg version you're using? Context Manager support in cursor was added in 2.5 http://pythonhosted.org//psycopg2/news.html#what-s-new-in-psycopg-2-5

[2015-01-06 20:15] cezio commented on #19
+1

[2015-01-06 20:26] remmelt commented on #29
How do I do this?

[2015-01-06 20:35] cezio commented on #29
See http://initd.org/psycopg/docs/install.html#install-from-a-package

But I'm not sure how fink/MacPorts installation will work with pip.

[2015-01-06 20:37] zeha commented on #22
I'm also missing general schema support in other commands, e.g. \dt. `\dt moon.*` apparently ignores the `moon` part and just lists tables in the `public` schema.

[2015-01-06 20:39] vapniks opened #33 "ImportError: No module named sql"
Here is the error I get when I try to run it on Ubuntu 12.04:

Traceback (most recent call last):
  File "/usr/local/bin/pgcli", line 9, in <module>
    load_entry_point('pgcli==0.10.0', 'console_scripts', 'pgcli')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 337, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/di

[2015-01-06 21:01] pmontrasio commented on #21
No,  I'm on Ubuntu 12.04. Can I do anything to help you debugging this error?

[2015-01-06 21:11] sammcj opened #35 "Debian Packages"
Love the app, but I wouldn't like to be installing it from pip everywhere - It would be great if this could be packaged and available on an apt mirror somewhere.

This would:

* Make installs easier
* Make upgrades easier
* Ensure installations are properly logged
* Ensure clean uninstallations when required
* Reduce dependancies
* Allow for easy on-site mirroring / caching

FYI packagecloud.io is

[2015-01-06 21:11] duffytilleman commented on #27
I'm seeing the same issue.  Mac OS, system python 2.7.5, pip 1.5.6

[code]

[2015-01-06 21:13] remmelt commented on #29
Thank you!

[2015-01-06 21:13] #29 closed

[2015-01-06 21:14] sammcj opened #36 "Error: pg_config executable not found"
It looks like it requires PostgreSQL development packages as well?

OSX 10.10
[code]

[2015-01-06 21:14] scw opened #37 "Read socket configuration information"
When connecting to a local database configured with a local socket, `pgcli` fails:

[code]

The equivalent call to `psql` succeeds:

[code]

Running `strace` against `psql` shows that it reads the socket configuration directory from the `unix_socket_directory` of the postgresql.conf file. I can get `pgcli` to run by specifying `-h /tmp` which is the socket location on this distribution (Ubuntu 12.

[2015-01-06 21:21] kmatzen opened #38 "psycopg2 v2.5 or later required"
psycopg2 did not support the ```with``` keyword on cursors until v2.5, I believe.  This version should be encoded in setup.py.

https://github.com/amjith/pgcli/blob/master/pgcli/pgexecute.py#L102
http://psycopg.lighthouseapp.com/projects/62710/tickets/102-cursor-is-not-compatible-with-the-with-statement

[2015-01-06 21:28] rgm3 opened #39 "Auto-complete view names"
Much like table names, it would be nice to have the names of views (shown via \dv) included in the auto-complete list.

[2015-01-06 22:16] amjith commented on #27
Let's try a couple of things.

1. What shell are you using? If you're using zsh, can you issue a `hash -r` before trying?
2. Can you try: `python -c 'import click; print (click.__version__)' `. This will check if click is successfully imported by python.

[2015-01-06 23:55] adregan commented on #16
I had the same error and a quick `pip freeze` told me the jedi I had installed was `jedi==0.8.1-final0`.

Explicitly installing `pip install jedi==0.8.1` fixed the problem, but I'm not sure where the issue started.

[2015-01-07 00:02] amjith commented on #38
Thank you for the report. The PR #41 by @macobo fixes this problem. It'll be released in the next ver.

[2015-01-07 00:02] #38 closed

[2015-01-07 00:05] muminoff opened #43 "BIGSERIAL type printing"
Using `pgcli` I get this:
[code]

With `psql`:
[code]

Can I get an output like which I got from `psql` or this won't fix?

[2015-01-07 00:35] amjith commented on #43
I think it should be possible to get an output like psql. I'll see if I can fix this soon.

[2015-01-07 00:36] toupeira commented on #39
Also schema names, as in `SELECT * FROM schema_name.table_name`

[2015-01-07 00:44] amjith commented on #32
Can you give me a sample error that you're getting?

I tried `pgcli non-existent-db` and I get a `FATAL:  database "abc" does not exist`.

I presume you're triggering a different scenario. If you can tell me how you're triggering the error that'll be useful as well.

[2015-01-07 00:46] amjith commented on #35
Yes. I agree with all of the points you've made. I have no experience in creating deb packages. But I'll read up on it and see if I can put together something.

Thank you for the feedback.

[2015-01-07 00:48] sammcj commented on #35
Hey @amjith thanks for that, again I love the project and want to use it but I really need packages before I can think about rolling it out.

Take a look at FPM, which can easily generate packages for any platform: https://github.com/jordansissel/fpm

[2015-01-07 00:48] amjith commented on #36
This error happens if you don't have Postgres available locally. `pgcli` uses `psycopg2` to talk to the Postgres database. In order to install `psycopg2` you need a C library called `libpq`. The only way (that I know of) to get that package in OS X is to `brew install postgresql`.

[2015-01-07 00:53] amjith commented on #37
Awesome bug report! :)

When I fall back to empty string for host, I'm relying to `psycopg2` to do the right thing. But I'll see if I can iterate over the common locations to find the socket before doing that.

[2015-01-07 01:02] amjith commented on #31
I'm hesitant to have `pgcli` do "magicky" things to a query, since that's a slippery slope.

There is no reliable way to detect if something is a column name or a keyword. So doing this would require a full sql parser and even then it could lead to some undesirable behavior in odd edge cases.

So I'm leaning towards to "Won't Fix" for this one, unless you manage to convince me otherwise. :)

[2015-01-07 02:30] rpoole commented on #26
@cezio that was it! I had an old version of psycopg2 (2.4.5).

Thanks for the help and the hard work on the tool - it looks great!

[2015-01-07 02:31] vapniks commented on #33
Yes, that fixed it thanks.

[2015-01-07 02:31] #33 closed

[2015-01-07 02:57] amjith opened #45 "Add doc string to the back-slash commands"
Add in a doc to display when typing a pg special command that starts with back-slash.

[2015-01-07 03:22] whiteinge opened #46 "Minimum Pygments version"
Cent 6 has a very outdated python-pygments package. (It was already installed on my system as a dep for an unrelated package.) I didn't dive in to the traceback to see if Pygments changed something or if SQL support is new (would be weird but maybe?). In any case the traceback is below. Upgrading Pygments (installed via pip) fixed the problem. Perhaps a pre-flight version check is needed?

[code]

[2015-01-07 03:26] whiteinge opened #47 "Deprecation warnings for BaseException.message"
Tested on Python 2.6 (Cent 6).

[code]

[2015-01-07 03:26] amjith commented on #46
Yes! I'm adding a version check to setup.py to make sure Pygments and other libs are recent enough.

[2015-01-07 03:35] whiteinge commented on #35
Something like FPM would be a quick way to start. Creating .deb's the Right Way (TM) takes some serious dedication. ;-)

[2015-01-07 03:36] SomeKittens opened #48 "Cannot install (Linux Mint)"
Error dump:

[code]

[2015-01-07 03:47] amjith commented on #46
Fixed by commit d437a12a03f7afce97340c11084139c8a08bb6eb.

This will go out in next release.

Thank you for the report. :rocket:

[2015-01-07 03:48] whiteinge commented on #46
Thanks for the quick fix! :-)

[2015-01-07 03:48] #46 closed

[2015-01-07 03:50] amjith commented on #48
Yeah I found out that installing `psycopg2` needs python-dev packages.

You'll need to do `sudo apt-get install libpq-dev python-dev` and try again.

I've updated the installation instructions to include that http://pgcli.com/install

[2015-01-07 04:02] Walms commented on #32
Syntax errors in the sql will cause an exit for me.

For instance if my sql is just 'SELECT' I get :

    amorini> SELECT
    Traceback (most recent call last):
      File "/usr/local/lib/python3.3/dist-packages/pgcli/packages/pgspecial.py", line 746, in execute
        command_executor = CASE_SENSITIVE_COMMANDS[command][0]
    KeyError: 'SELECT'

    During handling of the above exception, anothe

[2015-01-07 04:34] Walms commented on #32
In main.py

Chaning e.message to e.pgerror seems to fix it.
115             except Exception as e:
116                 _logger.debug("sql: %r, error: %r", document.text, e.pgerror)
117                 click.secho(e.pgerror, err=True, fg='red')

http://initd.org/psycopg/docs/module.html#psycopg2.Error psycopg2 errros don't seem to have a message prop. This may be something that is different across

[2015-01-07 05:14] wangyandong-ningxia commented on #32
I've got similar errors under Python 3.4.2
[code]
[code]
[code]
It works fine under Python 2.7.8

[2015-01-07 05:22] amjith commented on #24
This is fixed by pr #40.

The fix will be released in next ver.

[2015-01-07 05:24] atombender commented on #24
Awesome, thanks!

[2015-01-07 06:29] #45 closed

[2015-01-07 06:47] timothyjlaurent opened #52 "'@' in password"
I have an '@' symbol in a password. I tried escaping it with '\@' but this also didn't work.

[2015-01-07 06:56] allan-simon opened #53 "Add support for .pgpass"
it seems pgcli is not making use of this file
https://wiki.postgresql.org/wiki/Pgpass

[2015-01-07 07:08] svenstaro commented on #31
Well its autocompletion already is kinda magicky. But I agree, now that I think about it, it's not easily do-able.

[2015-01-07 07:08] #31 closed

[2015-01-07 07:23] amjith commented on #32
PR #49 and #50 fix this issue. It will be released in the next ver.

Thank you for reporting.

[2015-01-07 07:26] amjith commented on #27
I think @macobo might be right in pointing out that this is a case-sensitivity issue in setup.py.

Although I haven't been able to reproduce it I've changed the requirement from 'Click' to 'click'. Hopefully this will fix the issue.

https://github.com/amjith/pgcli/blob/master/setup.py#L26

[2015-01-07 07:35] amjith commented on #52
That's most definitely a bug. I wonder how psql handles this.

In the meantime you can try using the command line switches to prompt for the password instead of using the postgres:// style url.

[code]

Launching that way will prompt for the password.

[2015-01-07 07:36] amjith commented on #53
Yeah, I didn't know about .pgpass. I'll add support for it.

Thanks for reporting it.

[2015-01-07 07:39] amjith commented on #47
Apparently e.message is deprecated. Who woulda thunk?

This should be fixed by pr #49 and #50.

[2015-01-07 07:47] amjith commented on #21
This issue should be fixed now by PR #49 and #50. Can you try installing it straight from git HEAD and see if that fixes it.

You can install it directly from the git repo using the following command:

`pip install -e git+git@github.com:amjith/pgcli.git#egg=pgcli`

[2015-01-07 08:10] guewen opened #54 "Not compatible with click 3.0-3.1"
When an error happens, it calls `click.termui.secho()` with a keyword argument `err`.
This keyword argument has been introduced in the release 3.2 of click, so if a
version 3.0 or 3.1 is used, and any error happens, such as if I do:

[code]

I get a crash

[code]

[2015-01-07 08:12] amjith commented on #28
This issue is now fixed by PR #49, #50 and commit: eed1931b3f77d5f9b4553ea41ebeeb3188d2a769

[2015-01-07 08:15] pmontrasio commented on #21
I got the same stack trace but probably the problem is due to #54 because I have click 3.1

[2015-01-07 08:15] #54 closed

[2015-01-07 08:16] amjith commented on #21
I just merged that PR to master. Can you try it again? Sorry about that.

[2015-01-07 08:20] amjith opened #56 "Use urlparse to parse the postgres:// url"
Instead of using the parse_url function try the urlparse from the std lib.

[2015-01-07 08:35] amjith commented on #24
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

[2015-01-07 08:35] #24 closed

[2015-01-07 08:36] amjith commented on #32
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

[2015-01-07 08:36] #32 closed

[2015-01-07 08:36] amjith commented on #26
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

[2015-01-07 08:36] #26 closed

[2015-01-07 08:36] amjith commented on #28
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

[2015-01-07 08:36] #28 closed

[2015-01-07 08:37] amjith commented on #27
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

Can you please try this new version to see if it fixes the issue?

[2015-01-07 08:37] amjith commented on #21
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

Can you please try this and confirm if this fixes the issue?

[2015-01-07 08:37] amjith commented on #47
Version 0.10.1 released to PyPI. https://pypi.python.org/pypi/pgcli/0.10.1

[2015-01-07 08:37] #47 closed

[2015-01-07 08:44] pmontrasio commented on #21
Works like a charm. It upgraded click to 3.3 and the new error message is nice.

[2015-01-07 08:44] #21 closed

[2015-01-07 08:58] pythonhacker opened #57 "\d <table> fails"
searchdb> \d cacheaddresslookup
coercing to Unicode: need string or buffer, int found

This is clearly coming from Python, when you are trying to convert a int to a string without a proper cast or format.

[2015-01-07 09:00] pythonhacker opened #58 "Commands with + at end fails"
searchdb> \d+
ERROR:  syntax error at or near "\"
LINE 1: \d+
        ^

searchdb> \l+
ERROR:  syntax error at or near "\"
LINE 1: \l+
        ^
Looks like they are not properly parsed (Are you using Python "cmd" based REPL ?)
These are Python syntax errors clearly.

[2015-01-07 09:05] amjith commented on #58
This is a bug. I'll take a look.

I'm not using the 'cmd' module for the REPL. I'm using https://github.com/jonathanslenders/python-prompt-toolkit to build the repl.

[2015-01-07 09:09] amjith commented on #57
If you're using 0.10.0 of pgcli, can you try updating it. I just released 0.10.1 that fixes a bug related to unicode.

If that doesn't fix it, can you send me the output of `pip freeze`? Also is this error only happening on that particular table or is it happening for all the tables?

[2015-01-07 09:57] wodabr opened #59 "install page"
Hi,

there is an error on install page, it should be

sudo easy_install pip not sudo easy_install install pip

[2015-01-07 10:11] jmagnusson commented on #59
I guess you meant the `sudo easy_install install pgcli` error and not `sudo easy_install install pip`, right?

[2015-01-07 10:12] wodabr commented on #59
nope :) there's no install command in easy_install

[2015-01-07 10:15] jmagnusson commented on #59
Re-read my question :smile:

[2015-01-07 10:22] stedi67 commented on #19
+1

[2015-01-07 10:30] wodabr commented on #59
ok, I ment every occurence of easy_install on http://pgcli.com/install :)

easy_install install pgcli
sudo easy_install install pip

[2015-01-07 10:35] martin-loetzsch commented on #22
We never put anything in the  `public` schema. `pgcli` looks very promising, but missing schema support is a deal breaker for us.

[2015-01-07 10:35] binarysource commented on #19
+1

[2015-01-07 10:43] jmagnusson commented on #59
Aha then you should submit your issue here https://github.com/amjith/pgcli.com/issues

[2015-01-07 12:43] thiagophx commented on #27
Hi @amjith the changes you made definitely fixed the problem with `click` dependency.
However, the same issue is now happening to `pygments`, I believe it's the exact same problem, so I tried to do what @macobo said, I tried to change dependency name in `setup.py`, but it didn't work.

I'm pretty sure I'm doing something wrong, because I'm not really sure what the steps are to make this change.

H

[2015-01-07 14:13] colemanm opened #64 "Error with jedi dependency"
I just installed using `pip install pgcli` (using Python + pip from Homebrew). I get this traceback error trying to run the `pgcli` command:

[code]

Looks like an issue with the jedi package, but it shows that it's installed:

[code]

[2015-01-07 14:22] Linell commented on #64
I'm having the same issue, also with Python/pip from Homebrew. Based off of [this](https://github.com/tkf/emacs-jedi/issues/184), I think it's got something to do with the `-final0` tag on the version. I also attempted to upgrade jedi to make sure something weird wasn't going on, but that didn't help.

According to yolk, the version we have is all that's available.

[2015-01-07 14:45] spookylukey opened #65 "Should understand -d param"
I expected pgcli to understand all the params of psql, including `-d`/`--dbname` for database name. It would be a nice tweak if it could work as a drop in for psql as far as possible.

[2015-01-07 15:34] jackmaney commented on #52
Have you tried URL-escaping the `@` to `%40`?

[2015-01-07 15:46] mw44118 opened #66 "weird bugs after trying out pgcli"
I just installed pgcli.  Sometimes, \d works.  Other times it doesn't.

    giftgram_dev> \d sent_giftgrams
    local variable 'indexdef' referenced before assignment

Also, \h doesn't work for me:

    giftgram_dev> \h alter TABLE alter COLUMN
    ERROR:  syntax error at or near "\"
    LINE 1: \h alter TABLE alter COLUMN
            ^

Thanks for starting this project!

[2015-01-07 15:54] treystout commented on #27
0.10.1 fixed the Click dependency issue originally reported, otherwise I had the exact same experience as @thiagophx.

[2015-01-07 16:07] amjith commented on #27
@thiagophx Can you paste the snippet of code in setup.py that made it finally work?

If I understand you correctly, `click` has to be all lowercase and `Pygments` has to be capital case? This is nuts.

@treystout Did you also have to change `pygments` to `Pygments` in setup.py? I'm starting to think that cache invalidation might be an easier problem to deal with. :P

[2015-01-07 16:09] darikg commented on #53
pgpass already works on my computer without having to do anything. I think it's handled by [psycopg2](http://psycopg.lighthouseapp.com/projects/62710/tickets/54-feature-request-add-support-for-a-pgpass-connect-parameter). I have psycopg2 2.5.4 on a windows machine.

[2015-01-07 16:11] amjith commented on #66
Hrm. I thought I had tested all the code paths for \d but I'll start adding some tests to make sure things work ok. \d is a bit of a beast since it can be called on a table or an index or a view or sequence etc. So there is probably some branch in the code path I missed. I'll take a look.

\h is not yet implemented. Unfortunately the back-slash commands can't be passed on directly to the database.

[2015-01-07 16:13] mw44118 commented on #66
Hey, thanks for writing back!

Here is the \d output for sent_giftgrams:

                         Table "public.sent_giftgrams"
+-------------------------+--------------------------+------------------------+
|         Column          |           Type           |       Modifiers
   |
+-------------------------+--------------------------+------------------------+
| gg_uuid                 | uuid

[2015-01-07 16:13] amjith commented on #64
Yeah this is a known issue caused by enforcing PEP 440 in the recent days.

Please try `pip install jedi==0.8.1`, that should fix it.

ref: https://github.com/davidhalter/jedi/issues/521

[2015-01-07 16:17] thiagophx commented on #27
That's right, @amjith, it seems that `click` has to be all lowercase and `Pygments` has to be capital case :sob:
Here's my current `setup.py`:

[code]

[2015-01-07 16:18] colemanm commented on #64
Thanks, @amjith - that worked, just had to delete the temp install directory in `/private/var` first, then reinstalled.

[2015-01-07 17:26] Linell commented on #64
:+1: worked for me

[2015-01-07 17:52] amjith commented on #27
New version in PyPI to address this issue. https://pypi.python.org/pypi/pgcli/0.10.2

Thank you for reporting it.

[2015-01-07 17:52] amjith commented on #65
Yes it should. I'll add that in.

Thank you!

[2015-01-07 17:53] amjith commented on #59
Merged and updated. Thank you for catching that.

[2015-01-07 17:53] #59 closed

[2015-01-07 19:04] SomeKittens commented on #48
Great!  I'll try that tonight.  Thanks for the fast turnaround.

[2015-01-07 19:04] kmatzen opened #67 "Auto-complete double quotes for tables/columns with capital letters"
Is it easy to include double quotes around tables or columns that contain capital letters for auto-complete?  If quotes are not included, then postgres takes that name, puts it in all lowercase, does a case-sensitive comparison, and does not find the column or table.  Put it in quotes, it skips the lowercase step and finds it.

[2015-01-07 19:15] duffytilleman commented on #27
In case this helps someone else:  I still had issues with `pkg_resources.DistributionNotFound: Pygments` after installing version 0.10.2 with pip, but it worked after using `pip install --download`, then directly running `python setup.py install` in the downloaded pgcli directory.

Thanks for your help, and after trying it out, I love it, it's going to be a part of my workflow for sure.

[2015-01-07 19:35] macobo opened #68 "Database access in tests"
It's currently quite hard to make sure that no new regressions are introduced while adding new functionality or fixing bugs.

I would propose adding support for a tests that have access to a running postgres instance and can use it to run commands against. If postgres is not running, such tests would be skipped.

Travis [does have support for postgres](http://docs.travis-ci.com/user/using-postgres

[2015-01-07 19:37] amjith commented on #68
Yes. That is indeed in the grand plan. https://github.com/amjith/pgcli/blob/master/tests/test_plan.wiki

Just haven't gotten enough hours in a day. :)

[2015-01-07 19:40] macobo commented on #57
In case this is about the latest version:

You can also look at `~/.pgcli.log` and copy the output of traceback, which should be one of the last lines in the file.

[2015-01-07 19:41] macobo commented on #68
Woot. We'll see, maybe I'll throw something together. :)

Cheers!

[2015-01-07 19:41] amjith commented on #67
Yes it would be a useful feature and I want to do it.

It's hard to tell if it'll be easy to do or not. It'll require some parsing changes to parse_utils file.

https://github.com/amjith/pgcli/blob/master/pgcli/packages/parseutils.py#L11

You're welcome to take a stab at it.

[2015-01-07 19:52] amjith commented on #64
I've added an explicit dependency for Jedi in pgcli's setup.py file (https://github.com/amjith/pgcli/blob/master/setup.py#L28).

This shouldn't happen anymore with pgcli version 0.10.2 and above.

[2015-01-07 19:52] #64 closed

[2015-01-07 20:06] gnmerritt commented on #18
Just wanted to chime in and mention that this unfortunately means pgcli won't work with Amazon's Redshift platform either. Would be happy to help try and add support if you'd like a hand and this issue isn't high priority

[2015-01-07 20:10] amjith opened #70 "RPM Package"
@herlo Volunteered to build a Fedora RPM package for pgcli. Thank you for your help!

[2015-01-07 20:14] amjith commented on #18
I would love to get some help on this one.

The code for dealing with the special command can be found here: https://github.com/amjith/pgcli/blob/master/pgcli/packages/pgspecial.py#L76

The code is a translation of C code from psql source code.

You can see the conditions that check for postgres versions in psql code here:
https://github.com/postgres/postgres/blob/master/src/bin/psql/describe.c#L1

[2015-01-07 20:41] treystout commented on #27
Would recommend re-opening this til pip can install it cleanly.

Here's a log on my machine of making a brand-new virtual env, install pgcli, and then seeing the pygments error on first run (0.10.2)

[code]

[2015-01-07 20:44] jackmaney commented on #18
It's probably fragile, but I know that `select version();` produces a version string:

[code]

[2015-01-07 21:29] whiteinge commented on #47
Thanks! :-)

[2015-01-07 21:38] marcelofernandez opened #72 "Add support for several "\dX" commands"
Standard pgsql supports a lot of \dX commands, for example \dn (to show schemas), \ds to show sequences, etc., but pgcli only seems to know about \d, \dv, \dt and \dt.

Any other \dX gives a syntax error:

    postgres> \dn
    ERROR:  syntax error at or near "\"
    LINE 1: \dn
            ^

[2015-01-07 21:49] tvon opened #73 "Homebrew formula"
I have a WIP formula, I just need to figure out how to write a proper test for it.

You can try it by running

[code]

Any feedback would be appreciated.

[2015-01-07 22:15] felixhummel commented on #53
Does not work for me on Ubuntu 12.04 with

    $ python -c 'import psycopg2; print psycopg2.__version__'
    2.5.4 (dt dec pq3 ext)
    $ python -c 'import pgcli; print pgcli.__version__'
    0.10.2

[2015-01-07 22:43] amjith commented on #73
Awesome!! I'll give it a shot.

I notice that you have `  depends_on :postgresql`. Will that force an install of postgres via brew even if someone has postgres installed via a different mechanism (say PostgresApp or MacPorts)?

[2015-01-07 22:58] tvon commented on #73
This is true, I can try removing that dep as it may not be necessary for psycopg to build.

[2015-01-08 07:10] amjith commented on #53
I suspect that this might be the doing of `libpq` and not `psycopg2`. I have to read through the docs to further under how .pgpass is used and where it's accessed.

Can you both (@felixhummel and @darikg) tell me the versions of postgres and postgres-dev packages?

[2015-01-08 07:11] fzerorubigd opened #76 "\c invalid_database"
Using \c with an invalid database name result in crash.
[code]

[2015-01-08 07:12] amjith commented on #27
Damn! I have no idea why this is happening. :(

@duffytilleman and @treystout Can you tell me what version of `pip` you're using?

I'm reopening this issue.

[2015-01-08 07:16] amjith commented on #18
Awesome! I forgot about `select version()`.

I'll take fragile over non-existent. :)

[2015-01-08 07:18] amjith commented on #72
The rest of the commands are slowly being added (in fact, there is a pending PR for `\dn`).

Unfortunately this will be a slow progress to add them in one at a time since I can't just pass on the special commands directly to Postgres. Each command requires reimplementing the functionality from psql into pgcli.

So I'll start adding new ones.

[2015-01-08 07:22] amjith commented on #76
Yup! I found out about it earlier today. :(

This will be fixed in the next release.

[2015-01-08 07:24] amjith commented on #73
Regarding a test. Can you just do `pgcli --help`?

[2015-01-08 07:30] amjith commented on #73
The url for pgcli seems to point to github instead of pypi. I'd probably set it to pypi (https://pypi.python.org/packages/source/p/pgcli/pgcli-0.10.2.tar.gz) so it's similar to the rest of the packages.

[2015-01-08 07:51] amjith commented on #76
This now fixed by 803e460.

[2015-01-08 07:56] amjith commented on #76
Fixed in 0.10.3.

https://pypi.python.org/pypi/pgcli/0.10.3

[2015-01-08 07:56] #76 closed

[2015-01-08 07:56] amjith commented on #58
Fixed in 0.10.3

https://pypi.python.org/pypi/pgcli/0.10.3

[2015-01-08 07:56] #58 closed

[2015-01-08 07:58] amjith commented on #36
Were you able to get this working after you installed Postgresql?

Do you need more assistance?

[2015-01-08 08:09] sammcj commented on #36
Thanks yes it works once PostgreSQL is installed.

--
Sam McLeod

On Thu, 8 Jan 2015, at 06:58 PM, Amjith Ramanujam wrote:

[2015-01-08 08:09] amjith commented on #36
Cheers!

[2015-01-08 08:09] #36 closed

[2015-01-08 10:35] karlb opened #77 "Canceling slow query"
When using psql, I can cancel a slow query (e.g. when I accidentally forgot a LIMIT clause) by pressing ctrl-c. This would be useful for pgcli, too.

[2015-01-08 12:25] fzerorubigd opened #82 "\dt schema.*"
`\dt *.*` and `\dt schema.*` has no effect at all. its always show public schema tables.

[2015-01-08 12:29] fzerorubigd commented on #82
I don't know if compatibility with psql is a goal or not? since I found the `\dn` is not implemented also.

[2015-01-08 13:07] darikg commented on #53
postgres 9.4 on one machine and 9.2 on another. I'm not sure how to check libpq version in windows.

[2015-01-08 14:06] qwesda commented on #67
hi,
i submitted a pull request (#83) that adds double quote escapes for table/column names with spaces, symbols, non-ascii chars and mixed-cased letters.

[2015-01-08 15:56] treystout commented on #27
I'm on pip version 1.5.6, just noticed they appear to have jumped up to 6.x series

[2015-01-08 18:23] frodeaa opened #88 "No rows returned if a row contains unicode character"
SQL queries returned empty row, found out that it was caused by unicode character.

[code]

[code]

We get the expected rows if we use the row_to_json function
[code]

[2015-01-08 18:43] duffytilleman commented on #27
pip 1.5.6

[2015-01-08 18:54] kanet77 commented on #53
To add another data point:

.pgpass works for me with the following command:
```pgcli -h localhost -U <user_name> <database_name>```

I confirmed by renaming .pgpass and observing pgcli fail with the following error message:
```fe_sendauth: no password supplied```

Environment:
- OSX 10.10
- PostgreSQL 9.4.0 (installed w/ brew)
- pgcli (0.10.3) (also worked w/ 0.10.1)
- Python 2.7.9
- pip 1.5.6

[2015-01-08 19:21] macobo commented on #88
This *should* be fixed in the latest version and I am not able to reproduce it either - what version of pgcli do you have installed?

[2015-01-08 19:37] amjith commented on #82
Yes `schema` support is still pending #22.

Compatibility with psql is indeed a goal. But it takes time to catch up with years of work. :)

`\dn` is currently pending in a PR #62. I'll merge it in once I get a chance to review it.

[2015-01-08 19:42] frodeaa commented on #88
[code]

and I can confirm that it works correctly in 0.10.3, will close the issue

[2015-01-08 19:42] #88 closed

[2015-01-08 19:44] amjith commented on #88
@frodeaa Can you try upgrading pgcli?

`pip install -U pgcli`.

[2015-01-08 19:47] frodeaa commented on #88
yes, upgrading fixes the problem @amjith

[2015-01-08 20:49] kerstin commented on #73
Ohhh, looking forward to when this works properly. (:

[2015-01-08 20:53] tvon commented on #73
Switched to pypi and bumped to 0.10.2.

As for postgres, it is needed for psycopg2 to build, and AFAIK homebrew offers no means to check for existing/external installations outside of homebrew.

I suspect `pgcli --help` will be considered insufficient by homebrew since they don't like people using `pgcli --version` (as an example).

[2015-01-08 21:23] fzerorubigd commented on #82
Thank you for your fast response!
So this is duplicate of them, I close this one.

[2015-01-08 22:30] amjith commented on #73
I think having 'postgres' as a dependency is reasonable in this case.

I can't think of a better test than pgcli --help since this is an interactive app.

Thanks for updating the url to pypi.

Is there an automated way to compute the sha for all those packages?

[2015-01-08 22:36] felixhummel commented on #53
@amjith For me it's postgres 9.3. Same goes for the dev package. Got it via postgresql.org's debian repo.
This works, btw:

    psql DBNAME USERNAME

[2015-01-09 06:56] amjith commented on #67
PR #83 overlaps with this feature request. It add auto-escaping to the columns/tables that are keywords or Uppercased or spaces. But it doesn't do auto-completion if the user opens a double quote.

So I'm leaving this issue open to track that feature. :)

Cheers!

[2015-01-09 07:10] qwesda commented on #67
Hi,

yes I noticed this too but I wasn't sure what had to changed. Maybe just the `cleanup_regex` in `parseutils.py`?
If it's something that requires more work you could give me some pointers an i'll look into it ... but maybe your quicker doing it yourself.

[2015-01-09 07:29] amjith commented on #67
I think it should be a as simple as adding/removing stuff in the [cleanup_regex](https://github.com/amjith/pgcli/blob/master/pgcli/packages/parseutils.py#L11).

I haven't had time to deep dive into the code since I announced it. Barely keeping up with reviewing PRs and answering Issues. You're welcome to take a stab at it, otherwise I hope to spend some time this weekend to work on it. :)

Cheers!

[2015-01-09 07:53] amjith commented on #19
Merged in PR #63 that adds \x support to master.

This currently fails on Python 3, but that will be fixed before the next release.

Can someone install the latest master and try it out?

You can install the latest master using the following command.

`pip install -e git+git@github.com:amjith/pgcli.git#egg=pgcli`

[2015-01-09 08:24] #25 closed

[2015-01-09 08:45] amjith commented on #77
Yes. That would be useful. I'll look into this.

Thank you!

[2015-01-09 08:56] jackmaney commented on #19
It mostly works, but it seems to be printing extra information:

[code]

[2015-01-09 08:58] amjith commented on #77
Note to dev:

Check out how to how to hook up [on_abort](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/__init__.py#L233) to cancel a query.

[Psycopg2.cancel](http://initd.org/psycopg/docs/connection.html#connection.cancel)

[2015-01-09 08:58] jackmaney commented on #19
Whoah...it's not just with `\x`. I'm seeing double (`blarg` is just a test table):

[code]

[2015-01-09 10:02] macobo opened #93 "Multiple queries on the same line"
Only the last query result is output.

Got:
[code]

Expected: PSQL
[code]

[2015-01-09 13:31] Erethon commented on #70
If you need more people working on this, let me know.

[2015-01-09 14:54] CyberDem0n opened #96 "pgcli.packages.tabulate.tabulate is not aware of multiline strings"
Test example:

[code]

But instead of expected output we will get:

[code]

[2015-01-09 15:40] herlo commented on #70
Feel free to start on it, I'm likely going to be a little while before I
can get started.
On Jan 9, 2015 6:31 AM, "Dionysis Grigoropoulos" <notifications@github.com>
wrote:

[2015-01-09 17:41] amjith commented on #18
Aha. There is a way to find the server version using psycopg2. http://initd.org/psycopg/docs/connection.html#connection.server_version

:)

[2015-01-09 17:47] jaytaylor commented on #19
Awesome work everybody!

On Fri, Jan 9, 2015 at 1:05 AM, Jack Maney <notifications@github.com> wrote:

[2015-01-09 20:45] jackmaney commented on #18
Excellent. I'll try to scrape together a bit of time this weekend to give this a shot.

[2015-01-09 21:11] amjith commented on #77
This is now available via the pr #92 by @macobo.

It will be available in the next release.

If you're itching to try it out you can install from master using the following command:

[code]

[2015-01-09 21:14] karlb commented on #77
That was quick! Thanks!

On Fri, Jan 9, 2015 at 10:11 PM, Amjith Ramanujam <notifications@github.com>
wrote:

[2015-01-09 23:29] amjith commented on #73
@tvon Will you be submitting a PR to homebrew or should I take over from here?

Please let me know.

[2015-01-09 23:35] tvon commented on #73
@amjith I went ahead and submitted https://github.com/Homebrew/homebrew/pull/35709

There is no current means to compute the shas for the dependencies, I did it the hard way... Though it could be easily scripted.

[2015-01-09 23:55] amjith commented on #96
This is a feature request for [Tabulate](https://bitbucket.org/astanin/python-tabulate) and it looks like someone is already working on it.

https://bitbucket.org/astanin/python-tabulate/issue/28/feature-request-multiline-cells-and

[2015-01-09 23:59] amjith commented on #93
This is a tricky one (or maybe not).

We'll have to split by semi-colons and run them one at a time using pyscopg2 and print the results.

But the splitting has to take into account that a semi-colon could be inside a quoted string.

OT: I noticed in the pasted output, that the headers have ? around the column name. Is there a problem with displaying unicode chars?

[2015-01-10 00:05] amjith commented on #73
Thank you for submitting the PR.

After I asked you about the sha I went researching a little bit and found this script in the homebrew [cookbook](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Formula-Cookbook.md#formula-cookbook).

https://raw.githubusercontent.com/tdsmith/labmisc/master/mkpydeps

[2015-01-10 05:37] tdsmith commented on #73
Two scenarios:
* If pgcli is installed from a bottle (a Homebrew-generated binary package), `depends_on :postgresql` will force an installation of Homebrew postgresql.
* If pgcli is installed from source, either because Homebrew does not provide a bottle or a user passes `--build-from-source` to `brew install`, Homebrew postgresql will only be installed if there is not another postgresql in $PATH.

[2015-01-10 06:13] amjith commented on #77
This is now released in 0.11.0.

https://pypi.python.org/pypi?:action=display&name=pgcli&version=0.11.0

[2015-01-10 06:13] #77 closed

[2015-01-10 06:14] amjith commented on #19
This is now available in the release version 0.11.0

https://pypi.python.org/pypi?:action=display&name=pgcli&version=0.11.0

[2015-01-10 06:14] #19 closed

[2015-01-10 06:16] amjith commented on #72
Added `\dn` in version 0.11.0

https://pypi.python.org/pypi?:action=display&name=pgcli&version=0.11.0

[2015-01-10 06:25] amjith commented on #27
My one suggestion is try upgrading both `setuptools` and `pip`.

I suspect that there is a mismatch between setuptools and pip which is causing this behavior.

Another suggestion is try using `easy_install` (I know that sounds terrible), but I've heard from someone that when they couldn't get it to install via pip they tried it via easy_install and it worked.

So those are the two options.

[2015-01-10 09:06] macobo commented on #93
I *think* sqlparse has a function for doing the splitting, I'll dig a bit and do a PR.

Re OT: as psql does the same thing I think it's the intended behavior.

[2015-01-10 11:08] macobo opened #99 "Reverse history search - CTRL+R"
Similar to the bash shell, psql allows you to search backwards in history using a substring of a previous query. We should emulate this in pgcli.

This seems like something prompt_toolkit should handle, so I'll go dig in the docs.

[2015-01-10 13:32] kerstin commented on #73
That doesn't really answer the original question though.
If I read your reply correctly, the answer is: _yes_, a brew install of pgcli will force a brew installation of postgresql even if the user previously installed Postgres via other means.

Could this lead to problems? (Especially for lesser experienced users.)

[2015-01-10 16:07] tvon commented on #73
Ah, yes, installing pgcli will force a brew installation of postgresql.

Generally speaking I don't think this will cause problems, but here are some potential pitfalls (in rough order of likelihood):

1. The brew install is in the `PATH` before the non-brew install and the user relies on the command line tools.  This may or may not be an issue depending on the tools being used, but it's worth men

[2015-01-10 18:18] SomeKittens commented on #48
That fixed it, thanks so much!

[2015-01-10 18:18] #48 closed

[2015-01-11 00:18] fpietka opened #101 "Connecting to server only specifying `postgres` user"
When I usually connect to a postgres server I just type the following:

    psql -U postgres

This automatically connects me to postgres database. Here, `pgcli` is connecting me to my current user database.
I don't know if this is a Debian specificity, but I coudn't see anything about it in my config files nor on postgresql documentation.
Isn't it a difference of behavior?

[2015-01-11 00:25] amjith commented on #101
You're right, this discrepancy should be fixed. Right now we're falling back to the $USER env var to use for both user name and database name. But if a Username is provided and the database name is omitted then we should fall back to the Username as the database name.

Thanks for reporting it. I'll fix it soon.

[2015-01-11 00:28] amjith opened #102 "Logging only works in main.py"
Looks like logging from other files is currently broken.

I presume it's because we initialize the loggers on the instance variable of the PGCli class. Need to read through the logging cookbook to understand how to do this correctly.

[2015-01-11 00:42] darikg commented on #102
just fixed that in #103

[2015-01-11 01:05] #101 closed

[2015-01-11 01:13] amjith opened #106 "Auto-completion is broken for multiple queries in the same line"
eg: Let's assume $ is the cursor position.

[code]

That should suggest table names, but instead I'm getting keywords.

[2015-01-11 01:14] amjith commented on #102
Fix merged to master.

Thanks @darikg

[2015-01-11 01:14] #102 closed

[2015-01-11 08:23] amjith opened #107 "Print the alias used by ipython-sql when using %pgcli magic"
In the original ipython-sql magic extension when a connection is made, the alias used to store that connection is printed to the console.

eg:

[code]

It will be useful to do the same for `%pgcli` as well.

[2015-01-11 08:26] amjith commented on #99
This was working out of the box in prompt_toolkit 0.25. I wonder if this is accidentally broken in 0.26.

Try pgcli 0.11 the reverse search works fine in that version.

[2015-01-12 05:58] amjith commented on #73
@tvon Thanks for working through the issues and addressing the requests of the homebrew maintainers.

I see that it is now merged. I'm grateful for your help and resolve in getting this done. :)

I'll update site to include the brew install method in install pages.

:guitar:

[2015-01-12 08:11] amjith commented on #73
http://pgcli.com/install is updated.

Thanks!

[2015-01-12 08:11] #73 closed

[2015-01-12 08:12] amjith commented on #99
I tried adding 'load_emacs_search_bindings(registry)' to key_bindings.py but then pressing Ctrl-R crashes pgcli.

I've sent an email to prompt_toolkit author to request help. I'll update once I hear back.

[2015-01-12 08:44] amjith commented on #67
This commit afef77a6193931915d2cbf6c77b3295f6c64b57d fixes the auto-completion for quoted tables/columns that are auto-escaped.

[2015-01-12 08:47] jerome-peng opened #108 "how to use pgcli on win7"
my pc is win7 32bit system, i want to use pgcli, then i get some errors.

my operation is bellow:

1 download python3.4.2 from https://www.python.org/downloads/release/python-342/
 installed in D:\Python‍

2 install python-pip
   download get-pip.py from ‍https://bootstrap.pypa.io/get-pip.py to D:\‍
   run command: python d:\get-pip.py‍

3  pip install pgcli ‍
D:\Python\Scripts>pip install pgcli
C

[2015-01-12 08:48] amjith commented on #99
This is now fixed by the changes that are merged by this commit: 6018308a72dd3ad41f1d18a86e32a3c2e41da099

[2015-01-12 08:53] amjith opened #109 "Create a standalone pgcli.exe for windows"
I would love to get some help on creating a single standalone pgcli.exe binary for windows.

I've heard that it is possible to do that using py2exe, but I don't have personal experience with that.

[2015-01-12 08:54] amjith commented on #108
:(

I'm sorry you're having to install so many different things. I believe this is due to the required  dependencies for psycopg2. But I have limited experience with installing python packages in Windows so I'm not the best person to give you advice. I hope someone else has a solution for this.

I've also created a new issue #109 to try and create a single executable using py2exe or something simi

[2015-01-12 09:01] jerome-peng opened #110 "pgcli compare to psql?"
i use pgcli and psql to access db.

i found pgcli is slow when i post a query,  psql is faster.

"\timing off/on" is not support in pgcli,  it works better on psql

"\h create table" is not support in pgcli,  it works better on psql

"\h XXX XXX " is not support in pgcli?

[2015-01-12 09:08] amjith commented on #110
Not all of the back-slash commands are supported yet. To get a list of supported back-slash commands try \?. That will give you the list of supported back-slash commands.

\timing is interesting, I didn't know about it. But it should be easy to add. So thanks for requesting that.

\h is a much harder command to implement, since it involves copying tons of documentation text into the source code. S

[2015-01-12 09:11] amjith opened #111 "Implement \timing command"
In psql `\timing` is used to toggle the timing of a query.

This should be easy to do by timing the calls to the PGExecute.run() method.

It would be useful to break out the time spent in building the table as well.

[2015-01-12 09:14] jerome-peng commented on #110
my query table is 27MB, columns 7 rows 271299  use psql expense 38.530

but pgcli more than 5 seconds

[2015-01-12 09:18] amjith commented on #110
Sorry that's a bit unclear.

Will the results have 271299 rows?

What query did you run? Can you paste the query? (please remove any sensitive information from the query).

Finally you mention psql expense was 38.530, is that in seconds?

I should point out that running the actual query itself will take the same time in both psql and pgcli, but pgcli might take a little bit longer to render the re

[2015-01-12 09:59] jerome-peng commented on #110
select * from table;

sorry ,psql expense 38.53ms

i feel slow in pgcli

[2015-01-12 10:04] amjith commented on #110
Yeah I can believe that.

On a table with 271,299 rows displaying every single row will require reading all the rows into memory and then trying to determine the table cell width. I think that's the problem.

I don't have an easy answer for this one right now. Unless I end up rewriting the table rendering as a C-extension, this will continue being slow.

In an interactive scenario, requesting hund

[2015-01-12 10:19] borissamardzija commented on #27
Hello,

just for information; I was also getting traceback on first run on Debian 7 stable (Wheezy)

[code]

Thanks @amjith , problem solved by installing using `easy_install`!

[2015-01-12 10:21] amjith commented on #27
@borissamardzija Did you try upgrading `setuptools` and `pip`.

I've heard from someone else that after they did

`pip install -U setuptools pip`

they were able to install `pgcli` and get it to work without problems.

But if easy_install works for you then more power. :)

Thanks for letting me know.

[2015-01-12 10:33] borissamardzija commented on #27
Now I tried to update ```setuptools``` and ```pip```, but the problem is still here.

[code]

Installed again with ```easy_install``` and works great ;)

Please let me know if I can do anything else to help you with this, if needed.

[2015-01-12 15:37] treystout commented on #27
updating pip and setuptools worked for me.

[2015-01-12 17:45] darikg commented on #108
install psycopg2 from a binary [here](http://www.stickpeople.com/projects/python/win-psycopg/) instead of through pip

[2015-01-12 18:33] #107 closed

[2015-01-12 22:43] amjith opened #113 "Overload up/down arrow to match partially typed in query from history."
Right now, up/down arrow will navigate the history.

But if someone enters a partial query in the REPL (such as 'SEL') and hit up arrow then it should only cycle through the entries that start with 'SEL' such as 'SELECT \* FROM abc'.

This is probably a prompt_toolkit addition, but adding it here to keep track.

/cc @jonathanslenders your thought on this would be appreciated.

[2015-01-12 23:03] jonathanslenders commented on #113
True. There is an issue for this: https://github.com/jonathanslenders/python-prompt-toolkit/issues/36

It's not an easy one. I'm not sure whether this can be handled correctly in a multiline context. Also not the biggest priority for me, but certainly on the to do list.

[2015-01-12 23:09] amjith commented on #113
I'll take a stab when I get some time. I think it's a useful feature, but you're right about having complications in multi-line mode.

[2015-01-13 00:49] amjith opened #114 "Add automatic testing on windows platform using AppVeyor"
Check if it's possible to use http://www.appveyor.com/ for testing on Windows.

[2015-01-13 01:23] jerome-peng commented on #110
With psql, execute the sql "select * from table", no matter the query returns how many rows, it returns the proper rows according to you terminal height,  then you can press "enter" key to view the next.
i think this is good .

that;'s  the reason  why psql is faster than pgcli when query .

[2015-01-13 01:25] jerome-peng commented on #110
just like use page

[2015-01-13 01:26] jerome-peng commented on #110
my english is not very good ,  i wish you cound unserstand my meaning .  :)

[2015-01-13 05:45] amjith commented on #110
Don't worry about english. My native tongue isn't english either. I think I understand what you're saying, correct me if I'm wrong.

Instead of loading all the rows into memory and try to render the table all at once, I should try and load maybe 50 rows at a time and only load more when the next page is requested.

That's an interesting idea. I hadn't thought of that. I'll give it a shot and see i

[2015-01-13 08:04] amjith opened #115 "Add the table name when printing the results in a table"
Right now the output of the tables are printed without any table name at the top.

eg:

[code]

It would be nice to add the table name at the top of each table.

[2015-01-13 08:21] sandipp opened #116 "sudo pip install pgcli not working."
I got following error while executing `sudo pip install pgcli`

[code]

[2015-01-13 08:24] amjith commented on #116
One of the requirements for `pgcli` is `psycopg2`. Which requires postgres-dev packages and python-dev packages installed on the system.

So try one of the following, depending on your linux distro:

[code]

and then try `sudo pip install pgcli`.

[2015-01-13 08:26] amjith opened #117 "Changing to a non-existent database using \c crashes pgcli"
When the `\c` fails because of a non-existent database, it crashes pgcli.

/cc @macobo

[2015-01-13 08:43] amjith commented on #99
This is now released in v0.12.0.

https://pypi.python.org/pypi/pgcli/0.12.0

[2015-01-13 08:43] #99 closed

[2015-01-13 08:44] amjith commented on #67
This is now released in v0.12.0.

https://pypi.python.org/pypi/pgcli/0.12.0

[2015-01-13 08:44] #67 closed

[2015-01-13 08:44] amjith commented on #9
This is now released in v0.12.0.

https://pypi.python.org/pypi/pgcli/0.12.0

[2015-01-13 08:44] #9 closed

[2015-01-13 08:45] amjith commented on #93
This is now released in v0.12.0.

https://pypi.python.org/pypi/pgcli/0.12.0

[2015-01-13 08:45] #93 closed

[2015-01-13 08:54] sandipp commented on #116
@amjith `sudo yum install postgresql-devel python-devel  # redhat` this command work perfectly.

Thank you.

[2015-01-13 08:55] amjith commented on #116
I'm glad that worked for you.

Happy hacking!

[2015-01-13 08:55] #116 closed

[2015-01-13 22:45] PeteJodo opened #118 "pip install fails"
Installation fails if you don't have one or some of the following packages:
- python2.7-dev
- libevent-dev

The error: `error: command 'x86_64-linux-gnu-gcc' failed with exit status 1`
I would put in a PR to add this info to the README but I don't know which one fixed it or if it was both and don't want to put false info in it so figured I'd at least leave this here

[2015-01-13 23:43] amjith commented on #118
You're right the detailed instructions in the readme should have that information.

Feel free to make a PR. If not, I'll make the necessary changes later tonight when I get home. Thanks!

[2015-01-14 05:07] #117 closed

[2015-01-14 05:21] amjith commented on #57
@pythonhacker Can you please confirm if you're still seeing the issue on the latest version?

[2015-01-14 05:53] #65 closed

[2015-01-14 06:02] #66 closed

[2015-01-14 06:03] amjith commented on #66
I found the code path that was referencing the wrong arg. It is now fixed.

Thanks for reporting it. :green_apple:

[2015-01-14 06:25] #118 closed

[2015-01-14 06:25] amjith commented on #118
Readme is now updated.

Thanks for reporting it. :umbrella:

[2015-01-14 06:26] amjith commented on #108
@jerome-peng Were you able to get pscypg2 installed on Win 7 using the binary suggested by darikg?

Did you manage to get `pgcli` working in Win 7?

[2015-01-14 06:46] jerome-peng commented on #108
yes ,i use darikg's suggestion install psycopg2, then use pip install pgcli, the install process is normal.
here is log:

  Running setup.py install for pgcli
    Installing pgcli-script.py script to D:\Python\Scripts
    Installing pgcli.exe script to D:\Python\Scripts
    Installing pgcli.exe.manifest script to D:\Python\Scripts
Successfully installed Pygments-2.0.1 click-3.3 jedi-0.8.1 pgcli-0.

[2015-01-14 06:53] jerome-peng commented on #108
:)
it works !
D:\Python>pgcli -h 192.168.20.19 -p 5444 -U afc edb

it must add -h -p option,   i thought i can't input the port  becasue use default

[2015-01-14 07:14] amjith commented on #108
It uses the default port of 5432, if it is not specified explicitly with the -p option.

I'm guessing you have some other service listening on 5432 and pgcli is trying to connect to that port.

[2015-01-14 07:14] amjith commented on #108
Looks like you got it working. I'll close this ticket for now.

[2015-01-14 07:14] #108 closed

[2015-01-14 07:28] jerome-peng commented on #108
yes it working. thanks all.

[2015-01-15 13:24] contradictioned commented on #39
:+1:

[2015-01-15 21:19] amjith opened #121 "Rendering large amounts of rows is taking *forever*"
Look into rendering tables in chunks if possible instead of loading all the rows and trying to figure out the spacing.

[2015-01-15 21:21] amjith opened #122 "Add an option to use fancy-grid for printing tables"
Right now we're using the 'psql' style for rendering tables using the tabulate module. Add an option to set the style through the config file as well as at runtime (maybe cycle through the styles on a keystroke).

[2015-01-15 21:27] amjith opened #123 "Link to pypa docs for pip installation instructions"
Right now the Readme has a lot of information about installing pip, this can be replaced with a link to https://pip.pypa.io/en/latest/installing.html

[2015-01-16 07:42] amjith commented on #111
This is now available in master. 151a018

[2015-01-16 08:44] cschramm opened #124 "Encoding issues within error messages"
When I try to connect using a role that does not exist, pgcli display `'ascii' codec can't decode byte 0xe2 in position 14: ordinal not in range(128)` as it obviously trips over a „ character.

[2015-01-16 08:47] amjith commented on #124
That is quite bizarre.

I'm able to reproduce it. I'll see if I can track it down.

Thanks for reporting the bug. :)

[2015-01-16 15:51] TarImre opened #125 "Auto-completion does not work for LIMIT sql keyword"
When I try to use Tab key after the next command, the LIMIT option does not appear.
```testdb> SELECT * FROM test_table L```

[2015-01-16 15:53] TarImre commented on #125
I use pgcli 0.13.0 pip package.

[2015-01-16 15:54] amjith commented on #125
Yep! You're right. Looks like I don't have the LIMIT listed in the Keywords (https://github.com/amjith/pgcli/blob/master/pgcli/pgcompleter.py#L12).

I'll fix that.

Thanks for reporting. :)

[2015-01-18 06:51] #125 closed

[2015-01-20 20:18] veegee opened #130 "Autocomplete "LIMIT" keyword"
"LIMIT" doesn't seem to be autocompleting, or even showing up in the popup menu.

[2015-01-20 20:27] veegee opened #131 "Use ANSI terminal colours instead of 256 colour mode"
Many people have set their terminal colour scheme to something like Solarized. By using 256 colours, you're ignoring the custom ANSI colours that have been set, and text becomes hard to read. It is always best to stick to ANSI 16-colour mode.

[2015-01-20 20:53] amjith commented on #130
Yeah, I missed that keyword in the original list. It is now fixed in master. It'll be available in the next release (probably this weekend).

[2015-01-20 20:54] amjith commented on #131
Hrm. This might be harder to do, since I rely on prompt_toolkit library to handle all of that for me. But I'll check if there is an easy way to detect and set the color mode accordingly.

[2015-01-21 14:29] timscott opened #132 "Crash: image not found"
I get this error:

[code]

[2015-01-21 17:40] amjith commented on #132
Sorry about the crash.

It looks like psycopg2 is having trouble loading.

Do you have postgres installed on the machine you're trying to run this?

Can you launch the python interpreter and try importing psycopg2?

[code]

If that doesn't succeed then you probably don't have psycopg2 installed correctly. I'd recommend installing postgres first and then trying a `pip install psycopg2`.

Alternativ

[2015-01-22 13:19] dkastl opened #134 "Cannot handle multibyte characters (ie. Japanese)"
It seems, that multibyte characters are not supported at all.

The following example uses Japanese characters:

With PSQL:

[code]

With PGCLI:

[code]

You will receive the same error for every query, that has to deal with a table containing multibyte characters.

[2015-01-22 23:47] qwesda opened #135 "homebrew formula should not include postgresql as a dependency"
Hi,

the homebrew formula contains postgresql as a dependency. I don't think this is optimal since people who want to use pgcli will propably already have a postgres instance up and running, but it must not necessarily be the homebrew variant. Fixing this issue will be trivial but it should be coordinated with the person who contributed the formula.

[2015-01-23 01:27] amjith commented on #134
Confirmed that this is a bug. I'll have to drill down and find out where that error is coming from (possibly in psycopg2).

Sorry about the trouble. I'll see if I can fix it soon.

Thank you for reporting.

[2015-01-23 07:42] amjith commented on #135
I'm actually on the fence on this one.

I asked the same question in the original issue #73 for the homebrew formula. But without that dependency the formula won't succeed in a sandboxed environment. If it doesn't succeed in the sandboxed env, then the formula is not accepted.

So that dependency became mandatory. There is an alternative to that which is brew installing from source `brew install -

[2015-01-23 07:49] amjith commented on #135
I've updated the README (897934711872ecfa5cd66e967f1dc1d045464adc) and the website (https://github.com/amjith/pgcli.com/commit/37d37d4e150af8174e147ac5afb92c51bc943fe6).

[2015-01-23 11:59] qwesda commented on #135
I see the problem ... sorry I only looked through the open issues.
This issue can be closed and marked as a dupe. Maybe it could be discussed later (when the source code is more stable) if building from source, and not having the dependency, is preferable.

[2015-01-23 14:59] #135 closed

[2015-01-23 15:45] amjith commented on #134
This works correctly in Python 3. I think I just need to wrap the inputs in unicode and it should work.

[2015-01-23 20:58] amjith opened #136 "Add Vi Keybindings"

[2015-01-24 06:17] yukungis opened #138 "in windows there is no response when entered sql"
In windows,when I entered the sql,then press enter key,but there is no response in command line.

[2015-01-24 14:07] darikg commented on #138
I believe that's [this issue](jonathanslenders/python-prompt-toolkit#86) which is happening in python-prompt-toolkit on windows in python 2.7. If it is, you can press control+enter instead.

[2015-01-25 06:36] amjith opened #139 "Make pgcli the default for django's dbshell command."
Django has a helper method to launch the respective database client using the django-admin.py dbshell.

Right now it defaults to psql for postgres, it'll be nice to use pgcli if it is installed and then fall back to psql.

https://github.com/django/django/blob/master/django/db/backends/postgresql_psycopg2/client.py

[2015-01-25 09:01] amjith commented on #134
I did some testing and found out that this is an inconsistency in `psycopg2`. I've filed a bug with `psycopg2` (https://github.com/psycopg/psycopg2/issues/282).

But this bug doesn't affect the sql statments that return unicode values that are stored in the database.

For ex:

[code]

So if multi-byte char values are stored in the database and we retrieve them, then they are rendered correctly. Bu

[2015-01-25 12:57] dkastl commented on #134
Thank you for looking at this!

My initial test was with a table that contained Japanese characters, so if that works now, that's great!
The sample query I posted was just an easy way to reproduce it without a table.

I can help to test, if it's working, but can I just install the latest version with `pip install pgcli`?

[2015-01-25 13:18] thedrow commented on #134
It seems that this is a postgresql feature. Not a bug.

[2015-01-25 16:28] thedrow commented on #139
Yes please!

[2015-01-25 18:13] amjith commented on #134
@dkastl I haven't released the latest version to PyPI.

You can install pgcli directly from this git repo using the following command:

[code]

Can you please try that and let me know if that fixes your issue?

Thanks!

[2015-01-26 04:48] dkastl commented on #134
@amjith Thank you! It worked now as you said, when I select from an actual table.

So for "normal" tables it works, but for tables with an `hstore` column inside, which again contains Japanese, the error seems to remain.

Well, this is now a not so common use case, and it was just a coincidence, that I tested it with a table, that uses `hstore`, so this probably affects only very few people.

But

[2015-01-26 04:53] amjith commented on #134
I'm not too familiar with the hstore. I know it's the no-sql feature of postgres. Does it mean that the 'attribute' column won't have a datatype (such as varchar?).

Because the author of psycopg2 shed some light on why the simple case of `SELECT '日本語' AS japanese;` didn't work. It's because postgres returns the type as 'unknown'.

I'll have to check what is the type returned by hstore. I'll see h

[2015-01-26 05:36] dkastl commented on #134
Well, I just use `hstore` sometimes because it's convenient for certain use cases, but I don't know about details. When you look at the `hstore` documentation, then there are various ways to return the hstore content using functions, for example `svals(attributes)` and then it works correctly.

[code]

The following query actually works, if you cast as `text`:
[code]
So the explanation makes sense

[2015-01-26 08:19] #134 closed

[2015-01-26 08:21] amjith commented on #134
I've fixed it temporarily by adding a unicode type-caster for hstore. But I've also requested psycopg2 author to default to unicode instead of utf-8 string. Can you try installing the code from master and try again?

[code]

Thanks!

[2015-01-26 08:27] dkastl commented on #134
Thanks!
Could you tell me, how I can make sure, to pull the most recent version?
I think just running `pip install` didn't update.

[code]
The way I uninstalled it before didn't work.
So I just run again

[code]
... but it seems it didn't update or it still doesn't work to run `SELECT * FROM test WHERE id = 3;`.

[2015-01-26 08:49] amjith commented on #134
I think you might need a `-U` option to make sure it is upgraded.

[code]

[2015-01-26 15:22] amjith commented on #138
Issue: https://github.com/jonathanslenders/python-prompt-toolkit/issues/86

Fix the link in the Darik's comment.

[2015-01-26 15:23] amjith commented on #130
This is now added to master. If you have time please try out the latest from master. Thanks!

[code]

[2015-01-26 15:24] amjith commented on #124
This is now fixed in the master. Can you please try it out and let me know? Thanks!

[code]

[2015-01-26 15:29] cschramm commented on #124
Unfortunately after running that command I still get the same error.

[code]

[2015-01-26 15:32] amjith commented on #124
My bad. I thought I had fixed it, but looks like I fixed a related issue but not this specific one. Thanks for trying it out.

[2015-01-26 16:46] dkastl commented on #134
Hmm, did not work after upgrading (which required the flag `--force-reinstall` to upgrade).
But let's see if psycopg2 can provide a solution for this. I don't think hstore support is a blocking issue.

[2015-01-26 17:06] amjith commented on #134
I've reopened the issue.

This is what I did to test the hstore issue after the fix.

[code]

Can you tell me what's the structure of the table you're trying this on?

[2015-01-26 17:09] dkastl commented on #134
It's exactly the same example you're using as described in a previous comment.
Maybe I'm just not able to upgrade using the Git repository.
So if it works for you, I would close the ticket.

[2015-01-26 17:10] amjith commented on #134
I'll try and release the new version soon. I'm waiting to merge in a big pull request that adds schema support. Otherwise I'd release it today. Sorry about the wait.

[2015-01-26 17:13] dkastl commented on #134
No problem at all. I was just interested trying out pgcli. The schema support is even more important for me. Thanks a lot for your work!

[2015-01-26 18:52] bpina commented on #124
I am also running into a character encoding issue while trying to view a table using a bytea data type.

brian@theon ~ $ pgcli tracker
tracker> select * from torrents;
'ascii' codec can't decode byte 0xfa in position 0: ordinal not in range(128)

[2015-01-26 18:56] amjith commented on #124
@bpina This is a different issue, which is actually fixed in master. Can you try the latest from master?

You can install directly from github:

[code]

[2015-01-26 19:00] bpina commented on #124
:+1:  that helped, thanks

[2015-01-27 04:26] #22 closed

[2015-01-27 04:30] amjith commented on #22
This feature is finally available in master. Thanks to @darikg's hard work on this.

You can try it out by installing pgcli from github directly (since I haven't release the new version to PyPI yet).

[code]

I would appreciate if some of you could try it out and let me know if it works to your satisfaction.

[2015-01-27 04:35] amjith commented on #82
Schema support is added to master. Sql statements with schema names now have auto-completion (thanks @darikg).

But \dt schema is still broken. So I'm reopening the issue.

\dn is available in master.

[2015-01-27 06:22] yukungis commented on #138
my python version is 3.4.
If I press ctrl+enter ,It will produces errors like this.
![error](https://cloud.githubusercontent.com/assets/1825425/5914394/ee136b40-a62f-11e4-9861-0f30a59400c0.png)

[2015-01-27 07:07] #124 closed

[2015-01-27 07:09] amjith commented on #124
@cschramm This time I definitely fixed it. :)

Can you give it a shot?

[code]

From my limited testing:

![screen shot 2015-01-26 at 11 08 16 pm](https://cloud.githubusercontent.com/assets/49260/5914751/4706ecfc-a5b0-11e4-9c7e-b7b2c2cbb08d.png)

[2015-01-27 07:28] amjith opened #140 "Add support for pypy"
Right now pgcli won't work in pypy because psycopg2 won't install for pypy. But there is psycopg2cffi for pypy.

[2015-01-27 08:11] cschramm commented on #124
Yeap, now I get my error message. :smiley:

[2015-01-27 14:08] amjith commented on #123
e1311fc892bbcca6486e91e43bca4c6927f40156

[2015-01-27 14:08] #123 closed

[2015-01-28 17:06] fzerorubigd commented on #134
I don't know if this is relevant or not, but pressing any key in Persian layout, crash pgcli , Can not even type a single persian character.
[code]
Using the current master 27a363ee06d8c3e2faadeebf3031a3f1c71b46ad in a Debian 7 (whezy) in a docker container.

[2015-01-28 17:25] amjith commented on #134
It looks like the error might be coming from prompt_toolkit library.

Since you have prompt_toolkit installed (as part of the dependency), can you try launching `ptpython`. It's a python repl that comes bundled with prompt_toolkit. If you get the same problem with ptpython, I'll at least know it's contained within the prompt_toolkit lib.

[2015-01-28 18:17] fzerorubigd commented on #134
Yes. I think its prompt_toolkit
[code]

Do I need to report it some where else?

[2015-01-28 19:26] amjith commented on #134
This is prompt-toolkit's github issues page: https://github.com/jonathanslenders/python-prompt-toolkit/issues

I'd file it myself, but without the ability to reproduce it, I'm not sure I can provide enough details.

[2015-01-28 21:11] jeremybmerrill opened #141 "postgres is case-insensitive for table names, but pgcli isn't"
postgresql is case-insensitive for table names (technically, downcasing all of them), so `DEC_00_SF3_QTP16` refers to the same table as `dec_00_sf3_qtp16`.

For reasons that are fairly abstruse, I refer to my tables in my codebase in partial/all caps, e.g. `DEC_00_SF3_QTP16`, so in my head, that's the name of my table. However, in pgcli, when I try to autocomplete from `DEC`, I get nothing, and ha

[2015-01-29 09:35] amjith commented on #141
You serious? I thought you could have case-sensitive table names but you'd have to use double quotes to preserve the casing.

Can you try SELECT * FROM "DEC<tab>  ?

I believe that should work.

[2015-01-29 14:07] jeremybmerrill commented on #141
Sorry, maybe I explained this poorly. The issue is with an inconsistency between postgres and pgcli's treatment of case in the context of pgcli's autocomplete behavior.

PG is case-insensitive -- it stores my table as `dec_...`, but lets me query it like `DEC_...`. pgcli won't autocomplete from `DEC_`. My expected behavior is that pgcli would let me autocomplete from `DEC_` (because postgres accep

[2015-01-29 18:24] #106 closed

[2015-01-29 21:34] amjith commented on #141
Got it.

Try the latest master. You can install from master using pip as follows:

[code]

[2015-01-29 21:55] amjith commented on #141
Fixed by c08d4a51e5540e7ada833bd4beb6ba2f4bdba37e

[2015-01-29 22:11] jeremybmerrill commented on #141
Tested and it works great! Thanks very much for your help. As I said before, great tool!

[2015-01-29 22:11] #141 closed

[2015-01-30 06:03] amjith commented on #141
Thank you for checking it. I'm glad it works. I'll release the new version to PyPI this weekend.

[2015-01-31 11:38] pmontrasio opened #143 "Booleans are displayed as 0 1 and not as false true"
This is pgcli 0.13:

    db> select boolean_column from table;
    +----------------------+
    |       boolean_column |
    |----------------------|
    |                    1 |
    |                    0 |
    |                    1 |
    |                    0 |

psql reports them correctly:

    db=> select boolean_column from table;
     boolean_column
    --------------------
     t
     f

[2015-01-31 14:07] darikg commented on #82
Looking into this a bit, the problem is that the \dt special command currently ignores the following argument, so no filtering of any sort is done, it just shows all public tables no matter what.

psql seems to work like the following pseudo-python:
[code]

So the biggest impediment to fixing this issue is figuring out how to parse the argument into a schema filter and table filter, converting wil

[2015-01-31 21:03] amjith commented on #82
There's already functions in pgspecial.py to do the wildcard conversion and double quotes escaping.

https://github.com/amjith/pgcli/blob/master/pgcli/packages/pgspecial.py#L706

[2015-01-31 23:53] amjith commented on #130
Version 0.14.0 released to PyPI.

[code]

[2015-01-31 23:53] #130 closed

[2015-01-31 23:54] amjith commented on #121
Added a confirmation before printing large tables.

[2015-01-31 23:54] #121 closed

[2015-01-31 23:56] amjith commented on #110
Version 0.14.0 released to PyPI.

This adds support for `\timing` and requires you to confirm before rendering a table with more than 1000 rows.

[code]

[2015-01-31 23:56] #110 closed

[2015-01-31 23:56] amjith commented on #122
Version 0.14.0 released to PyPI. That has support for choosing style via the config file.

[code]

[2015-01-31 23:56] #122 closed

[2015-01-31 23:56] amjith commented on #111
Version 0.14.0 released to PyPI.

[code]

[2015-01-31 23:56] #111 closed

[2015-01-31 23:57] amjith commented on #57
Version 0.14.0 released to PyPI.

Multiple fixes to unicode handling in this release.

[code]

[2015-01-31 23:57] #57 closed

[2015-01-31 23:57] amjith commented on #56
Version 0.14.0 released to PyPI.

[code]

[2015-01-31 23:57] #56 closed

[2015-02-01 00:00] amjith commented on #143
Yes. This is a valid concern. I'll see if I can register a handler for booleans in psycopg2 to return them as strings.

[2015-02-01 00:34] amjith commented on #143
Fixed in master. 6e3da4c5b1d1369348dd333c8510f516ec76a5cf

Can you try the latest HEAD? You can install directly from master:

[code]

[2015-02-01 09:17] pmontrasio commented on #143
It works, I get ```False``` and ```True``` now. That could be better (more clear) or worse (more verbose) than pgsql ```f``` and ```t``` but I'm not a large enough sample to judge.

[2015-02-01 09:17] #143 closed

[2015-02-01 09:40] thedrow commented on #140
It also works for PyPy 3 FYI.

[2015-02-01 18:50] tonymcdaniel commented on #131
If changing the color mode is difficult, would it be possible to add a setting in the .pgclirc file to disable syntax highlighting? I'm using Solarized in iTerm2 on a Mac and certain characters in my queries disappear against the background color.

[2015-02-01 21:47] amjith commented on #131
@tonymcdaniel Yes. I'll add that feature. It's on my todo list to make the colorschemes selectable from the config file, I'll also add an option to turn it off completely.

[2015-02-03 09:50] edoardoc opened #145 "query errors connecting to a non utf-8 db"
db> select * FROM table
'ascii' codec can't decode byte 0xc3 in position 104: ordinal not in range(128)

it happens connecting to a us_ascii (non utf-8) encoded db

[2015-02-03 11:45] Septembers opened #146 "requset support: COPY command auto-completion"
see http://www.postgresql.org/docs/9.3/static/sql-copy.html

[2015-02-03 15:34] amjith commented on #145
Would you be able to give me an example to reproduce? I'm using psycopg2 for connecting to the postgres database and so far I've seen psycopg2 handle either utf-8 or ascii. So I don't understand how ascii encoding could be failing.

Can you also send me the log files (they're located in ~/.pgcli.log).

Thanks

[2015-02-03 15:35] amjith commented on #146
Can you explain a little bit more?

Would you like to see auto-completion support for the COPY command or is COPY command failing to run?

[2015-02-03 15:43] Septembers commented on #146
auto-completion support <code>COPY</code> command

[2015-02-04 12:34] jerome-peng commented on #110
gets, thanks a lot.

pcsuccess@sina.com

From: Amjith Ramanujam
Date: 2015-02-01 07:56
To: amjith/pgcli
CC: jerome-peng
Subject: Re: [pgcli] pgcli compare to psql? (#110)
Version 0.14.0 released to PyPI.
This adds support for \timing and requires you to confirm before rendering a table with more than 1000 rows.
pip install -U pgcli

—
Reply to this email directly or view it on GitHub.

[2015-02-04 13:24] edoardoc commented on #145
sending you the logs for now...

[2015-02-04 13:25] edoardoc commented on #145
no zip files so here you are:

~ cat ~/.pgcli.log
2015-02-03 11:41:53,146 (33335/MainThread) pgcli.main ERROR - sql: u'select * FROM annuncio400 limit 10', error: UnicodeDecodeError('ascii', 'TAVOLINO come da foto E 5 Spedisco con 9,00 dopo ricarica postepay o bonifico ritiro su Roma uscita del raccordo n\xc2\xb0 17 Torre Angela 1606@live.it

[2015-02-05 02:36] amjith commented on #146
I've added preliminary support for the COPY command in master. I say preliminary because when you type `COPY <tab>` it'll list all the schemas and tables, which is expected. But when you type `COPY table_name FROM <tab>`, it still displays the tables, which is not the expected behavior since it should be completing filenames. But that'll take some more work so I'm going to punt on that for a bit.

[2015-02-05 02:46] amjith commented on #131
Ok. I've added the ability to pick a different color scheme via the ~/.pgclirc config file to master.

You can install directly from master using the following command:

[code]

Then add this line to your config file (~/.pgclirc)

[code]

All the built-in pygments styles are available to choose:

[code]

I still have to figure out how to completely turn off all coloring.

If you can try it out and

[2015-02-05 02:48] veegee commented on #140
An alternative is to use pg8000. Is there a really hard dependency on psycopg2?

[2015-02-05 02:51] amjith commented on #140
@veegee That's interesting. I didn't know of it's existence. There is no hard dependency but I'd like the library to handle unicode stuff correctly. I'll check it out. Thank you!

[2015-02-05 02:52] amjith commented on #145
Thank you!

I think it might be a table name with unicode characters. That is a case I have not tested yet. I'll give it a shot.

[2015-02-05 02:54] veegee commented on #131
I think there should be a way to define your own colours for all UI elements. That might solve the issue.

[2015-02-05 06:00] amjith commented on #145
It is now fixed in master.

You can install directly from github with the following command:

[code]

Can you give it a shot and let me know?

[2015-02-05 06:14] thedrow commented on #140
Pyscopg2cffi is a good library and you'll use it anyway if you're using PyPy.

[2015-02-05 06:39] Septembers commented on #146
thanks.

[2015-02-05 06:39] #146 closed

[2015-02-05 07:07] edoardoc commented on #145
it works :)

[2015-02-05 07:09] amjith commented on #145
Yay!! I'll release the new version this weekend. Thank you for testing it.

[2015-02-05 07:10] amjith commented on #82
This is now fixed in master. Thanks to @darikg.

Can you try it out? You can install from the git repo directly:

[code]

[2015-02-05 07:27] edoardoc commented on #145
it is now showing

argument 2 to map() must support iteration

every time I hit enter without a command..

[2015-02-05 07:41] amjith commented on #145
Good catch.

I forgot about that case. I've fixed it now. You should be able to run the pip install once more to install from the git repo and it should work as expected.

[2015-02-05 08:11] edoardoc commented on #145
yes!
even though it doesn’t harm I’d remove the

when you don’t issue any command ...it only reminds you how imprecise the system clock is :)

[2015-02-05 08:37] amjith commented on #145
You're right. I should be more clever about this sort of thing. :)

[2015-02-05 08:46] edoardoc commented on #145
you are doing a very nice job already.
PS: where could I contribute with a feature request? I was wondering that it would be very nice to have an horizontal scroll view for big tables full of columns.

[2015-02-05 08:53] amjith commented on #145
The best place for feature requests is the Github Issues or you can drop in on the gitter chat channel (https://gitter.im/amjith/pgcli) to talk about it.

Having a horizontal scroll would be impossible in a CLI. I'm not really sure how you could scroll horizontally in CLI. If you have thoughts, I'm eager to hear them.

Pgcli does support the \x command which is equivalent to psql where the data is

[2015-02-05 09:54] #145 closed

[2015-02-05 10:03] edoardoc opened #147 "horizontal scrolling view of queries output"
Given the huge amount of data that one has to browse horizontally using pgcli, it would be a very big help being able to scroll (with cursor keys or similar) like in a window view
There is a few examples of CLI programs that allow viewport scrolling, one of this is vi, and also less can do it
An implementation idea, rather that having to actually recreate the scroll is to add a parameter to the qu

[2015-02-05 16:43] fzerorubigd commented on #82
I get this error on debian, and archlinux right after launch pgcli :
[code]

[2015-02-05 17:17] amjith commented on #82
You probably have an older version of pgcli installed from the git repo.

Did you try the `pip install -U -e git+https://github.com/amjith/pgcli.git#egg=pgcli`?

If you have then can you do `pip uninstall pgcli` and then try `pip install -U -e git+https://github.com/amjith/pgcli.git#egg=pgcli`?

[2015-02-05 17:40] fzerorubigd commented on #82
[code]
[code]

[code]

[2015-02-05 17:57] amjith commented on #82
That's odd. Can you try uninstalling twice and try again?

I've seen this happen occasionally. Try `pip uninstall pgcli` and then
issue that command again `pip uninstall pgcli` then try installing?
On Thu Feb 05 2015 at 9:40:21 AM fzerorubigd <notifications@github.com>
wrote:

[2015-02-05 18:45] fzerorubigd commented on #82
I do it 3 time, first just ask my to remove, next it print a bunch of file for delete and third time :
[code]

And after installing, the problem still there.
[code]
Do I miss something? :/

[2015-02-05 18:46] amjith commented on #82
Can you jump on https://gitter.im/amjith/pgcli?

[2015-02-05 19:39] fzerorubigd commented on #82
@amjith thanks for your time and help. I can confirm that the the `\dt` is working as expected.
and thank you @darikg

[2015-02-05 19:39] #82 closed

[2015-02-05 19:47] wulczer commented on #140
AFAIK both psycopg2cffi and psycopg2ct are drop-in PyPy-compaible replacements for psycopg2.

This is how txpostgres handles it: https://github.com/wulczer/txpostgres/blob/master/txpostgres/psycopg2_impl.py

[2015-02-05 21:10] amjith commented on #140
@wulczer Thank you for the reference implementation. That looks useful.

The piece that confuses me, is how to list the necessary dependency for it in setup.py based on the interpreter. Because I need to choose psycopg2 for CPython and psycopg2cffi for PyPy at installation time.

Maybe psycopg2cffi just work in both CPython and PyPy and I can include that as the dependency instead of psycopg2.

I

[2015-02-06 05:42] thedrow commented on #140
@amjith cffi is slower on CPython.

[2015-02-06 05:57] amjith commented on #140
@thedrow I just tried it out locally. It doesn't seem noticeably slower. Since this is a CLI, I think the speed difference will be negligible. It's not like people going to expect high throughput because the number of queries executed will be limited by how fast you can type them in.

Unless it is significantly slower for some use cases that I haven't tried yet.

[2015-02-06 08:10] thedrow commented on #140
I haven't tried every possible usecase but that's a rule of thumb.
Also note that psycopg2cffi is a few patch versions behind.

[2015-02-07 07:04] amjith commented on #140
I tried using psycopg2cffi but it breaks on unicode. I've filed a bug https://github.com/chtd/psycopg2cffi/issues/32.

Waiting to hear back.

[2015-02-09 03:41] davidlonjon opened #148 "Having an error with less"
Hi there,

First great tool! Thank you for your effort :)

I installed the tool on my Linux VM (Ubuntu 12.04.5 LTS) and everything went well. I installed it with the dependencies mentioned in the detailed instructions.

I can login to my PostgreSQL instance but every time I run a command in pgcli I received the following message: `There is no no-initXF option ("less --help" for help)`
and nothing

[2015-02-09 04:46] amjith commented on #148
That's interesting. I'm overriding the LESS env var to not clear the screen while inside the pgcli environment, I didn't think of the `--no-init` option. I've got a fix for that in the master. Would you mind trying it out?

You can install it directly from the git repo as follows:

[code]

[2015-02-09 04:58] davidlonjon commented on #148
Done it and it fixed the issue :)
Thanks!

[2015-02-09 06:17] amjith commented on #148
0.15.4 released to PyPI.

[2015-02-09 06:17] #148 closed

[2015-02-09 06:17] amjith commented on #131
Version 0.15.4 released to PyPI.

[2015-02-09 06:17] #131 closed

[2015-02-09 11:59] Septembers opened #149 "requset support: COPY command WITH subcommand options auto-completion"
[code]
see http://www.postgresql.org/docs/9.3/static/sql-copy.html

[2015-02-09 19:20] coil-lighting opened #150 "ImportError on startup in psycopg2 dlopen"
Created a fresh virtualenv (Python 2.7, OS X 64 bit, USC2).
Ran `pip install pgcli`.
Ran `pgcli` from the bash command line, got the following ImportError on dlopen:

(pgcli)~$ pgcli
Traceback (most recent call last):
  File "/Volumes/meta/virtualenvs/pgcli/bin/pgcli", line 9, in <module>
    load_entry_point('pgcli==0.15.4', 'console_scripts', 'pgcli')()
  File "/Volumes/meta/virtualenvs/pgcli/li

[2015-02-10 03:53] amjith commented on #150
It looks like the libpq installed on your OS X machine has some linking issues. This is related to psycopg2 installation which is required by pgcli to talk to Postgres database. There are a few possible workarounds covered in the articles below:

http://joshuakehn.com/2013/10/13/Postgresapp-and-psycopg2-on-OS-X.html
http://stackoverflow.com/a/21357519/8825

[2015-02-10 03:54] amjith commented on #149
Thank you! I'll look into adding more keywords for autocompletion. Is that what you're requesting or is there a more fundamental problem with the way the completion for COPY works?

[2015-02-12 08:10] amjith commented on #72
All the special commands requested here are now added.

\dv, \dn, \ds.

You can install directly from the git repo to test it out:

[code]

[2015-02-12 08:10] #72 closed

[2015-02-12 08:12] amjith commented on #150
This is the same as #132

[2015-02-12 08:12] #150 closed

[2015-02-12 08:12] amjith commented on #132
It looks like the libpq installed on your OS X machine has some linking issues. This is related to psycopg2 installation which is required by pgcli to talk to Postgres database. There are a few possible workarounds covered in the articles below:

http://joshuakehn.com/2013/10/13/Postgresapp-and-psycopg2-on-OS-X.html
http://stackoverflow.com/a/21357519/8825

Were you able to get this resolved?

[2015-02-12 18:59] archaeogeek opened #153 "Install fails on !# linux"
Followed all instructions to install dependencies, made sure setuptools was updated. I get the following error with pip install:
/usr/local/bin/pip run on Thu Feb 12 18:50:18 2015
Downloading/unpacking pgcli
  Getting page https://pypi.python.org/simple/pgcli/
  URLs to search for versions for pgcli:
  * https://pypi.python.org/simple/pgcli/
  Analyzing links from page https://pypi.python.org/simp

[2015-02-12 19:52] amjith commented on #153
Sorry about the trouble.

I believe this is a mismatch between the setuptools version and pip.

Can you confirm that you can successfully install other packages? Say `pip install prompt_toolkit`.

Since you mentioned that you already upgraded setuptools, I presume you're on the latest version there. Did you also try upgrading pip?

You can try `pip install -U pip` to upgrade it.

If you still have

[2015-02-13 02:27] amjith commented on #136
Now available in master. Thanks @jayzeng.

[2015-02-13 02:27] #136 closed

[2015-02-13 07:34] amjith commented on #43
I'm starting to look into this bug now. I can't seem to reproduce it.

I tried the following:

[code]

Can you tell me what's the column type?

[2015-02-13 08:40] amjith commented on #43
Never mind I was able to reproduce it. I just read the title of the ticket and created a column of type BIGSERIAL. I'll work on fixing it.

[2015-02-13 08:45] muminoff commented on #43
:+1:

[2015-02-13 08:47] amjith commented on #43
It is now fixed in master.

[code]

You can try installing directly from master using the following command:

[code]

Would you mind trying the latest from master and let me know if it fixes your issue?

[2015-02-13 08:53] muminoff commented on #43
It works now.

[code]

[2015-02-13 08:55] amjith commented on #43
Awesome!

Thank you for checking it for me.

I'll release this out to PyPI this weekend. Cheers!

[2015-02-13 08:55] #43 closed

[2015-02-13 08:55] muminoff commented on #43
Welcome! Keep up the good work.

[2015-02-13 09:24] archaeogeek commented on #153
Thanks for the quick response, it looks like I have a problem with both pip and easy_install- I upgraded pip as you suggested, installing other packages gives the same error, and easy_install also gives the same error. I'll do some digging, but feel free to close this issue as it's not a problem with pgcli

[2015-02-13 18:29] amjith commented on #153
I'd like to keep this issue open.

If you find a solution for it please post it here, if not I hope someone else who has a solution might post something. :)

[2015-02-13 18:34] archaeogeek commented on #153
Thanks- I actually ended up completely uninstalling pip and reinstalling from my package manager- but I ended up with different errors:
Traceback (most recent call last):
  File "/usr/local/bin/pgcli", line 9, in <module>
    load_entry_point('pgcli==0.15.4', 'console_scripts', 'pgcli')()
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 521, in load_entry_point
    r

[2015-02-14 15:55] amjith commented on #153
Does this error happens when you try to install or when you launch?
Can you also tell me what version of six you have installed on this machine?

You can get a list of all installed python packages with their versions using `pip freeze`.

The version of six should be 1.9. I do see the unichr in the six module here: https://bitbucket.org/gutworth/six/src/986089f3d04e468458cc9f5b9b3be26fb3d75ade/six

[2015-02-17 18:19] archaeogeek commented on #153
I've just tested this and pip freeze | grep six reports version 1.9.0

Thanks

Jo
On Feb 14, 2015 3:55 PM, "Amjith Ramanujam" <notifications@github.com>
wrote:

[2015-02-17 20:51] amjith commented on #153
Hrm. That's odd. I suspect that prompt_toolkit isn't picking the right six module at runtime. Are you running this in a virtualenv or is it installed system wide?

Can you try uninstalling 'six'? Try running `pip uninstall six`, please run it twice. I've noticed that sometimes it is necessary to uninstall a package twice to completely wipe it. :(

After the uninstall, install it again using `pip i

[2015-02-18 10:44] archaeogeek commented on #153
Hi,

This is system wide. I completely uninstalled pip, pgcli, six, prompt_tools etc and then reinstalled them- and still get the same error when running pgcli, sorry!

Jo

[2015-02-18 10:48] archaeogeek commented on #153
Ha!

I cloned the repository to my local machine, and followed the development instructions for installing it from the local copy, and it worked fine!

Jo

[2015-02-18 20:41] amjith commented on #153
I guess that's good.

I have no idea what was causing the problem and why the development version works. :(

Sorry you had to go through so much trouble.

[2015-02-18 22:04] schinckel commented on #139
You could just write a management command: although that would require installing an app in your `settings.INSTALLED_APPS`.

[2015-02-18 22:06] schinckel opened #156 "CREATE DATABASE <foo> WITH TEMPLATE <bar> does not autocomplete"
There's not much in the postgres documentation about this, but it's super useful for cloning databases, and is much faster than a pg_restore.

http://stackoverflow.com/a/876565/188

[2015-02-20 10:32] archaeogeek commented on #153
Crunchbang linux can be a bit difficult sometimes, so I'm used to it! Happy to close this though since it's now working for me. Thanks for your help!

[2015-02-21 06:48] amjith commented on #156
Interesting! I've actually never heard of this one. But adding autocompletion support should be possible. Thanks for reporting.

[2015-02-21 06:48] amjith commented on #153
:+1:

[2015-02-21 06:48] #153 closed

[2015-02-23 11:38] samgre opened #157 "Creating temporary table crashes pgcli 0.14.0"
Hi,

Thanks for a great command line tool! Try running the following SQL statement in the interpreter. It'll crash the app.

    CREATE TEMPORARY TABLE tbl (col INT);

The error:

    File "[...]/lib/python2.7/site-packages/pgcli/pgcompleter.py", line 99, in extend_tables
        self.dbmetadata[schema][table] = ['*']
    KeyError: u'pg_temp_4'

[2015-02-23 19:32] amjith commented on #157
Thanks for reporting this issue.

I think @darikg fixed this bug recently (unreleased) #151.

Would you mind trying the version from master?

You can install directly from master using the following command

[code]

[2015-02-24 06:54] samgre commented on #157
Creating temporary table works with the current version of master. Thank you!

[2015-02-24 06:54] #157 closed

[2015-02-24 18:02] drocco007 opened #159 "Odd completion behavior with keywords starting with "d""
With pgcli 0.15.4, I get odd behavior when completing keywords starting with "d"; before hitting [Tab]:

![image](https://cloud.githubusercontent.com/assets/1424858/6355493/75ffcd5a-bc24-11e4-9c32-995f38d02623.png)

After hitting [Tab]

![image](https://cloud.githubusercontent.com/assets/1424858/6355521/9cf4a818-bc24-11e4-86e9-7607f39a1215.png)

The "DESCRIBE" keyword (or its "describe" doppelgang

[2015-02-24 18:30] drocco007 commented on #159
Around line 212 of pgcompleter.py, we have this (added in 78288101):

            elif suggestion['type'] == 'keyword':
                keywords = self.keywords + self.special_commands

This is what is causing the problem, since describe is being pulled in as a special command (the '\' prefix special commands are as well… :-/). This also seems to contradict the comment earlier in the file (around

[2015-02-24 19:10] drocco007 opened #160 "Special commands do not work after the first command in a series"
In pgcli and psql, this works:

    SELECT 1; SELECT 1;

However, using a special command after the first command only works in psql:

    psql (9.3.5)
    Type "help" for help.

    postgres=# select 1; \l
     ?column?
    ----------
            1
    (1 row)

                                 List of databases
       Name    |  Owner   | Encoding | Collate | Ctype |   Access privileges
    -----

[2015-02-25 08:03] amjith commented on #159
You're right. The comment got outdated and I failed to listen to 'past me'. Thanks for fixing it with the PR.

[2015-02-25 08:19] amjith commented on #160
You're right. This fails because the splitting of sql statements happens after an attempt is made to execute  special commands, whereas the splitting should really be happening before attempting any execution at all.

Ref: https://github.com/amjith/pgcli/blob/master/pgcli/pgexecute.py#L141

I'll take a stab at it after I get some sleep. :)

[2015-02-25 22:14] #156 closed

[2015-02-25 22:14] #159 closed

[2015-02-27 07:34] amjith commented on #160
It is now fixed in master. Can you give it a try and let me know if it works as expected?

You can install directly from git using the following command:

[code]

[2015-02-27 17:22] wbolster commented on #147
`pgcli` uses `less` already, so if you just type `-S`, followed by `Enter`, while the results are being shown through `less`, you get a wide display in which you can scroll horizontally using arrow keys (and any other way `less` supports.

[2015-02-27 17:23] wbolster opened #162 "Wrapped grid mode"
It would be awesome if `pgcli` could grow a wrapped `fancy_grid` output, similar to what `\pset format wrapped` in `psql` does when long column values are shown.

[2015-02-27 17:25] wbolster opened #163 "JSON display shows u"...""
When `pgcli` is run in Python 2, JSON fields (`json` and `jsonb` types in PostgreSQL), are shown with `u"..."` prefixes for strings. I guess this is a side-effect of using `repr()`. Maybe the `pprint` module can be leveraged instead?

[2015-02-27 18:57] edoardoc commented on #147
great to know, lets close this then

[2015-02-27 18:57] #147 closed

[2015-02-27 21:37] amjith commented on #147
Awesome! I had no idea you could do that with `less`.

Thank you @wbolster.

[2015-02-27 21:41] amjith commented on #162
Yeah, that would be nice. Auto-detecting the screen-size and adjusting the table width seems a bit tricky, but probably doable.

[2015-02-27 23:18] amjith commented on #163
The code doesn't use `repr()` at least not explicitly, so I'll have to find out where the unicode prefix is coming from.

I don't have any table with json or jsonb, but I do have a table with `hstore` and it doesn't seem to have the 'u' prefix on `hstore`. I'll create a reproducible case and give it as shot tonight.

Thanks for reporting.

[2015-02-28 02:10] drocco007 commented on #160
Looks good!

After I posted the issue, I noticed that psql only allows special commands as the last command in the sequence. That is, this command

    \l ; SELECT 1;

now works in pgcli but produces warnings and does not execute the SELECT in psql. I probably wouldn't worry about it if it were me, but I thought I should mention it since I'm not sure how close to psql's behavior you're trying to t

[2015-02-28 03:01] drocco007 commented on #163
Here is a simple case that demonstrates the issue:

    _test_db> CREATE TABLE json_test (id serial, data JSON);
    CREATE TABLE
    Command Time: 5.00679016113e-06
    Format Time: 2.31266021729e-05
    _test_db> INSERT INTO json_test (data) VALUES ('{"name": "Éowyn"}')
    INSERT 0 1
    Command Time: 3.2901763916e-05
    Format Time: 3.40938568115e-05
    _test_db> SELECT data FROM json_test

[2015-02-28 07:13] amjith opened #164 "Completion of special commands after a semi-colon in a multi-statement line is broken"
Auto-completion of a special command is not working if the special command is not the first statement in a multi-statement line.

eg:

[code]

That backslash should have auto-completed the special commands like \d, \c, \l, \dt etc. but it doesn't.

[2015-02-28 07:14] amjith commented on #160
Yeah I knew about the psql limitations with multiple statements in the same line. But I'm sure it's a bug on their part and I decided not to copy that bug.

I forgot about the completion of special command completion after a semi-colon. I've opened a new issue for that #164.

I probably won't get to it right away since it seems like a minor annoyance rather than a bug.

Once again thanks for catch

[2015-02-28 07:53] amjith commented on #163
Interesting. I thought psycopg2 treated everything that came out of the database as UTF-8.

That's why I had to explicitly tell it to not convert unicode to UTF-8 using these register_type() calls. https://github.com/amjith/pgcli/blob/master/pgcli/pgexecute.py#L13..L16

I'll gladly accept a PR that uses the database's encoding. :)

[2015-02-28 07:59] amjith commented on #164
The new refactor by @darikg in PR #161 fixes this issue. :)

I love it when a code cleanup obliterates a bug.

/cc @drocco007

[2015-02-28 16:58] amjith commented on #164
PR #161 is now merged to master. I've verified that it fixes the issue.

[2015-03-01 05:48] #163 closed

[2015-03-01 05:55] amjith commented on #163
Fix is now available in master.

You can verify the fix by installing directly from the git repo as follows:

[code]

[2015-03-01 09:12] amjith commented on #164
Fixed version 0.16.0 is now release to PyPI.

https://pypi.python.org/pypi/pgcli/0.16.0

[2015-03-01 09:12] #164 closed

[2015-03-01 09:12] amjith commented on #160
Fixed version 0.16.0 is now release to PyPI.

https://pypi.python.org/pypi/pgcli/0.16.0

[2015-03-01 09:12] #160 closed

[2015-03-02 09:47] wbolster commented on #163
Thanks!  Fwiw, the problem I reported basically boiled down to this (Python 2 only):

[code]

Before this issue was addressed `pgcli` showed a `str()` representation of a Python dict, which happens to look like JSON (but isn't JSON). After the change, the JSON string as it is sent by the DB is shown. This will work as long as `pgcli` doesn't to anything with the JSON result. I can imagine pretty-p

[2015-03-02 12:32] wbolster opened #166 "Table header shows "?column?" as column name"
This query:

[code]

...results in an output table with a column named `?column?`. Is this intended?

For comparison, the query:

[code]

... shows `title` as the column title.

[2015-03-02 15:09] amelio-vazquez-reina opened #167 "psycopg2. Programming error -- datcollate"
I am running into errors with the latest version of `pgcli`.

When I do:
[code]

I get:
[code]
This is with `psycopg2 v2.6`  and `pgcli v0.16`.
[code]

I am in a python 3.4 conda environment with the latest version of Python:
[code]
 I installed `psycopg2` with `pip install pgcli` and did not get any errors.

Any thoughts on what could be wrong?

[2015-03-02 16:00] amjith commented on #166
@wbolster That behavior is inherent to Postgres. When it return the results it returns the metadata such as the table name, column name etc. In this case it's returning the column name as `?column?`.

This behavior is consistent with `psql` as I see the same output in psql as well.

[2015-03-02 16:05] wbolster commented on #166
Ah, didn't know this was a PostgreSQL thing; I assumed it was some missing formatting stuff on the `pgcli` side. Nevermind, closing.

[2015-03-02 16:05] #166 closed

[2015-03-02 16:14] amjith commented on #167
What version of postgres database are you using? `pgcli` only has support for version 9.2 and above, but there is a pending issue to add support for the older versions.

Did this issue crop up after you upgraded to the new version or is this the first time you're trying pgcli?

I'm trying to find out if this is because of the new additions in the latest version.

[2015-03-02 16:51] amelio-vazquez-reina commented on #167
Thank you @amjith First time using `pgcli`. Sorry, I should have mentioned that.  I am working against an older version of a PostgreSQL database, so that probably explains it:
[code]
What issue is the one you mention about adding support to older versions? (so that I can track it). Is it this one? https://github.com/amjith/pgcli/issues/18

Thanks.

[2015-03-02 17:23] amjith commented on #167
Yes that's the one.

The problem is, in order to populate the autocompletion I have to run sql queries against the database to get the list of tables and columns. That sql query is different between the various versions of the Postgres and I decided to stick with 9.2 and above since that's the one I had on my machine. :(

Now I have a few docker instances with older versions, so I'll try and get a

[2015-03-03 02:17] drocco007 commented on #52
Have you tried with the latest pgcli? I successfully connected using a role with an '@' character using pgcli 0.16.0 against a 9.4 server:

    postgres=# create role atpw LOGIN PASSWORD '@at';
    CREATE ROLE
    postgres=# create database atdb owner atpw;
    CREATE DATABASE
    postgres=# \q

    $ pgcli postgres://atpw:@at@localhost:5432/atdb
    Version: 0.16.0
    Chat: https://gitter.im/amj

[2015-03-03 03:09] amjith commented on #163
Changing to pretty-print and fixing #162 will require a bit of overhaul to the tabulate library. So it's not an immediate priority but that is in the long list of nice to have items. :)

[2015-03-03 06:01] amjith commented on #52
Previously I was using my own custom built parsing routine for extracting the password and username from the postgres url. I've replaced that routine with `urlparse` from python stdlib. So this might not be an issue anymore.

Thanks @drocco007 for testing it. I'll close the issue.

[2015-03-03 23:02] amjith opened #168 "Upgrade prompt_toolkit dependency"
pgcli still depends on prompt_toolkit version 0.26. The current version of prompt_toolkit is 0.31.

It's time to upgrade the dependency.

[2015-03-04 07:22] amjith commented on #134
@dkastl Previously when I fixed the unicode issue with hstore, I didn't fix it the right way. That's why you weren't able to get it to work. I was basically hardcoding the oid for hstore which is wrong. Because the oid for hstore will be different for each database.

I have now fixed the issue (the right way) and released a new version (0.16.1) to PyPI. If you do a `pip install -U pgcli` it should

[2015-03-04 18:19] amjith opened #169 "Big Numbers are displayed in scientific notation"
[code]

This should not be the case. pgcli should always try and use non-scientific notation for displaying numbers.

[2015-03-04 23:43] dkastl commented on #134
@amjith Thanks a lot!
It seems to work.

[2015-03-09 10:59] jradix opened #171 "non-ascii character make pgcli crash"
Hello,

My conf :

windows 7 64bits - French, with French keyboard layout.
python 2.7.9 x86
psycopg2-2.6.0.win32-py2.7-pg9.4.1-release.exe
cmder 1.1.4.100 with codepage 850

Installing pgcli works on windows (`pip install pgcli`).

But when I enter a non-ascii character (a character of cp 850, like this one : `é` ), pgcli crashes with the following error message :

    λ pgcli -h 127.0.0.1 postgre

[2015-03-09 20:40] amjith commented on #171
Thanks for reporting the bug. The issue seems to arise from [prompt_toolkit](https://github.com/jonathanslenders/python-prompt-toolkit) which is a dependent library for pgcli.

It looks like there is already a pending github issue for this problem: https://github.com/jonathanslenders/ptpython/issues/13

I don't have a windows machine to try this, so I'm unable to try it out or fix it.

@draikg I k

[2015-03-10 04:18] dirkgently007 opened #173 "Displaying NULL vs empty string"
pgcli displays an empty value as well as a NULL string in the same way.

e.g.
[code]

It would be great if there is a way to be able to differentiate these two cases.

FWIW, `psql` provides this via something like `\pset null '<<NULL>>'`

[2015-03-10 06:54] amjith commented on #173
That is a valid request.

I've put in a fix in master.

[code]

Can you verify?

You can install pgcli from master using the following command:

[code]

Thanks!

[2015-03-10 12:25] darikg commented on #171
Sure, I'll try poking around a bit.

[2015-03-11 05:08] #169 closed

[2015-03-13 15:45] dirkgently007 commented on #173
Works perfectly! Thanks!

[2015-03-13 16:24] rafaelosoto opened #174 "autocompletion when \connect -ing to different databases"
Hi Guys,

This is my first time opening an issue on gh so forgive my faults if any. I looked for open tickets pertaining to this but couldn't find any.

Whenever I connect to a new db using \connect my autocompletion for tables remains the same as the previous db table I was on.

-rafe

[2015-03-13 16:26] amjith commented on #174
Could you tell me how you installed pgcli?

If it was installed via `brew` there was an old bug which was fixed in the newer versions.

You can try installing the latest version using `pip install pgcli`.

There are detailed instructions on how to install it using pip here: http://pgcli.com/install

I'll update the brew version to the latest when I get a chance.

[2015-03-13 16:28] amjith commented on #174
Nope! You're right it's a bug.

You can change to a new database using just `\c` which works as expected. But if you try `\connect` then it doesn't work.

I'll fix it soon. Sorry about that. But in the mean time you can change to a different database using `\c databasename`.

Thanks for reporting.

[2015-03-13 17:01] #173 closed

[2015-03-13 19:31] rafaelosoto commented on #174
Awesome ^-^ just trying to help, really like the software!

[2015-03-14 20:37] amjith commented on #174
It is now fixed in the master branch. I'll plan on releasing it soon.

You can try out the version from master by directly installing pgcli from the git repo using the following command:

[code]

Cheers!

[2015-03-19 16:05] gilou opened #175 "Error using python3"
[code]
Running from pip in Python3 or from Github crashes with that error. I may try to fix it nicely...

[2015-03-19 16:10] gilou commented on #175
Hmm, it's from wcwidth, not from pgcli, so I guess it should be reported upstream :)

[2015-03-19 18:25] amjith commented on #175
Actually all of them are Python 3 ready just not Python 3.2 compatible. :)

It should work on Python 3.3 and above. Python 3.0 to 3.2 are much harder to support in a single code base. 3.3 introduced some features which made it possible to support Python 3 with a unified code base instead of maintaining two separate code bases.

So try it on Python 3.3 and let me know if you're still having trouble

[2015-03-19 18:26] amjith commented on #175
Here's an article that explains the reasons: http://lucumr.pocoo.org/2013/5/21/porting-to-python-3-redux/

There is a whole section on dropping 3.1 and 3.2 support.

[2015-03-19 18:32] gilou commented on #175
it works nicely in Python 3.4, but on Debian 7, Python3 is 3.2, so no luck.. But that's fine, it works in Python 2.7 for that platform. Since Debian 8 will be out shortly, and it will include Python 3.4, everything is fine, and I guess we can close that issue ;)

[2015-03-19 18:32] #175 closed

[2015-03-23 21:19] amjith commented on #174
This is now released in 0.16.2.

http://pgcli.com/v0.16.2.html

You can upgrade using

[code]

[2015-03-23 21:19] #174 closed

[2015-03-24 16:19] amjith opened #176 "Add OWNER keyword to auto-completion"
Example query:

CREATE DATABASE blah OWNER user;

[2015-03-24 16:39] jabclab opened #177 "raise messages not displayed (unless exception)"
When using `raise` for debugging purposes the output is not shown in `pgcli` (even if `client_min_messages` is set accordingly). Here's an example using **0.16.2**:

[code]

Here's the `pgcli` output:
[code]

And here's the `psql` output:
[code]

[2015-03-24 16:45] amjith commented on #177
Interesting! I hadn't thought about stored procedures and doing exceptions inside them. I'll have to check how psycopg2 returns them.

Thanks for reporting it. I'll take a look soon. :)

[2015-03-24 16:50] amjith commented on #177
@jabclab I'm not able to create that function. Here's the output from psql:

[code]
Am I missing something?

[2015-03-24 16:51] jabclab commented on #177
@amjith sorry, my bad- I didn't put the `begin` and `end` around the plpgsql function body:

[code]

[2015-03-24 17:45] remram44 commented on #153
I'm also affected. I'm using pip 6.0.8 (current) and setuptools 14.3.1 (__version__ 0.6; current) on Ubuntu.

[2015-03-24 18:17] hammer opened #178 "Quote column names with spaces when autocompleting"
If I have a column name like `Gene Symbol` the autocomplete should add the double quotes for me and give me `"Gene Symbol"`.

[2015-03-24 18:22] hammer opened #179 "Make color scheme configurable"

[2015-03-24 18:43] amjith commented on #177
Alright, I finally found a way to get the notices out from psycopg2 (http://initd.org/psycopg/docs/connection.html?highlight=notice#connection.notices). I'll get that feature added soon.

[2015-03-24 18:44] amjith commented on #179
@hammer It is configurable. Open the pgcli config file ~/.pgclirc and change the value set for `syntax_style`.

The config file should have a list of possible colors.

[code]

[2015-03-24 18:47] hammer commented on #179
Ah I used `brew install` to get `pgcli` installed and my `~/.pgclirc` doesn't have that key set by default. Any chance a solarized dark theme could be added?

[2015-03-24 18:49] amjith commented on #178
It does. But it does it in a weird way. When you type `SELECT * FROM table WHERE "Ge` it will auto-complete the rest of the column name. The trick is to start the quote and it will complete the possible quoted column names.

eg:

![1__1_0_python2_7_-__pgcli___users_amjith_code_go_src_github_com_dogestry_dogestry___tmux_](https://cloud.githubusercontent.com/assets/49260/6810072/b5c114e6-d21b-11e4-9

[2015-03-24 18:52] hammer commented on #178
Good deal will clear my brew install and try `pip`. Thanks for the quick response!

[2015-03-24 18:52] #178 closed

[2015-03-24 18:54] amjith commented on #179
The version available through brew is quite old. I need to update that one.

In the mean time can you install it via pip?

`pip install pgcli`

Right now it only has the colorschemes that are available by default in [Pygments](http://pygments.org/). Adding Solarized is possible, but it's not a high priority.

If you'd like to take a stab at it, I'd welcome a PR. :)

Here is the relevant file, if y

[2015-03-24 18:57] hammer commented on #179
Cool filed an issue upstream: https://bitbucket.org/birkenfeld/pygments-main/issue/1098/add-solarized-and-solarized-dark-color.

[2015-03-24 18:57] #179 closed

[2015-03-24 19:00] jabclab commented on #177
Great, thanks @amjith :smile:

[2015-03-24 19:59] amjith commented on #153
@remram44 What is the error message? I really wish I could reproduce it, so I can report to setuptools. :(

Did you try easy_install pgcli? I've heard from many sources that it succeeds even when pip fails.

[2015-03-24 20:02] remram44 commented on #153
Somehow rebuilt the virtualenv and it worked? The error was the same, pip importing setuptools and setuptools importing pkg_resources.packaging, which wasn't found (although setuptools outside of pip works fine).

[2015-03-24 20:07] amjith commented on #153
Aha. I'm wondering if the virtualenv was created by an older version of setuptools and when pip and setuptools were upgraded inside the virtualenv it probably didn't work?

That's good to know, because I can recommend it to people if I run into this issue in the future.

Thanks for replying. I'm glad you got it working. :)

[2015-03-25 06:27] #149 closed

[2015-03-25 06:41] amjith commented on #149
Keywords added to the completion list.

Install from master using the following command, to try it out.

[code]

[2015-03-25 06:42] amjith commented on #176
OWNER keyword added to the completion list.

Install directly from master using the following command.

[code]

[2015-03-25 06:42] #176 closed

[2015-03-25 07:27] #177 closed

[2015-03-25 07:27] amjith commented on #177
This is now fixed in master.

Install from master using the following command, to try it out.

[code]

[2015-03-27 10:41] amjith opened #180 "Add smart completion for USERS and EXTENSIONS"
Users of a database can be suggested after the OWNER keyword in CREATE DATABASE.

eg:

[code]

Extensions in a database can be suggested for CREATE EXTENSION.

eg:

[code]

[2015-03-27 22:42] sarang4 commented on #153
I'm also facing same issue.
Pip version pip 6.0.8
and setuptools version upgraded to 14.3.1

[2015-03-27 22:44] amjith commented on #153
@sarang4 Are you installing inside a virtualenv? If so, can you try it in a fresh new virtualenv after you upgraded setuptools and pip?

If that doesn't work, can you try easy_install?

And what version of Python are you using?

[2015-03-27 22:54] sarang4 commented on #153
@amjith No, I was installing on my system. I have uninstalled it and back to 8.2.1 version. It seems there is bug in setuptools 14.3.1.

[2015-03-28 00:08] amjith opened #181 "Add a startup message that thanks a contributor."
Add a flat file with a list of contributors and randomly pick one and display a thank you message at startup of pgcli.

[2015-03-28 17:12] amjith commented on #153
@sarang4 Were you able to install it using setuptools 8.2.1?

[2015-04-01 08:01] charz commented on #153
Hi all,
I got same problem in setuptools v14.3.1 and created a bug for it.

[2015-04-01 15:09] amjith commented on #153
Thank you @charz for chasing that bug and filing a bug report. I'll recommend setuptools 8.2.1 for the future.

[2015-04-02 03:56] amjith opened #182 "Implement \du command"
\du should list all available roles.

[2015-04-02 22:13] darikg opened #183 "bizarre windows formatting bug"
[code]

Of course everything works fine in linux.

[2015-04-03 01:09] amjith commented on #183
Hrm. It seems to work fine in OS X as well.

Can you try the expanded output mode (`\x`) and see if it has the same problem?

I'm wondering if the issue is in the formatter or in the output coming from psycopg2.

Sorry I don't have a windows box to test this out locally. :(

[2015-04-03 01:15] amjith opened #184 "Indent a multi-line query"
In multi-line mode the query should be indented by a leading 4 spaces and a `->` prompt.

[2015-04-03 02:00] manuelRiel commented on #53
Confirming this already works.

`pgcli -h HOST -U USER DB`

[2015-04-03 05:05] amjith commented on #53
This is a feature of libpq as described in the original wiki page. https://wiki.postgresql.org/wiki/Pgpass

libpq is the library used by psycopg2 and pgcli. So pgpass should already work as expected.

I've tested this on OS X and the overwhelming confirmation from multiple users confirm that it does work as expected.

So I'm closing this ticket.

[2015-04-03 05:05] #53 closed

[2015-04-04 17:09] darikg commented on #183
bah, turns out it was just windows default pager

[2015-04-04 17:09] #183 closed

[2015-04-05 15:39] svenstaro commented on #168
:+1: In Arch, we usually have only the most recent version so pgcli is currently broken over there.

[2015-04-05 21:32] amjith commented on #168
:(

I didn't know it was broken on Arch.

Do you have the latest prompt_toolkit because you're using ptpython? Because you wouldn't be installing the latest version unless you have another package that is dependent on the newer version.

[2015-04-05 21:34] amjith commented on #182
:dibs:

I've started working on this issue. I'll have it ready for the next release.

[2015-04-05 21:35] svenstaro commented on #168
There is an AUR package that I maintain that gets the current version of prompt toolkit and that happens to be 0.31.

[2015-04-05 22:55] amjith commented on #168
You're killing me @svenstaro. :)

Just kidding. That's a good incentive for me to work on this issue. I'll tackle it once I get back from PyCon.

[2015-04-06 00:24] #39 closed

[2015-04-06 10:45] toupeira commented on #39
Thanks, works like a charm.

[2015-04-06 17:24] amjith opened #188 "Support for more back-slash commands"
\e, \ef, \sf, \z, \do, \dT, \du, \copy and \watch

From reddit: http://www.reddit.com/r/PostgreSQL/comments/31n0d9/screencast_pgcli_basics_intro_to_installation/cq31v4j?context=3

[2015-04-06 17:25] amjith opened #189 "Suggest set-returning functions after the FROM keyword"
http://www.postgresql.org/docs/9.1/static/functions-srf.html

Set-returning functions should be suggested after the FROM keyword.

[2015-04-06 19:37] darikg commented on #189
Totally agreed. Actually it doesn't even need to be restricted to SRFs -- all non-aggregate functions are valid table expressions. E.g. `select * from round(1.1)` returns a 1-row resultset. It's easy to suggest function names -- the tricky part is handling the column names so they can be autocompleted in the SELECT or WHERE clause.

Functions can

1. Declare named output arguments like `CREATE FUN

[2015-04-08 12:10] asenyshyn opened #192 "pg_catalog in search_path causes error in completion."
if "search_path" contains schema "pg_catalog" application may crash.

[code]

[2015-04-09 00:51] amjith opened #193 "Switch the string prefix matching to subsequence matching."
Taken from a reddit comment: http://www.reddit.com/r/programming/comments/31pkwf/mysqlcli_cli_with_autocompletion_and_syntax/cq5ftcy

It should be a simple matter of changing this function [find_matches()](https://github.com/amjith/pgcli/blob/master/pgcli/pgcompleter.py#L160..L165) to do substring matching.

[2015-04-09 03:13] amjith commented on #192
@asenyshyn Can you tell me which version of pgcli you're using?

I believe @darikg actually fixed this in one of the previous releases.

[2015-04-09 03:47] darikg commented on #192
Nope :( I can confirm this is a bug, another one I'm responsible for. Will fix tomorrow. Sorry!

[2015-04-09 17:22] j-bennet commented on #188
Amjith, do you mind if I take this one?

[2015-04-09 17:27] amjith commented on #188
Go for it.

Just a hint, the \e is supposed to launch an editor to edit the query. It is possible to do that, using the `click` module that is already used by pgcli. http://click.pocoo.org/4/utils/#launching-editors

[2015-04-10 13:41] drocco007 opened #196 "Attempt to reconnect when server connection lost"
`psql` will attempt to reestablish a connection to the server in case of a restart or `pg_terminate_backend` call. For example, if we establish a connection to a local service

    ~$ psql -h localhost postgres postgres
    psql (9.3.5, server 9.4.1)
    WARNING: psql major version 9.3, server major version 9.4.
             Some psql features might not work.
    Type "help" for help.

    postgre

[2015-04-10 14:11] drocco007 commented on #193
I took an initial stab at the “unanchored substring” formulation of this idea, where the search term `test` will match both `test_table` and `json_test` but not `tempest`. As you intimate in your comment, this isn't a difficult change, but it does introduce some interesting UI considerations. Here's an example:

![pgcli_select_fr](https://cloud.githubusercontent.com/assets/1424858/7089345/2e4ea9b4

[2015-04-10 16:17] darikg commented on #193
Maybe do the vanilla prefix matching on keyword and pgspecial suggestions, but the fancier substring matching on everything else?

[2015-04-10 18:59] amjith commented on #193
I like @darikg's solution. It's simple and might be worth trying.

But we do need some way of ranking the suggestions in the future. I don't have any bright ideas on how to rank them, so I'm open to suggestions.

[2015-04-10 19:01] amjith commented on #193
One other place the ranking would be useful is schemas vs tables vs functions. At the very least we need a way to distinguish them in the drop down.

I can see us adding an opening bracket to functions, but schemas and tables are hard to distinguish. Even just a horizontal line to show the separation would be good.

[2015-04-10 20:29] darikg commented on #193
What about using the way ptpython distinguishes files and directories?

![](https://raw.githubusercontent.com/jonathanslenders/ptpython/master/docs/images/file-completion.png)

[2015-04-10 21:10] amjith commented on #196
Yes. I like this idea. I'm sure psycopg2 throws an exception when the connection is broken, we can find out the exception type and catch that and reattempt a connection?

[2015-04-10 21:12] amjith commented on #193
Holy potatoes that is awesome!

I'd love to see the categories like that. 'Schema', 'Table', 'View' etc.

[2015-04-10 21:13] amjith commented on #193
We should file that as a separate issue and get back to the substring matching that @drocco007 is suggesting in this issue.

[2015-04-11 13:34] drocco007 opened #197 "Exception raised when a comma appears before completion"
Example when typing a `,` as the first character on a line:

    ~$ pgcli -h localhost postgres postgres
    Version: 0.16.3
    Chat: https://gitter.im/amjith/pgcli
    Mail: https://groups.google.com/forum/#!forum/pgcli
    Home: http://pgcli.com
    postgres> ,Exception in thread Thread-1:
    Traceback (most recent call last):
      File "/usr/lib/python2.7/threading.py", line 810, in __bootst

[2015-04-11 16:28] #197 closed

[2015-04-11 19:22] drocco007 commented on #193
I have taken a crack at @darikg's suggested approach, the implementation of which you can see here: https://github.com/drocco007/pgcli/commit/1df8ca3ac2a1faca735117d14143a22bb8df2e42

This version currently doesn't work when smart completion is off (and the corresponding test is failing), as that mode makes no distinction between kinds of suggestions. I'm still pondering the best approach to handl

[2015-04-11 21:08] darikg commented on #193
This is really cool. I like using it to quickly filter a small list of suggestions to the one I want by quickly typing an obviously unique three character substring and mashing TAB, instead of having to scroll to it with the arrow keys.

I think handling the functions the way you describe makes total sense. All the built-ins have such succinct names I can't imagine substring matching being useful.

[2015-04-11 21:17] darikg opened #200 "Show meta info in the completions menu"
Spinning this off from a derailment in #193

Python prompt toolkit has supporting for showing extra information in the completions menu, as seen in this screenshot:

![](https://raw.githubusercontent.com/jonathanslenders/ptpython/master/docs/images/file-completion.png)

This seems to be as easy as specifying the `display_meta` parameter when constructing each `Completion` object.

We could make us

[2015-04-11 23:02] ilmari opened #201 "Error when selecting json/jsonb values"
When a query returns a `json` or `jsonb` value, `pgcli` throws an exception: `'str' object has no attribute 'decode'`:
[code]

[2015-04-12 01:52] amjith commented on #200
I'm fairly certain we need to upgrade prompt_toolkit to the latest version before we can utilize this feature. So this has a hard dependency on #168.

[2015-04-12 01:58] amjith commented on #201
@ilmari Can you tell me what version of python you are using and how you installed pgcli (did you do pip or brew)?

Because I just tried it on my own installation and it seems to work.

[code]

[2015-04-12 11:31] ilmari commented on #201
I'm on Debian Testing (Jessie/8.0-to-be) with Python 3.4.2. I installed pgcli with `pip3 pgcli`.

[2015-04-12 15:53] amjith commented on #201
Confirmed that it's a bug in Python 3. I'll fix it soon. Thank you for reporting. :)

[2015-04-13 20:38] amjith opened #203 "Use LOCALAPPDATA in Windows"
http://windows.microsoft.com/en-us/windows-8/what-appdata-folder

http://blogs.msdn.com/b/patricka/archive/2010/03/18/where-should-i-store-my-data-and-configuration-files-if-i-target-multiple-os-versions.aspx

This is not available in Win XP. So have a fallback.

Right now the .pgclirc and .pgcli.log are defaulting to USERPROFILE which is wrong for Windows.

[2015-04-13 21:28] masonjm commented on #188
+1. It would be nice if \x worked, as well.

[2015-04-13 21:31] amjith commented on #188
@masonjm The \x is already implemented. It should work just like psql. Unless you have a very old version of pgcli. In which case you should consider upgrading.

You can upgrade using `pip install -U pgcli` or `brew update && brew upgrade pgcli`. Depending on how you installed it originally.

[2015-04-13 21:49] masonjm commented on #188
Sure enough. Brew gave me 0.10.2 originally.

Thanks :).

[2015-04-14 08:32] eolo999 opened #205 "Implement (\i) and (\cd) commands in pgcli"
When I try to change folder with \cd the parser thinks I am trying to connect to another database:

    my_database> \cd whatever
    FATAL:  database "whatever" does not exist

[2015-04-14 15:57] amjith commented on #205
LOL!

Did you try creating a folder called "whatever"? Just kidding.

Yes `\cd` is not an available command. Right now any command that starts with a `\c` is treated as a change DB, which is wrong. The fix for that is already in the `master` branch, waiting to be released.

But I'm more interested in the use case that comes after it.

What exactly do you do after you change the directory? Because

[2015-04-14 17:57] eolo999 commented on #205
I have a lot of pl/pgsql functions which I often reload from files with the  __\i__ command.

[2015-04-14 18:00] amjith commented on #205
Adding `\i` is the real goal then.

I'm going to change the title of this issue to implementing `\i` since that is going to be much harder than implementing `\cd`.

[2015-04-14 18:43] eolo999 commented on #205
Thanks a lot.

[2015-04-15 13:29] #193 closed

[2015-04-15 17:39] amjith commented on #192
This is now fixed in master. Thanks to @darikg.

You can install directly from master using the following command to check it out.

[code]

I'm planning to do a release sometime this weekend, so you should be able to upgrade directly from PyPI at that time.

[2015-04-15 17:39] #192 closed

[2015-04-16 16:31] amjith opened #206 "Add a command line argument -l to list available databases"
Requested by a user on google groups.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/pgcli/y6255Ix5JVo/PyCYGVEmzhUJ

eg:

[code]

It should be fairly straight forward to implement.

[2015-04-17 03:21] drocco007 opened #207 "Support TRUNCATE"
Add TRUNCATE as a supported SQL command

[2015-04-18 01:45] #196 closed

[2015-04-18 21:04] drocco007 opened #211 "SELECT … INTO new_table should update list of available tables"
In this screenshot, my_new_table does not appear in the list of table suggestions:

![select_into_no_refresh](https://cloud.githubusercontent.com/assets/1424858/7217263/d5cfc39c-e5ec-11e4-8178-b6a460e35267.png)

[2015-04-18 21:10] drocco007 opened #212 "SELECT … INTO suggests existing tables"
`SELECT … INTO ` suggests the currently-available set of tables, but this is misleading as the `SELECT … INTO` command needs the name of a *new*, nonexistent table that will be created and populated with the output of the `SELECT`

![select_into_tables](https://cloud.githubusercontent.com/assets/1424858/7217282/dea82ce2-e5ed-11e4-97e3-34e65ab73631.png)

I'm actually not sure what the best user exp

[2015-04-19 00:18] darikg commented on #212
`create table` does the same thing. imo it actually kinda makes sense -- I can imagine wanting to make a new table with the same name as an existing one, but with an extra suffix.

[2015-04-19 02:37] #207 closed

[2015-04-19 03:13] #201 closed

[2015-04-19 03:34] amjith commented on #212
I'm actually with @darikg on this one for a couple of reasons.

1. As Darik mentioned sometimes I tend to create a table that happens to a copy of an existing table in which case it has a suffix added to the existing table name.

2. It serves as a reminder of what tables are already available. This is mostly for playing around, but I create tables called or 'test' or 'sample' to test a specific bu

[2015-04-19 03:39] amjith commented on #211
The auto-refresh of tables and columns are triggered by specific commands (https://github.com/amjith/pgcli/blob/master/pgcli/main.py#L391).

I've never seen 'SELECT * INTO new_table FROM existing_table'. That's an awesome feature. :)

But having an auto-refresh for SELECT statement seems overkill, since that is the most common statement.

I wonder if there is an easy way to detect if the metadata

[2015-04-19 10:55] darikg commented on #211
That's a cool idea -- it would also handle cases like `SELECT my_function_that_creates_a_new_table()`

[2015-04-20 13:59] amjith opened #216 "Fix the failing tests in Travis"
It seems like the tests are failing on Travis because a new SQLParse library is out and the output format has changed. (Thanks to @darikg for catching that).

We need to update the tests to match the new format.

[2015-04-20 14:13] darikg commented on #216
The tests are right, sqlparse is wrong. The easiest thing to do is just wait for sqlparse to release 0.1.16, where it's been fixed, then pin setup.py to that. In the interim we could pin sqlparse to 0.1.14, before the bug regression, but I don't know what that does to pgcli installed with 0.1.15 'in the wild'

[2015-04-20 14:30] amjith commented on #216
It's an install time check, so if someone has 0.1.15 installed then it will continue to work as normal.

If someone is installing it for the first time it will install 0.1.14 (as expected). But if someone has 0.1.15 installed then install a new version of pgcli it will downgrade their sqlparse to 0.1.14.

So I think it is safe to assume that we can pin it to 0.1.14 without collateral damage.

[2015-04-20 18:37] Graham42 opened #218 "Text field with line returns not formatted properly"
There's some data that has YAML in a text field. When selected it is not formatted properly because of the line returns in the YAML

Actual output
[code]

The output I would expect should be something like this. The challenge would be differentiating between a record with multiple lines, and multiple records where some fields are null.
[code]

[2015-04-20 19:02] amjith commented on #218
Yes, multi-line output is handled poorly by the tabulate library. It might be time to rewrite tabulate to something more relevant to pgcli. :(

[2015-04-21 15:15] Graham42 commented on #188
+1 for `\copy`

[2015-04-22 15:52] micahhausler opened #220 "Support for psql environment variables"
It'd be awesome to use the `PGPASSWORD="..." pgcli` syntax like psql to set the connecting password

http://www.postgresql.org/docs/9.3/static/libpq-envars.html

[2015-04-22 20:06] amjith commented on #220
For some reason I thought we already had support for PGPASSWORD, but looks like we honor PGHOST, PGUSER etc but PGPASSWORD is missing.

It shouldn't be hard to add. We'll take a stab at it. :)

[2015-04-23 22:13] kentor opened #221 "Format of pasted query"
When I paste a query with line breaks into pgcli, the lines are joined without a space.

for example:

[code]

becomes

`select colfrom table`

which is a syntax error

[2015-04-24 06:29] amjith commented on #221
Actually in order to paste multi-line strings like the one in the example, you have to enable the multi-line mode (F3 key).

If you notice the syntax error says

[code]

Even though it printed it as `select colfrom table` what it actually did was it pasted `select col` and the newline after that was treated as <enter> and it sent the partial query to the server and then pasted the rest of the quer

[2015-04-26 06:08] amjith commented on #139
https://github.com/ashchristopher/django-pgcli

Created by a friend. :)

Thanks @ashchristopher.

[2015-04-26 06:08] #139 closed

[2015-04-26 07:57] amjith commented on #211
So I just found this talk by someone named @drocco007. https://www.youtube.com/watch?v=HvMj8srOh-o

I'm wondering if it's possible to setup a NOTIFY channel for table changes. So anytime a new table is created or altered, can I be notified?

If so, can we use that in pgcli to setup completion refresh?

[2015-04-27 05:11] amjith commented on #216
Thanks for the fix @darikg.

[2015-04-27 05:11] #216 closed

[2015-04-28 01:30] drocco007 commented on #212
oh, I agree, and I wasn't suggesting we remove the suggestions. Mostly I was just musing about this from a signaling perspective, trying to see if we could think of a way to convey to users that these are the table names that you *can't* use, as opposed to the normal suggestion of ones that you can. But I haven't been able to think of a way that wouldn't be some combination of awkward, difficult,

[2015-04-28 01:30] #212 closed

[2015-04-28 01:46] drocco007 commented on #211
<grin>

The immediate hurdle I can see here is that normally you set up a trigger
that fires the notification that you want when something changes in the
database. We could probably set a trigger up to fire when the catalog
changes, but that feels a little weird to me, since we'd effectively be
messing with end user's databases. But maybe that's just me being overly
cautious. What do you folks thi

[2015-04-28 02:11] drocco007 opened #222 "TAB makes certain completions disappear"
Here is an example: `SELECT * FROM sch` matches three entries, one a schema name in the middle:

![before_tab](https://cloud.githubusercontent.com/assets/1424858/7361623/c239b1be-ed29-11e4-91db-3b9622372899.png)

After pressing `Tab`, the first selection disappears:

![after_tab](https://cloud.githubusercontent.com/assets/1424858/7361637/0bf25dce-ed2a-11e4-9df9-c890f76a145c.png)

[2015-04-28 02:22] drocco007 commented on #222
So I dug around a little bit and discovered that `Ctrl-Space` behaves correctly with this example. Incoming pull request to treat `Tab` the same way :)

[2015-04-28 10:45] darikg commented on #211
Does that mean the user would have to have `create trigger` permissions?

[2015-04-28 16:32] kentor commented on #221
thanks that works :+1:

[2015-04-28 16:32] #221 closed

[2015-04-28 16:56] amjith commented on #211
Interesting point about user privileges to create triggers. I didn't even think about that.

Also @drocco007 has a point about messing with user's notify triggers. It does make me nervous. So feel free to shoot down the suggestion, I just got excited when I saw the video, it just seemed like such an elegant solution. I didn't think it through fully (something about late night coding and lack of co

[2015-04-29 01:11] chrisanderton opened #225 "Provide a way to update autocomplete without restarting"
If the structure of a table changes, the autocomplete options don't seem to refresh - i assume the definitions are cached somewhere?

It would be good to provide a command to invalidate the cache to avoid having to quit and reload to get the latest structure in the autocomplete..

[2015-04-29 02:00] j-bennet commented on #211
I like the idea of an inexpensive query to find out table count. I think even finding table column counts may not end up to be a "heavy" query. Something like this:

select t.table_name, count(c.column_name) as column_count
from information_schema.tables t
join information_schema.columns c on c.table_name = t.table_name
where t.table_schema = 'public' group by t.table_name;

Especially if it's onl

[2015-04-29 02:10] j-bennet commented on #211
Connected: https://github.com/dbcli/pgcli/issues/225

[2015-04-29 06:01] amjith commented on #225
@chrisanderton Can you tell us how you're altering the table? We're automatically refreshing the completion when we encounter a `CREATE` or `ALTER` statement. We're also investigating various ways to auto-detect when schemas are modified (see #211).

But I'm open to the idea of adding a command called `refresh` or `rehash` which will refresh the autocompletion.

[2015-04-29 10:46] chrisanderton commented on #225
I'm not altering the table from within pgcli - in this particular case, another tool i'm working with is setting up tables/altering them - and i am using pgcli to interact with them.

I know when the table has changed - as i have made it happen - so i'd be happy with a manual command instead of auto-detection magic! :)

[2015-04-29 10:55] darikg commented on #211
Here's a query that hashes the column metadata:

[code]

I think array_agg and ordered aggregate functions are a relatively new feature though

[2015-04-29 10:57] #222 closed

[2015-05-04 17:52] SpotlightKid commented on #37
On a related note, if you specify a port with the `-p` command-line option, but no host with the `-h` option, `pgcli` still tries to use a unix domain socket. Maybe it should assume an inet socket and `localhost` as the default hostname in that case, since specifying a port doesn't make sense with unix domain sockets.

[2015-05-04 21:00] drocco007 commented on #211
I took a look at psql's source, which takes a different tack here: instead of trying to keep a list of completions up to date, psql obtains the data lazily, issuing the queries for the needed artifacts on demand. They don't even bother caching the results within a single command (e.g. multiple tables joined in a single SELECT), which can easily be seen using `strace` on Linux. If you'd like to try

[2015-05-05 02:46] drocco007 opened #228 "Column suggestion in 2nd and subsequent columns explodes if entered text is a keyword"
Many valid column names start with a prefix that is a complete keyword; this is especially true for the shorter keywords (e.g. AS, IN, IS, TO). However, if the entered text in the second or subsequent column of a SELECT clause is a complete keyword, pgcli raises an exception.

Example: enter text `SELECT 1, in`

[code]

Testing against f0dcb38, PG 9.3.5

[2015-05-05 03:57] amjith commented on #211
Go forth and take a stab. :)

Here are a few concerns:

* The 5ms round trip is an ideal case (you already know this). When the database instance is remote, it could be much longer. So having some strict timeouts would be nice.
* Imagine a database with 100s or 1000s of tables. Running this query would send back payloads that are much bigger, which is a strain on the database instance. So all it t

[2015-05-05 04:00] amjith opened #229 "Use the inet address when port is specified at launch"
Related to #37.

Reported by @SpotlightKid

[2015-05-05 04:00] amjith commented on #37
Good point. Added #229

[2015-05-05 13:30] drocco007 commented on #228
Hmm… just noticed that this change intersects/conflicts with @darikg's work in progress at ff9caf45

[2015-05-11 15:41] boblannon commented on #188
+1 for `\copy`

[2015-05-11 16:49] amjith commented on #188
I have to set some reasonable expectations. I have not used `\copy` myself.

Little bit of researching makes me think that it is ridiculously hard to implement. But I did find some relevant functions in psycopg2 that might make it easy. http://initd.org/psycopg/docs/usage.html#using-copy-to-and-copy-from

@drocco007 @darikg Either of you have experience using `\copy`?

[2015-05-11 16:53] j-bennet commented on #188
@amjith This looks pretty amazing (psycopg2). I'm starting to think it's not as impossible as we thought.

[2015-05-11 19:05] boblannon commented on #188
one relevant distinction that should be made: the postgres `COPY` command is not the same as psql's `\copy` command.  from 9.4 docs:

that might constrain the development task significantly.  i bet limiting the expectations to supporting `\copy` behavior will satisfy many, many users.  it's often the case that non-superusers can't even execute `COPY`

[2015-05-11 23:08] darikg commented on #188
I'm +1 on \copy, but I don't know anything about how it works. From @boblannon's comment it sounds like a `\copy` command could be transformed into a SQL `COPY` command and then sent to `psycopg2.copy_expert`?

[2015-05-12 06:48] dongwenpeng opened #232 "pgcli --help"
system release：centos6.5
databases version：mysql5.5
python version：python2.6

[root@localhost ~]# pgcli --help
Traceback (most recent call last):
  File "/usr/bin/pgcli", line 9, in <module>
    load_entry_point('pgcli==0.16.3', 'console_scripts', 'pgcli')()
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 339, in load_entry_point
  File "build/bdist.linux-x86_64/egg/pkg_resources.py",

[2015-05-12 07:20] amjith commented on #232
`pgcli` is designed to work only with Postgresql databases. It will NOT work with MySQL databases. I'm currently in the process of creating a new project that will work with MySQL.

[2015-05-12 07:38] dongwenpeng commented on #232
Why use pgcli error --help
This it doesn't matter with Mysql

[2015-05-12 13:12] amjith commented on #232
The last line in that error message denotes that libpq is missing on that system. libpq is a postgres library. You can install libpq by typing `$ sudo yum install postgresql-devel python-devel`.

[2015-05-15 14:49] amjith commented on #232
Closing this issue since the reported contacted my personal email and said this is now resolved.

[2015-05-15 14:49] #232 closed

[2015-05-15 16:55] amjith opened #236 "pgcli can't handle creating functions"
Typically functions in postgres are multi-line. Here's an example:

[code]

But it is impossible to enter this in pgcli, because in multi-line mode we treat a semi-colon at the end of a line to be the end of a query. So at the end of `RETURN OLD;` it will end the query and send it to the server which causes a syntax error. :(

I'm open to suggestions for solving this issue.

My current thoughts ar

[2015-05-15 16:58] j-bennet commented on #236
We could use $_$ as a trigger to switch on a "special" multiline mode that would not treat ";" as end-of-query until a second $_$ is encountered.

[2015-05-15 17:15] j-bennet opened #237 "Pgcli needs a light theme."
Doesn't look so great when using a light theme in terminal right now.

I'm using Tango in GNOME terminal.
![pgcli-light](https://cloud.githubusercontent.com/assets/637013/7657998/58e21f2e-faeb-11e4-8e18-0906fc254b5e.png)

[2015-05-15 17:37] amjith commented on #237
You probably saw the email on the pgcli mailing list, but there are plenty of themes to choose from. You just have to pick the right one from the config file.

Try deleting your config file ~/.pgclirc and restart pgcli. It'll create the latest config file and it has a ton of options to choose from.

[2015-05-15 17:41] j-bennet commented on #237
Heh. I'm so behind. This works.

[2015-05-15 17:41] #237 closed

[2015-05-15 17:45] amjith commented on #236
I did some more reading. Looks like this is how postgresql handles this case:

http://www.postgresql.org/docs/9.1/static/sql-syntax-lexical.html#SQL-SYNTAX-DOLLAR-QUOTING

It seems reasonable.

We can't rely on just '$_$' but we'll have to treat '$\.*$' as the markers that start and end the special mode.

We might need a state machine for this since nesting of dollar tags is possible.

[2015-05-19 08:52] NotSqrt opened #238 "Pasting queries can be slow"
Hi,

I want to paste a query like
[code]

But just pasting it and seeing it appear at the prompt can take 15 seconds, while using the history is instantaneous.
Does it try to run completion on every character ?

[2015-05-19 20:47] amjith commented on #238
You're right it does take a while.

I believe it's a limitation of `prompt_toolkit` and the datastructure used to consume the line.

@jonathanslenders Is the slowness due to auto-completion triggering for each character press? Is it possible to disable auto-completion triggers in a special paste mode? Or detect the paste mode automatically by detecting how fast the characters are coming in?

[2015-05-19 21:14] jonathanslenders commented on #238
Hi @NotSqrt and @amjith

Yes, this is currently a limitation of prompt-toolkit, but I'm working on improving that. (It has nothing to do with autocompletion.)

The reason that this is slow, comes from that every single key press goes through two huge state machines. The first one is a vt100 parser which is rather fast. The second is the key binding processor. (Which has a rather large set of seque

[2015-05-20 17:50] jonathanslenders commented on #238
So this is fixed in the following commits:

https://github.com/jonathanslenders/python-prompt-toolkit/commit/5a1aa22b7d88bfd4bbed6cb3dba833c3f7ead17f
and https://github.com/jonathanslenders/python-prompt-toolkit/commit/1d17122ecb858509c8d5f50505eeb53b417e5195

The first commit improves the speed of the state machine for the key bindings significantly. (We can have key bindings for any key, so also

[2015-05-21 04:51] amjith commented on #238
I'll upgrade prompt_toolkit dependency as soon as it is released to pypi.

Thanks a lot for the quick turn around Jonathan. :)

[2015-05-26 11:54] fundon opened #243 "CJK display problem"
[code]

[2015-05-26 13:35] amjith commented on #243
Thank you reporting the problem. It is now fixed in master. I'll be releasing the new version today. In the mean time if you'd like to try the new version you can try installing directly from master, as follows:

[code]

[2015-05-26 14:43] fundon commented on #243
@amjith Thanks, LGTM

[2015-05-26 17:08] amjith commented on #243
Available in the latest version 0.17.0. Please upgrade using:

[code]

[2015-05-26 17:08] #243 closed

[2015-05-26 17:09] amjith commented on #132
I'm closing this issue as I haven't heard back in a while. If you have more trouble feel free to reopen.

[2015-05-26 17:09] #132 closed

[2015-05-26 17:10] amjith commented on #200
Since prompt_toolkit is now upgraded, it'll be nice to add this feature. @darikg Are you interested in taking a stab?

[2015-05-26 17:13] amjith commented on #168
Done!

Available in the latest version 0.17.0. Please upgrade using:

[code]

[2015-05-26 17:13] #168 closed

[2015-05-26 17:14] amjith commented on #188
This release adds `\e` and `\dT`.

Please upgrade using:

[code]

[2015-05-26 17:16] amjith commented on #171
@jradix Can you try out the latest version 0.17.0. This uses the very latest `prompt_toolkit`.

Please upgrade using:

[code]

[2015-05-26 17:36] amjith commented on #17
I'm closing this for now, since this is not an issue anymore.

[2015-05-26 17:36] #17 closed

[2015-05-26 17:38] amjith commented on #23
Closing it since it's a rare use case.

[2015-05-26 17:38] #23 closed

[2015-05-26 17:39] amjith commented on #218
This is a duplicate of #96.

[2015-05-26 17:39] #218 closed

[2015-05-26 17:41] amjith commented on #138
@yukungis  Can you try the latest version? It has a new upgraded version of prompt_toolkit.

You can upgrade using:

[code]

[2015-05-27 08:01] jradix commented on #171
I still get the same error message when I press a non-ascii key :

![image](https://cloud.githubusercontent.com/assets/11317551/7831451/2230b3da-0457-11e5-9d62-1f93f8e00d69.png)

[2015-05-27 08:03] jradix commented on #171
Just for you to see that I have correctly installed pgcli :

![image](https://cloud.githubusercontent.com/assets/11317551/7831487/7f0c9312-0457-11e5-9eed-1c096722c4bc.png)

[2015-05-27 16:09] amjith commented on #171
Thanks for checking that. I presume you're using cmd.exe as your terminal. If so, can you try changing the character encoding using the following command before launching `pgcli`?

[code]

I'm not really familiar with Windows and I got that info from reading stackoverflow: http://stackoverflow.com/questions/1259084/what-encoding-code-page-is-cmd-exe-using

[2015-05-28 11:33] jradix commented on #171
No, it's not an encoding problem. I'm using cmder but it's the same problem on cmd.exe :

![image](https://cloud.githubusercontent.com/assets/11317551/7859071/e6dfd9e0-053d-11e5-9de0-d23e228b6b37.png)

The 65001 encoding is not working :

![image](https://cloud.githubusercontent.com/assets/11317551/7859051/a6438828-053d-11e5-8b1b-8e167ce83d53.png)

[2015-05-28 17:55] lee-kagiso opened #247 "Run commands on startup"
I would like to run some commands on start up, like \x.

Is this possible?

[2015-05-28 18:41] darikg commented on #171
Last time I tried looking into this, I got as far as [this](https://github.com/jonathanslenders/python-prompt-toolkit/blob/0b4a2424b1ed3cf4c4975492f34f37d53080ba0d/prompt_toolkit/terminal/win32_input.py#L114). It's calling `ReadConsoleInputA`, specically requesting an ascii character. According to [this](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684961(v=vs.85).aspx) (linked in th

[2015-05-29 06:15] amjith commented on #247
Right now there is no way to have a startup command.

Is `\x` the only thing you have in mind or do you have other ideas for this request?

The reason I ask is because I can made the expanded output to be a config option in `~/.pgclirc` and you'll be able to achieve this feature. If you have more things in mind, I'll have to think of a different solution.

[2015-05-29 06:35] lee-kagiso commented on #247
I would also like to be able to change the value for nulls:

```\pset null '(null)'````.

In my current psqlrc I also echo out a cheatsheet of \ commands, but I can live without those...

https://github.com/leebrooks0/dotfiles/blob/master/psqlrc

[2015-05-29 06:45] amjith commented on #247
The `null` thing is not going to work. `\pset` is not supported by pgcli. Right now all null values are displayed as `<null>` by default.

The idea is that `pgcli` should ship with sane defaults that requires no configuration. But there does exist a config file which tweaks certain settings such as colorscheme and keybindings.

I can sympathize with the cheat sheet commands. I'll see what I can do

[2015-05-29 06:47] lee-kagiso commented on #247
<null> is perfect, anything other than blank is good.

[2015-05-29 06:49] amjith commented on #247
Also I didn't know about `\x auto` that seems like an awesome feature of psql that I might steal. :)

[2015-05-29 07:24] lee-kagiso commented on #247
One other thing worth mentioning, can you also add to the config file the
ability to use multiline by default?

[2015-05-29 13:28] amjith commented on #247
Aha! This is already part of the config file. Open up `~/.pgclirc` and you'll see an option to enable or disable multi-line mode.

[2015-05-29 14:00] amjith commented on #171
@darikg That's impressive progress. We should report this progress back to @jonathanslenders, see if he has an insight into that method. I'll leave a comment on the prompt_toolkit ticket (https://github.com/jonathanslenders/ptpython/issues/13) with your findings.

[2015-05-30 20:34] jonathanslenders commented on #171
So, it looks like I got a fix for it in prompt_toolkit. As soon as I have a release ready, I'll try to create a pull request to upgrade pgcli as well. There are some more API changes.

[2015-05-31 07:02] amjith opened #249 "Human Friendly timing information"
Make the Command Time and Format Time display in human friendly units (like seconds).

[2015-05-31 07:04] amjith commented on #27
Cleaning out old issues.

[2015-05-31 07:04] #27 closed

[2015-05-31 07:47] #182 closed

[2015-05-31 08:04] amjith opened #251 "Refactor Special Commands"
Refactor the special commands in pgspecial and iospecial into a separate package.

This should enable us to extract this into a separate package and clean up the intertwined code in the main pgcli code base.

[2015-06-05 21:20] amjith commented on #249
Fixed by #250.

[2015-06-05 21:20] #249 closed

[2015-06-07 09:09] jonathanslenders commented on #113
Hi @amjith @shanusmagnus @Vayn @ianozsvald @j-bennet,
``prompt_toolkit`` does now support this kind of history substring matching when pressing arrow-up.

Right now, it works by passing ``Always()`` to ``Buffer.enable_history_search``:
https://github.com/jonathanslenders/python-prompt-toolkit/blob/f9c54569d98603c98a6f34134c287399f70ed283/prompt_toolkit/buffer.py#L157

Please tell me whether I shou

[2015-06-08 03:04] amjith commented on #113
@jonathanslenders I believe it is called 'history-search-backward()' in [readline](http://www.gnu.org/software/bash/manual/bashref.html#Commands-For-History). It's not all that clear from the name.

I have a suggestion for the up/down arrow traversing the suggestion menu. When this option is enabled you can still have complete_while_typing enabled, but then disable the up/down arrow to choose the

[2015-06-08 03:08] amjith commented on #171
@jradix This is now fixed in master. Can you try installing directly from master and trying again?

[code]

[2015-06-09 17:18] amjith commented on #238
@NotSqrt The fix is now merged into master. You can install from master and try it out.

[code]

[2015-06-10 10:15] NotSqrt commented on #238
Perfect ! Tested and good to go !

[2015-06-10 15:47] amjith commented on #238
Awesome! Thank you for testing it.

I'll release a new rev to PyPI once we merge in a few pending PRs. Hopefully it'll go out this weekend.

[2015-06-10 15:47] #238 closed

[2015-06-15 16:33] xiaochuanyu opened #256 "Is there a way to delay auto-completion popup?"
I find it a bit distracting when typing a SQL statement with the auto-completion popup flashing in and out when I don't need it yet. I think it would be nice to have a config option to add a delay before the popup after you stop typing. Alternatively, we can also make the auto-completion only popup when user presses a hotkey similar to how most IDEs work.

[2015-06-16 05:37] amjith commented on #256
Hi @xiaochuanyu. In it's current form pgcli doesn't have the ability to turn off the auto pop-up.

But it is possible to make the auto-completion popup only when you press `<tab>` or Ctrl-Space. I've added this feature in a branch for you to test it out. You can install directly from the branch using the following command:

[code]

Once you install from that branch, open up your config file in ~/.

[2015-06-16 17:20] xiaochuanyu commented on #256
Hey @amjith, I tried out the branch, but I still think adding a delay would be ideal so I don't even have to press the hotkey to get auto-completion suggestions when I need them. I think this will be valuable to future users since a lot of times people tend to pause when typing out their queries when they are not sure about something and need auto-completion suggestions.
How difficult do you think

[2015-06-17 00:48] amjith commented on #256
@xiaochuanyu I believe it is possible. You might want to look into [prompt_toolkit](https://github.com/jonathanslenders/python-prompt-toolkit) the library that powers the completion menu.

Especially this file: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/filters/base.py

I'm currently changing the auto-completion behavior here in pgcli: https://github.com/d

[2015-06-17 05:09] #251 closed

[2015-06-18 05:18] #225 closed

[2015-06-18 07:27] amjith commented on #225
@chrisanderton This is now available in 'master'. You can install directly from master using:

[code]

You can refresh the completions using `\#` or `\refresh` commands.

[2015-06-21 17:10] j-bennet opened #264 "More help needed for named queries."
It would be good to add help to special commands. For named queries specifically, because they are a non-standard feature. So you could run `\n --help` and see the usage.

[2015-06-21 17:18] j-bennet opened #265 "There's nothing output on "\n" when there's no named queries."
There should be some kind of message, for example, "No named queries".

[2015-06-22 03:19] amjith commented on #265
I'm on it.

[2015-06-22 03:19] amjith commented on #264
Working on it now.

[2015-06-22 22:39] #264 closed

[2015-06-22 22:42] j-bennet opened #270 "There is no autocompletion inside a named query."
When inside the named query, suggestions don't show up.

![named-query-no-autocomplete](https://cloud.githubusercontent.com/assets/637013/8294961/1df337e0-18f5-11e5-860e-5b47ae95dbe1.png)

Boo.

[2015-06-22 22:47] amjith commented on #270
Yes I'm aware of that handicap. Thanks for filing an issue for it. :)

[2015-06-22 22:48] amjith commented on #270
BTW, we also need a way to allow multi-line mode for this. Otherwise named queries are just a fancy gimmick. :P

[2015-06-22 23:22] j-bennet commented on #265
Usage is now printed - closing.

[2015-06-22 23:22] #265 closed

[2015-06-30 15:48] szeitlin commented on #132
I'm having this problem, in my case it's definitely related to libssl.1.0.0.dylib, but following these directions just made my problem worse since now my /usr/lib version of libssl is broken.

I don't understand what's happening b/c anaconda has its own pointer to openssl, and that seemed to work fine for other things, but psycopg2 doesn't seem to be able to find it even though it's right there in

[2015-06-30 15:55] amjith commented on #132
@szeitlin Sorry about the crash. Can you tell me what OS you're using and how you're installing pgcli?

Do you have postgres on the machine? What is the error message you're getting?

If you're on OS X, can you try installing it via brew?

[2015-06-30 16:03] szeitlin commented on #132
well, the good news is, pgcli installed just fine and python seems to be able to find psycopg2 just fine!

unfortunately, django is confused (which is why I wanted to install postgres in the first place).

I've run into problems with this before - I think anaconda and brew don't play together quite as well as they should, at least for some things (and libssl seems to be one of those).

[2015-06-30 20:56] arsgeografica opened #274 "Selecting JSONB throws error "unknown encoding: SQLASCII""
I have a JSONB field in a PostgreSQL 9.4.4 database. Selecting it with pgcli 0.17.0 throws the error in the title. Using psql I get the JSON string representation for the field.

[2015-07-01 06:32] amjith commented on #274
I'm unable to reproduce this issue.

Here are a few things I've tried so far:

[code]

Doing a bit of research shows that SQL_ASCII is an odd encoding style. http://www.postgresql.org/docs/9.0/static/multibyte.html

Do you have any pointers on why SQL_ASCII is used as encoding style for the database?

[2015-07-01 06:57] amjith commented on #274
After a bit of research I found out that this is not related to JSONB but it has to do with the encoding of the database. I've fixed this in a branch and I was wondering if you could try it out and let me know if it works for you.

You can install directly from a branch in github using the following command:

[code]

[2015-07-01 07:07] arsgeografica commented on #274
Will do tonight. Thinking of it, this DB was created with an Ansible playbook, probably not specifying an encoding, causing it to have that weird encoding. Stupid me. :)

[2015-07-01 17:55] arsgeografica commented on #274
This works! Although I'm not sure what exactly causes this. The DB is encoded UTF8...

[2015-07-01 18:51] amjith commented on #274
If it's encoded UTF8 then pgcli will be using utf8 as the default encoding.

Can you try `psql -l` to see the list of databases and their encodings?

That should tell you what postgres thinks the encoding is set for that DB.

[2015-07-01 20:00] arsgeografica commented on #274
Looks ok:

   Name    |    Owner    | Encoding |   Collate   |    Ctype    |   Access privileges
-----------|-------------|----------|-------------|-------------|-----------------------
 postgres  | postgres    | UTF8     | en_US.UTF-8 | en_US.UTF-8 |
 registry  | registry    | UTF8     | en_US.UTF-8 | en_US.UTF-8 |

[2015-07-05 23:24] amjith commented on #171
This is now fixed in the latest released version of pgcli. Please upgrade to v0.18.0.

[2015-07-05 23:24] #171 closed

[2015-07-12 05:50] amjith opened #278 "Move the integrations test files into the 'tests' folder"

[2015-07-14 20:44] mquinnv opened #280 "Text field displayed as floating point"
![data](https://cloud.githubusercontent.com/assets/932611/8684632/977a6f8a-2a47-11e5-8682-eb79a7f6bf9f.png)
![table-def](https://cloud.githubusercontent.com/assets/932611/8684633/9786c488-2a47-11e5-9970-821f24f1b257.png)

[2015-07-14 20:45] mquinnv commented on #280
pls let me know if i'm missing something obvious. the data happens to look like a floating point number, but it isn't.

[2015-07-14 22:22] amjith commented on #280
The tabulate library used by pgcli tries to be clever and attempts to auto-detect the data types. Which is why it recognized the column as float.

Unfortunately I don't have an easy solution for that right now. I'll try and use a different library in the future.

Sorry about that.

[2015-07-15 06:17] #278 closed

[2015-07-15 09:48] hollobon commented on #18
Anyone working on this? Considering doing this myself but I don't want to duplicate effort.

[2015-07-15 17:39] amjith commented on #18
@hollobon No one is working on it as far as I know. That's why I put a back_burner label on it. Because I couldn't find time to work on it.

If you need some help getting started please feel free to leave a comment.

[2015-07-21 17:09] mquinnv commented on #280
np, glad i'm not insane. great job tho. kicks psql's butt

[2015-07-22 22:34] keturn opened #281 "support \h"
or some other help key to show the syntax of a SQL command.

[2015-07-22 23:10] amjith commented on #281
This is a valid request. Unfortunately I don't have an easy solution here.

There is no way to get the documentation out of postgres programmatically. At least I haven't found a way to do it.

So I'm open to ideas.

[2015-07-23 18:01] cctextur commented on #18
I got this connected to Redshift (PostgreSQL 8.0.2) and am currently working on getting the meta commands working. I'll make a pull request this weekend but I'll need some help getting my code cleaned up since I'm still very much a beginner python developer.

[2015-07-23 18:16] amelio-vazquez-reina commented on #18
Great news --- :+1: Happy to help with beta testing or in any other way possible.

[2015-07-23 18:16] amjith commented on #18
I'll be happy to help clean up the code. Feel free to open the PR.

The meta commands (or back-slash) command can be challenging to implement. So I'll be fine if you want to do that as a separate PR. :)

Thank you for taking a stab at it. :)

[2015-07-23 19:53] hollobon commented on #18
I'm planning to translate the version-dependent bits from psql (mainly in src/tools/bin/psql/describe.c). Hoping to make a start tonight / tomorrow, but don't want to tread on toes so I'll hold off if others doing the same.

[2015-07-23 21:53] jcox92 opened #282 "Error when trying to connect to redshift db"
After installing pgcli using brew, I get the following error when I try to connect to a redshift DB:

[code]

Any idea what might be causing this?

[2015-07-23 21:58] amjith commented on #282
The issue is because pgcli is targeting Postgres 9.x and above.

There is effort underway to try and support older versions. Please see https://github.com/dbcli/pgcli/issues/18 for details.

[2015-07-23 22:02] jcox92 commented on #282
Ah very good! Thanks for the quick response!

[2015-07-23 22:52] amjith opened #283 "Autocompletion breaks when a quoted table is aliased"
eg:

    SELECT * FROM "access" a WHERE a.

[2015-07-24 03:56] geordee opened #284 "Explicit dependency on PostgreSQL in Homebrew"
I already have PostgreSQL using Postgres.app

    ~ $ brew install pgcli
    ==> Installing pgcli dependency: postgresql
    ==> Downloading https://homebrew.bintray.com/bottles/postgresql-9.4.4.yosemite.b
    ^C
    ~ $

Can we avoid installing PG for pgcli?

[2015-07-24 05:11] Umedoc opened #285 "Wrongly double quoting name of some databases in autocompletion"
Running osx 10.10.3, pgapp version of postgres, installed pgcli using brew install --build-from-source pgcli
\l  produces a list of databases, the names of which are all shown without double quotes.
When I try and use \c to connect to a database, the list of databases shows some with double quotes and some without. The ones with double quotes fail
umedoc_sql_practice> \c "depot-jrb_development"
FA

[2015-07-24 05:44] amjith commented on #284
You can install pgcli as follows:

    brew install --build-from-source pgcli

That will skip installing postgres from brew if postgres already exists in the system.

Sorry about the explicit dependency on postgres in brew. I couldn't find a different way to bring in the dependencies needed for psycopg2 to install in OS X. And there is no way for me to check if Postgres is already available on the

[2015-07-24 06:20] geordee commented on #284
Thanks! It worked.

I wonder whether <code>pip install pgcli</code> is simpler.

[2015-07-24 06:20] #284 closed

[2015-07-24 08:09] Knorkebrot opened #286 "Use PAGER if the output is to wide"
That'd be nice :)

[2015-07-24 09:34] MattOates opened #287 "Order keyword autocomplete by some form of frequency of use"
At the moment it looks like keywords are ordered alphabetically this is usually not what you want. Instead it might be good to order them by their frequency of appearance in actual SQL. For example WH gives WHEN and WHENEVER before WHERE. This could even be learnt as people use pgcli so its custom to their use case.

[2015-07-24 13:35] mikekaminsky opened #288 "Ctrl-C exits pgcli and introduces strange behavior in bash"
Connecting to a remote DB and running `\d` lists relations as expected. Hitting Ctrl-C aborts pgcli and causes issues in bash on exit(can't see input, return doesn't jump to new line). Ctrl-C probably should not abort the whole program.

See this discussion about this behavior in the mysql command line client:
https://bugs.mysql.com/bug.php?id=66583

Found this behavior in pgcli Version: 0.17.0

[2015-07-24 13:47] amjith commented on #286
Can you elaborate? I'm not sure what you mean by READER.

[2015-07-24 13:49] Knorkebrot commented on #286
Oh, I mean PAGER, sorry.

[2015-07-24 13:51] amjith commented on #286
I already use the PAGER for output that doesn't fit in the screen. Wider output is a different issue and using a PAGER there doesn't really help.

[2015-07-24 13:53] Knorkebrot commented on #286
Why would that be a different issue?

[2015-07-24 13:58] amjith commented on #288
The Ctrl-C aborts pgcli only if you're in the pager. If you're just in the regular pgcli prompt it doesn't abort when you Ctrl-C.

This is due to a bug in one of the libraries I use called 'Click' for piping the output through a pager.

I've fixed the bug in click and sent a PR which is already merged. https://github.com/mitsuhiko/click/pull/351

But I'm waiting for them to release a new version s

[2015-07-24 13:59] amjith commented on #286
Can you jump on gitter? We can hash it out.

https://gitter.im/dbcli/pgcli

[2015-07-24 14:02] Knorkebrot commented on #286
I'm in a hurry, I'll join later.

[2015-07-24 14:13] zakm opened #289 "support "service=""
With psql, one can create a .pg_service.conf file with the following format:

[code]

and then run `psql service=someservice`. Support for this feature would be nice.

[2015-07-24 14:18] amjith commented on #289
Reasonable request, I'll see if I can add that feature in.

Can you tell me if `.pg_service.conf` is always on the home folder of the user or is there a common location like `/etc/postgres`?

[2015-07-24 14:21] Dinoshauer commented on #289
Here's the docs for `.pg_service.conf` http://www.postgresql.org/docs/9.4/static/libpq-pgservice.html :)

[2015-07-24 14:21] amjith commented on #285
Hi @Umedoc. Can you tell me which version of pgcli you're using?

This bug is fixed in the latest version. Can you try upgrading?

You can upgrade using pip (pip install -U pgcli) or brew (brew upgrade pgcli). Depends on how you installed pgcli originally.

Let me know if this is still a problem after the upgrade.

[2015-07-24 14:31] amjith commented on #289
Thank you for the doc. It seems simple enough, I'll give it a shot. Thank you!

[2015-07-24 14:34] Dinoshauer commented on #289
Maybe you could even support `.pgpass` files! http://www.postgresql.org/docs/9.3/static/libpq-pgpass.html

Ofcourse, that is if you don't do so already :) I couldn't get the package to work on arch linux `pgcli-git` so I never got around to check

[2015-07-24 14:35] amjith commented on #289
There is already support for pgpass. https://github.com/dbcli/pgcli/issues/53 I get it for free since it's a libpq feature.

pg_service might need some tinkering to parse the file.

[2015-07-24 14:37] Dinoshauer commented on #289
It's a regular ini file, python is quite good at that: https://docs.python.org/2/library/configparser.html

[2015-07-24 14:37] amjith commented on #289
@Dinoshauer There might be an arch AUR package. Related: https://github.com/dbcli/pgcli/issues/168

/cc @svenstaro

[2015-07-24 15:22] Knorkebrot commented on #286
For illustration: http://tmp.kbct.de/pager.gif

[2015-07-24 15:39] amjith commented on #286
Thoughts from gitter chat:

Easy solution is to add -S to the less_opts and that'll achieve the right results.

Correct solution is to append to the existing LESS env var instead of replacing the current LESS env var with -SRXF.

Extra credits for providing a way for the user to set the pager options at run time (kinda like how mysql repl does). Using a 'pager' special command.

Thank you @Knorkeb

[2015-07-24 15:41] amjith commented on #287
This would be a fantastic feature. :)

But it'll require some plumbing on the completion algorithm to get it right. So it might not be a quick addition, but I'll definitely take a stab.

Thank you!

[2015-07-24 16:53] normk61 commented on #247
Is it possible to use the .pgclirc config file to set my default search path, like I can in .psqlrc?

[2015-07-24 17:14] audleman opened #291 "TypeError: sequence item 1: expected string, NoneType found"
Typing a semicolon by itself and pressing return results in a ```TypeError```
[code]

[2015-07-24 17:16] amjith commented on #291
@audleman You're using a very old version of pgcli (0.10.2). You should try upgrading.

Can you run:

[code]

[2015-07-24 18:09] audleman commented on #291
That did the trick, thanks.

[2015-07-24 18:18] #291 closed

[2015-07-24 18:44] machinshin opened #292 "support ~/.pgpass file"
http://www.postgresql.org/docs/9.4/static/libpq-pgpass.html

[2015-07-24 19:23] amjith commented on #292
@machinshin There is already support for .pgpass file.

See: #53

[2015-07-24 19:23] #292 closed

[2015-07-24 19:34] machinshin commented on #292
ah i see, you have to add the -h HOST for it to work, thanks @amjith

[2015-07-24 21:11] d33tah commented on #140
What's the current status of the issue? Is there any patch that I could test and work on?

[2015-07-25 01:10] ruimarinho opened #293 "Emulate `jsonb_pretty`"
Would it be possible to implement `jsonb_pretty`-like functionality for pretty printing JSON(B) fields on postgres < 9.5?

[2015-07-25 01:24] amjith commented on #293
Looks like jsonb_pretty() is a built in function to be introduced in Postgres 9.5.

When that is introduced the output in pgcli will look quite crappy. It's because the library we use for tabulating the output can't handle multi-line text.

But to get back to your real question. It is possible to emulate the jsonb_pretty by always prettyfying the results of json fiends, but before that we need to

[2015-07-25 01:27] ruimarinho commented on #293
Thank you for the feedback. Please close at will since this is more of a feature request then.

[2015-07-25 01:30] amjith commented on #140
This is in the back burner now. I'm not really interested in making this a priority since psycopg2cffi isn't quite as stable as psycopg2.

Without that it is not possible to add pypy support.

Is there a specific reason you're interested in getting this working in PyPy?

[2015-07-25 01:31] d33tah commented on #140
I'm interested in testing pgcli on a billion-row-scale database and I'm a bit worried about the performance.

[2015-07-25 01:46] amjith commented on #140
I doubt that you'll get significant boost from using PyPy. Because most of the time is spent in I/O which PyPy won't be of help.

Since psycopg2 is C-extension you'll get the same performance characteristic between CPython and PyPy.

[2015-07-25 09:35] thedrow opened #295 "Measure test coverage"
Either coveralls or codecov is fine but test coverage should be measured.

[2015-07-25 09:36] thedrow opened #296 "Measure code quality"
Landscape.io measures your code quality and conformance to PEP8.
This will keep the project organized and the code readable.

[2015-07-25 15:28] amjith commented on #296
We already have landscape.io integration.

https://landscape.io/github/dbcli/pgcli

[2015-07-25 15:28] #296 closed

[2015-07-25 15:29] amjith commented on #295
I've tried a few times to add coverage but I'm always doing something wrong and it never works.

If you can get the coverage working, I'll be happy to accept a PR.

[2015-07-25 15:29] #295 closed

[2015-07-25 17:16] #274 closed

[2015-07-25 21:31] j-bennet commented on #295
I managed to get it working for dockercli with codecov and this config:

https://github.com/j-bennet/dockercli/blob/master/.travis.yml

Will try to add for pgcli.

[2015-07-26 16:09] amjith opened #298 "Make Exanded output a config option"
Provide a config option to always enable expanded output.

[2015-07-26 21:54] moll commented on #298
Just copying my Gitter reply for the record:

[2015-07-27 03:23] #285 closed

[2015-07-27 03:25] amjith commented on #220
This is now available in version 0.18.0.

[2015-07-27 03:25] #220 closed

[2015-07-27 03:34] Umedoc commented on #285
Sorry, just saw this, it was v0.17.0

[2015-07-28 12:51] #288 closed

[2015-07-29 02:01] loslots opened #301 "codes are taking over my phone help many either"

[2015-07-29 02:09] loslots commented on #301
Sorry to I am lost and don't know where to start Cc is an issue I can't do much on my phn ex has it I believe connected or crashing on me libcore,opengrm, telephony, Modp_b64, okhttp, Androidframework and many other's please help

[2015-07-29 03:31] #301 closed

[2015-07-29 03:32] amjith commented on #200
This is now merged into master. Thanks @darikg for the PR.

[2015-07-29 03:32] #200 closed

[2015-07-29 04:02] j-bennet opened #302 "Add the ability to start pgcli providing path to config file on command line"
Something like this:

[code]

[2015-07-29 04:10] j-bennet opened #303 "Add a special command to print out currently loaded config file contents and / or path"
It may be useful for the user to see the path to the config file he has loaded, as well as the contents of the file itself. Perhaps it should be two commands, like:

[code]

Or something shorter, like:

[code]

Or just one command to show both path and contents:

[code]

[2015-07-29 15:11] amjith opened #304 "Provide customizable history file location"
Copied from email.

IOError: [Errno 13] Permission denied: '/home/vagrant/.pgcli.log‘ (vagrant is the user i’m running sudo with).

[2015-07-29 18:00] #304 closed

[2015-07-30 08:30] jonathanslenders commented on #184
I'll do that.

[2015-07-30 18:12] mknapik commented on #287
:+1:

[2015-07-30 18:18] dylanpyle opened #307 "Can't pipe input from external file"
This works fine in the default `psql` client, but not `pgcli`:

[code]

Version 0.18.0

This might not be a bug, but would be a great feature IMO given that compatibility with the standard client seems to be a goal.

[2015-07-30 18:21] amjith commented on #307
You're right. That is not supported.

The intent of pgcli is for interactive usage. So I didn't concentrate on reading from an input stream.

In all honesty this is a low priority at the moment in terms of catching up with psql features.

[2015-07-31 12:51] jklukas commented on #18
I'd also like to use `pgcli` with Redshift, so +1 to this effort. I'm happy to participate in code review when a PR comes together.

[2015-07-31 13:04] Abscond63 commented on #18
Something is wrong.  I used to work in the bank Wells Fargo, systems QA and development of financial software.  I have all kinds of issue now even a SWF_ID showing on face book as an issue yesterday.

There was swift net bug for time stamp all along when I worked there and others for mapping.  I as serious as could be.
Sharon L Doherty

On Jul 31, 2015, at 06:51, Jeff Klukas <notifications@github.

[2015-08-01 10:31] stardiviner opened #309 "start pgcli error after installation"
I got this error when I start it with `pgcli` after installation:

[code]

This looks like version conflict or something else.
I tried to uninstall `prompt-toolkit`, and install it again, still error.

[2015-08-01 10:46] stardiviner commented on #309
Solved:
install dependency versions:

- =$ pip install prompt-toolkit\equal{}\equal{}0.42=
- =$ pip install prompt-toolkit\equal{}\equal{}0.38=

[2015-08-01 10:47] stardiviner commented on #309
Why pgcli does not auto installed required dependency version `prompt-toolkit`?

[2015-08-01 10:53] stardiviner commented on #309
This problem is not solved yet.
I found `pgcli` require different version `prompt-toolkit` with `mycli`.
pgcli need prompt-toolkit==0.42
mycli need prompt-toolkit==0.38
This is weird.

[2015-08-01 10:55] stardiviner opened #310 "Is there a way to modify popup menu colors?"
RT

[2015-08-01 14:55] amjith commented on #310
I don't know what you mean by RT.

But to answer your question, right now there is no easy way to change it. We wanted to make sure the suggestions and the menu are visible in any background, so we decided to hard code it to a known value.

Is there a specific reason why you want this changed?

[2015-08-01 14:58] amjith commented on #309
Yes. This is a known issue. I wil be updating mycli to match pgcli and releasing a new version soon.

Until then I'd recommend using virtualenvs. http://docs.python-guide.org/en/latest/dev/virtualenvs/#virtual-environments

Sorry about the inconvenience.

[2015-08-02 01:36] stardiviner commented on #310
Because the selected candidate background color is not very clear for me.
I usually use black background & white foreground for selected candidate, and white background & black foreground for candidates.

[2015-08-02 02:14] amjith commented on #310
Can you take a screenshot with the completion menu showing and paste it here?

These are the lines that control the colors for the completion menu.

https://github.com/dbcli/pgcli/blob/master/pgcli/pgstyle.py#L20-L21

It is possible to set those colors from a function argument, but I'm reluctant to add more config options unnecessarily. Reason: http://c2.com/cgi/wiki?ConfigurabilityIsTheRootOfAllE

[2015-08-02 09:18] stardiviner commented on #310
![pgcli-popup-menu-screenshot](https://cloud.githubusercontent.com/assets/378699/9025517/619be5cc-393a-11e5-9a4b-d6663203682b.png)

[2015-08-02 09:19] stardiviner commented on #310
@amjith Can you show me how to modify those colors from a function? I learned a little about Python before, but I forgot it now.

[2015-08-02 18:14] amjith commented on #310
Here's one way to do it:

https://gist.github.com/amjith/6825dc9693120db529e5#file-pgstyle-py-L20

You'll see that style_factory takes in two new arguments `completion_selected_color` and `completion_unselected_color` which are used to set the colors down below on Line 20 and 21.

This needs to be called from the main.py file here: https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L255

Whe

[2015-08-02 21:14] jonathanslenders commented on #310
People always like to play with colors.

The hardest part is that colors are actually defined using Pygments colorschemes, which are Python code, and pgcli uses plain text for configuration files.
A configuration section to override the defaults could look like this:
[code]
However, writing a parser to parse that (without using "eval") and turning it into a Pygments colorscheme could be a challeng

[2015-08-03 00:31] stardiviner commented on #310
Can I let pgcli accept executing extra command with option `-e` or `-c` like some shell command options, for example:
`python -c "print('hi')"`.
And combine it with something like "Python method overriding"?

[2015-08-03 01:42] amjith commented on #310
@stardiviner I'll tell you what, I don't have the time to implement color customization for completion menu. But if you are really motivated to get this added, I'd highly encourage you to take a stab at implementing it.

Define a section in pgclirc file called `colors` like how Jonathan described in the comment above.

Then read that in as part of the main.py file here: https://github.com/dbcli/pg

[2015-08-03 06:15] stardiviner commented on #310
OK

[2015-08-03 15:32] carymrobbins opened #315 "Does not respect \x auto"
Is there a way to get the `psql` behavior with `\x auto`?

[2015-08-03 15:46] amjith commented on #310
Someone else requested this exact same feature in mycli (https://github.com/dbcli/mycli/issues/107). I'm going to reopen this issue and work on adding ways to customize the menu colors.

Thanks for filing the ticket.

[2015-08-03 15:48] amjith commented on #315
Yes. This is a known issue. I think it is possible to detect the size of the terminal using prompt_toolkit library.

So it is possible to add this feature. But I just haven't gotten around to doing it. I'll take this into consideration.

[2015-08-03 16:45] Abscond63 commented on #315
\x  is not good to use, as it should be working as xml on a page handler.

Extended mark-up language. For web publishing.  Some one is trying to get back at 'X' as extended an issue???

What next rotten apples.

Sharon L Doherty

On Aug 3, 2015, at 09:32, Cary Robbins <notifications@github.com> wrote:

Is there a way to get the psql behavior with \x auto?

—
Reply to this email directly or view it

[2015-08-03 18:52] jonathanslenders commented on #184
Currently, when a user does a reverse-i-search (Control-R) or a repetition (meta+number), this is shown before the input instead of the actual prompt.  You get ``(reverse-i-search `text`): `` or ``(arg: 3)`` for instance. This means that while doing this, the width of the prompt changes. That is fine for single line input, but I noticed that if we indent all of the lines, this can become anoying,

[2015-08-03 20:02] amjith commented on #184
Yeah I think moving the search bar down is a reasonable solution.

Thanks again for addressing this.

[2015-08-04 09:48] lujianbo opened #316 "psycopg2.ProgrammingError: column el.typarray does not exist"
in
https://github.com/dbcli/pgcli/blob/master/pgcli/pgexecute.py  datatypes_query

will throw  psycopg2.ProgrammingError: column el.typarray does not exist

when el.typarray does not exist.

![screenshot from 2015-08-04 17-47-27](https://cloud.githubusercontent.com/assets/1668083/9058051/e72122b0-3ad0-11e5-8508-dda60242d794.png)

[2015-08-04 10:34] darikg commented on #316
What version of PostgreSQL are you using?

[2015-08-04 10:38] lujianbo commented on #316
@darikg  Postgresql 8.2.15(Greenplum Database 4.2.8.3)

[2015-08-04 12:27] mbertheau opened #317 "traceback in completion on "selt *""
Just entering `selt *` leads to the following traceback in 0.19:
[code]

[2015-08-04 13:30] darikg commented on #316
Thanks. That query was written on postgresql 9.something so I guess it's not backwards compatible. I'll try to fix it.

[2015-08-04 14:13] amjith commented on #317
That was a good catch. We have a fix in master (Thanks to @darikg). I'll be releasing a new version asap.

In the meantime you can install pgcli directly from master using:

    pip install https://github.com/dbcli/pgcli/archive/master.zip

[2015-08-04 16:09] amjith commented on #316
@lujianbo Are you using a special version of pgcli? Because I don't think it will even open when you use Postgres versions less than 9.x.

[2015-08-04 16:49] rafi commented on #302
Please add an environment variable (as well) to override `.pgclirc` path exactly like `psql` does:
[code]
Then, a configuration option to set the history file path:
[code]
Note, `psql` supports this feature as:
[code]

[2015-08-04 19:59] jonathanslenders commented on #184
Hi, indentation is working in the master branch of prompt-toolkit. All the examples I tested seem to work, but I'm probably going to give it a few more days before a release.

![pgsql](https://cloud.githubusercontent.com/assets/216638/9071081/7eeba2f6-3af3-11e5-974f-45a59ce38e20.png)

The only change for pgcli:
[code]
However, I'd like to use another name instead of "multiline" here... It's a feat

[2015-08-05 01:25] topraymond commented on #316
<code>psycopg2.ProgrammingError: column el.typarray does not exist
LINE 17: ...                   WHERE   el.oid = t.typelem AND el.typarra...</code>

@amjith  I got the same error,   I'm using the latest  version`0.19.0` of pgcli

btw: postgresql version is 8.x

[2015-08-05 01:46] topraymond commented on #316
It works fine with PostgreSQL 9.4.1

[2015-08-05 05:24] amjith commented on #316
Yeah Postgres 8.x was never a target for pgcli. It requires a lot of work to add support for older versions of postgres. There is an effort under way to try and add support for older versions. #18

[2015-08-05 05:30] amjith commented on #184
I think it's fine to call it a different name in prompt_toolkit but I think it should still be called multi-line mode in pgcli/mycli.

Because as far as the user is concerned they have enabled a mode that lets them write queries that span multiple lines. It just so happens the lines are indented by default now.

[2015-08-05 05:31] amjith commented on #317
A new version (0.19.1) is now released. Thanks for reporting the issue.

[2015-08-05 05:31] #317 closed

[2015-08-05 05:53] topraymond commented on #316
Oh, I see.  Thanks!

[2015-08-05 18:20] jonathanslenders opened #322 ""\c" completes, but "\connect" doesn't."
"\connect" completes with "ACCESS", "ADD", "ALL", etc instead of the table names.

[2015-08-05 22:04] #322 closed

[2015-08-05 22:08] amjith commented on #322
Looks like the ticket auto-closed when I merged the PR (Thanks @darikg). But the fix is available in master.

You can install directly from master (I'm sure you already know this).

[code]

[2015-08-05 22:43] #283 closed

[2015-08-06 05:49] amjith commented on #309
This is now fixed in the latest release of pgcli (0.19.1). Prompt Toolkit is upgraded to 0.45.