[2015-08-06 05:49] #309 closed

[2015-08-06 09:45] stardiviner commented on #309
@amjith Really fast work. thanks very much

[2015-08-07 15:48] amjith commented on #310
@stardiviner We just landed a new PR to master which allows customizations to the menu colors. You can try it out. Install directly from master as follows:

[code]

Then add these lines to your config file (~/.pgclirc):

[code]

Then customize them to your hearts content. Let us know if you have any questions.

I'll release this to PyPI in a few weeks.

[2015-08-07 15:48] #310 closed

[2015-08-07 22:18] j-bennet commented on #302
This is now in master.

[2015-08-07 22:18] #302 closed

[2015-08-08 08:24] rafi commented on #302
Thank you j-bennet!

[2015-08-08 11:08] jonathanslenders opened #327 "pgcli crashes when PAGER is an empty string."
[code]

[code]

It's a bug in click. I created an issue there: https://github.com/mitsuhiko/click/issues/403
Just make sure to upgrade when that's fixed.

[2015-08-08 16:38] EricYT opened #329 "Connect MariaDB error"
[code]
Always get a error like this:
[code]
Thanks!!

[2015-08-08 16:55] EricYT commented on #329
Sorry! my fault ! mycli is what i want!

[2015-08-08 16:55] #329 closed

[2015-08-08 18:05] jonathanslenders opened #330 "embed() entry point."
I'd like to see pgcli embedded in tools like `django_extensions`. (Just like `shell_plus`.)

What we need to do for that is have one simple entry point that takes all the database parameters as input. (The `main.cli` method with all the click arguments doesn't look like a good way to embed. You don't want to accidently use environment variables, or options that are passed to the main executable.)

[2015-08-09 01:13] amjith commented on #330
Right now there is a django-extension to embed pgcli. https://github.com/ashchristopher/django-pgcli

I know that @darikg did a bunch of refactor to embed pgcli in ipython. All of that work is encapsulated in this well named file called magic.py. https://github.com/dbcli/pgcli/blob/master/pgcli/magic.py

So I'm not entirely sure how the embed() entry point will be used. Can you explain it a little

[2015-08-09 01:15] amjith commented on #327
Looks like it's fixed in click. But they don't release often. So I'll keep an eye on it and bump the minimum version when it is released. Thanks!

[2015-08-11 15:15] sixpi commented on #205
Going along with `\i` support, `\o` support would be awesome.

[2015-08-12 01:27] stardiviner commented on #310
This's great. Thanks. It works fine.

[2015-08-14 06:36] amjith commented on #286
@Knorkebrot This is now implemented in master. You can try it out by installing pgcli directly from master, as follows:

[code]

You can change the pager at runtime using `\pager [command]`. Eg: `\pager less -S`.

[2015-08-14 20:27] amjith commented on #298
@danieljwest This is a good issue to get your feet wet.

In `pgcli` there is a way to toggle expanded mode from the prompt which is `\x`. When this is enabled the output is printed in a horizontal fashion as follows:

[code]

This feature request is to set this option to be on/off by default from the config file `~/.pgclirc`.

I'd recommend adding this to https://github.com/dbcli/pgcli/blob/master

[2015-08-15 05:17] fernandomora commented on #286
Could it be possible to set default pager and options in .pgclirc using a line like  `pager = less -iMSx4FXRe` ?
Otherwise it is necessary to set preferred pager options each time pgcli is executed.

[2015-08-16 05:28] amjith commented on #286
I can add the pager to the config file.

In the mean time pgcli does honor the env var PAGER. So you can set your PAGER env var to `less -iMSx4FXRe` and it will be used by pgcli.

[2015-08-17 15:25] darikg opened #335 "Errors in later semicolon separated commands hide output from earlier commands"
E.g.
[code]

The output from the first command should be printed before the error traceback in the second

[2015-08-17 16:43] amjith commented on #335
Good catch.

I think this happens because we raise the failure as an exception from pgexecute.run() which is caught in main.py and return just the error.

We should probably catch the exception inside pgexecute.run() and convert it to a message and return that.

Do you want to take that or should I?

[2015-08-17 17:41] darikg commented on #335
Go ahead!

On Mon, Aug 17, 2015 at 12:43 PM, Amjith Ramanujam <notifications@github.com

[2015-08-18 15:46] j-bennet opened #338 "In new version of click, there's a warning about use of unicode_literals"
It looks like this:

[code]

According to an explanation [here](http://click.pocoo.org/5/python3/), we probably want to add `click.disable_unicode_literals_warning = True` to get rid of it.

[2015-08-18 16:12] djoker commented on #124
Thanks!

[2015-08-19 05:40] #338 closed

[2015-08-19 15:00] #335 closed

[2015-08-20 04:54] #236 closed

[2015-08-21 15:59] ixtli commented on #282
I also have this issue, but am satisfied with the response :) (Also I would prefer to see a more stable and featureful client instead of entering the morass of supporting older versions of postgres :) )

[2015-08-22 16:36] j-bennet commented on #289
This is now in master.

[2015-08-22 16:36] #289 closed

[2015-08-26 04:45] #270 closed

[2015-08-26 14:21] avesus commented on #70
:+1:

[2015-09-03 10:56] darikg opened #346 "\e prints tab characters as ^I"
Windows 7 x64, python 2.7
Type `\e` to open the external editor (The default notepad.exe in this case)
Type a query, save, close editor
Tab characters in the character are displayed in the pgcli prompt as `^I`
Pressing enter successfully runs the query so it's just a minor display issue

[2015-09-09 03:06] mknecht commented on #310
@amjith stumbled over this since in the built-in solarized-dark theme of my gnome terminal, I see nothing:

 ![selection_306](https://cloud.githubusercontent.com/assets/77181/9752434/9d2ce648-56e2-11e5-9138-2c7e66647d99.png)

Any chance of this making it to pip?

Thanks for the project, it's one of those things that you wonder how you did without. :)

[2015-09-09 03:14] mknecht commented on #310
Ah, ignore me, this works already! Just modified the wrong color. Thank you! :+1:

[2015-09-10 15:36] avesus commented on #236
Thank you. Wonderful that right when I need the functionality, you have just released it!
Also thank you so much for horizontal scrolling of tables with lot of columns!
Best wishes to you and the startup!

[2015-09-10 16:12] amjith commented on #236
I'm glad you found the feature useful.

I'm amused you think this is a startup. This is just a open source project with volunteer contributors. :)

[2015-09-10 16:21] j-bennet commented on #236
That's a thought to think on, @amjith. :)

[2015-09-10 16:46] avesus commented on #236
[KickStarter's $4800 for mysql-cli](https://www.kickstarter.com/projects/1839007321/mysql-cli) tells me another things. This days all smart geeks make their own start-ups with public open source technology, volunteer contributors and public donations. You really could raise much more on writing specific functionality for people who needs that. Think about system administrators and DBAs of large co

[2015-09-10 18:22] amjith commented on #236
Fair enough. Kickstarter was an experiment to see if there was enough demand for a mysql version. Turns out there was. Creating tools is not the issue it's reaching out to the DBAs and finding out what they need which is the tricky bit.

Even that kickstarter campaign took me an entire month of just promoting it and getting the word out. It didn't reach it's goal until 3 days before the deadline.

[2015-09-10 18:37] avesus commented on #236
Thank you for sharing your experience with us! To write code is much better than do public relations. But without the latter our code will be alone. Thank you for the spent month.

[2015-09-10 21:45] jschilling1 opened #347 ""ALTER SEQUENCE" autocomplete missing"
i.e. "ALTER SEQUENCE" products_id_seq RESTART WITH 1"
This would be a very welcome addition.

[2015-09-11 03:08] zanchey commented on #35
There's an intent-to-package notification filed in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=794250

[2015-09-11 19:19] Dangeranger commented on #298
Yes. Please do this :+1:

A `.pgcli` api that can match `.psqlrc` feature wise would be a huge improvement in PgCLI as far as I am concerned.

[2015-09-12 02:35] amjith commented on #35
I saw that but I didn't know the process of debian. It'll be nice if it is released. :)

[2015-09-12 02:38] amjith commented on #347
Yes. Adding completion for sequences will be good.

I'm willing to help anyone who wants to take a stab at it.

[2015-09-14 16:18] amjith opened #351 "Indentation in output are stripped"
Explain plans have indentation to show the hierarchy of query plan. But tabulate is stripping the indentation.

[2015-09-16 13:22] edcrypt opened #353 "Misc pg functions not showing on smart autocompletion"
When typing things like `select pg_get_viewdef('viewname', true)` with Smart Completion turned on, pgcli will not try to complete the `pg_get_viewdef` function. It works with naive completion.

Other functions lacking on smart completion: http://www.postgresql.org/docs/7.4/static/functions-misc.html

[2015-09-16 14:47] amjith commented on #353
@darikg Would you mind taking a look at this?

I remember that we added logic to not show table names and view names that start with `pg_` until the user explicitly types `pg_`. But do you know if we did the same for functions?

[2015-09-17 01:03] darikg commented on #353
Sorry I'm away from my computer for the next 5 days or so.  I glanced at the source and it looks like I never handled pg_ functions specifically my guess is this is a legit bug. I can fix it when I get back!

[2015-09-17 12:45] martinjanda opened #354 "command \d don't work"
If I write `\d events`, I will see:
[code]

[2015-09-17 17:00] edcrypt commented on #353
It's not just with functions started with pg_ -- current_database() for example won't show also.

[2015-09-17 18:00] joewalnes opened #355 "Hide command line passwords from ps"
It's super convenient to be able to run pgcli like this:

[code]

However, it enables other users on the same system to see the password by running `ps`, `top`, etc.

Some other clients (like the regular `mysql` client) have a cunning way to hide this: http://unix.stackexchange.com/questions/88665/how-does-ps-know-to-hide-passwords

And there's a Python package that wraps this up to make it easy:

[2015-09-17 20:39] amjith commented on #354
What version of postgres are you running?

Can you tell me if `\d` is a table or a view?

[2015-09-18 00:47] amjith commented on #355
Looks like you have a great solution to this. Would you be willing to take a stab at it and send a PR? I'll be happy to help in anyway possible.

[2015-09-18 06:50] martinjanda commented on #354
Thank you for fast response.

Version of postgres is 8.4. `events` is table.

[2015-09-18 06:55] amjith commented on #354
Pgcli only supports Postgres 9.x.

Adding support for older Postgres is not actively pursued.

[2015-09-18 06:58] martinjanda commented on #354
OK. I understand. Thank you.

[2015-09-18 06:58] #354 closed

[2015-09-19 18:06] joewalnes commented on #355
Sure! Looking at the code, I see two options for implementing this:

* Option 1: In the main `cli()` function, read `sys.argv` and look for anything that looks like a connection string in the entire cmd line, and hide it. This is the quickest solution.

* Option 2: Maybe this actual arg hiding should go inside the `click` library. Something like `@click.argument('database', obscure=lambda arg: do_

[2015-09-20 05:00] amjith commented on #355
That's a good observation. I think solution 1 is good for the short term and file an issue with click for the longer term solution.

You're right it'll be useful for others.

[2015-09-20 05:49] jayzeng commented on #355
:+1: on the feature, I (personally) don't see the need to make it a cli argument.

[2015-09-22 14:55] darikg commented on #353
Ok had a chance to look into this again. The pgexecutor functions query isn't returning any functions from the pg_catalog namespace. It'd be an easy fix, but here's the problem:

[code]

That is, there's 1837 functions in pg_catalog that don't start with `pg_`, would that be too much to throw into the completions menu?

[2015-09-22 15:53] j-bennet commented on #353
Showing 1837 functions may not be very helpful. But once the user starts typing something, the list will decrease. I would try it and see if it's feasible in terms of performance. If yes, then I think it's better to show too much rather than nothing.

[2015-09-22 17:06] darikg commented on #353
@j-bennet I think you're right

[2015-09-22 18:24] johshoff opened #358 "CONCURRENTLY keyword not in suggestion list"
When creating an index concurrently like so

    CREATE INDEX CONCURRENTLY ...

the word `CONCURRENTLY` gets syntax highlighting as expected, but is not in the drop-down list of suggested keywords.

I'd be happy to pair on this issue if you want :)

[2015-09-22 20:09] amjith commented on #358
Yes adding a new keyword to the completion menu is trivial. Here's the list of keywords used for completion. https://github.com/dbcli/pgcli/blob/master/pgcli/pgcompleter.py#L19..L40

You're welcome to take a stab at it, if I don't see a PR, I'll try and tackle it tonight.

[2015-09-22 20:16] johshoff commented on #358
Thanks. Expect to see a PR for this.

[2015-09-23 04:22] #358 closed

[2015-09-23 04:29] #353 closed

[2015-09-24 07:47] stuartquin commented on #315
I think this issue is resolved and can be closed with the next release

[2015-09-24 15:25] amjith commented on #315
Yes. @carymrobbins If you'd like to give it a shot now you can always install pgcli from master as follows:

[code]

[2015-09-24 16:05] carymrobbins commented on #315
Looks good, thanks!

[2015-09-24 16:05] #315 closed

[2015-09-26 14:58] stuartquin commented on #281
We could get pretty good results using the sgml from the open source psql client.
For example the `SELECT` command: https://github.com/postgres/postgres/blob/aa9eac45ea868e6ddabc4eb076d18be10ce84c6a/doc/src/sgml/ref/select.sgml#L34

We could parse the synopsis and description sections.

Happy to take a look at this if it seems like a good idea.

[2015-09-26 15:31] amjith commented on #281
@stuartquin I'd love to see a solution for this. So if you have an idea I'm not going to stop you from exploring it.

In fact, @j-bennet had a similar idea where, we can check if psql is installed on the system, if it is, then proxy all the `\h` calls to psql and read the output and display it into pgcli. Which is better than nothing, but I think there might be some challenges to get it right on a

[2015-09-30 05:18] emaillenin commented on #22
I have tested it for non-public schema. Works well and good. Can be released to PyPI.

[2015-09-30 15:33] amjith commented on #22
This has been released to PyPI a long time ago.

[2015-09-30 16:12] emaillenin commented on #22
I was installing it from [Homebew](http://brewformulas.org/Pgcli) couple of weeks back. This feature was not available. Should we release it to Homebrew separately?

[2015-09-30 16:15] amjith commented on #22
Can you try `brew update` and then try `brew upgrade pgcli`?

I had updated brew as well.

[2015-10-01 14:38] amjith commented on #189
Looks like this got closed automatically when I merged #361. I'm going to keep this open until we merge #368.

@darikg I think the changes in #368 covers all the items you had listed here. Is that right?

[2015-10-01 17:21] jmunson opened #370 "I can't actually send commands, enter does nothing."
When running pgcli, it launches without errors and the autocomplete appears to work fine, but when I hit enter it does not actually send the command. If I enable multi-line mode, enter does create a new line, but if I press enter after a ; it does nothing. If I backspace over the ; and hit enter again, it inserts another newline.

I don't see any error output.
I'm running Arch Linux and installed

[2015-10-01 17:32] jmunson commented on #370
This was fixed by doing pip install prompt_toolkit==0.46 as suggested by amjith on gitter. Thanks!

[2015-10-01 17:32] #370 closed

[2015-10-03 14:13] darikg commented on #189
#368 covers items 1 and 2 in the list above. 3 and 4 are a lot more esoteric and I won't be attempting to address them any time soon.

[2015-10-03 18:26] j-bennet opened #372 "Completer has to suggest commands for which help is available"
When user types in `\h <space>`, completer has to suggest SQL terms for which help is available.

Those terms can be got from executing `\h` without parameters.

[2015-10-03 18:27] j-bennet commented on #372
`\h` command was added in this PR in pgspecial:

https://github.com/dbcli/pgspecial/pull/2

[2015-10-07 00:15] mattbreeden opened #378 "Timing does not display Command Time"
My Pgcli install (0.19.1) always displays 0.000s for the Command Time. Format Time correctly displays times.

[2015-10-07 03:58] amjith commented on #378
You are correct, sir.

I think along the way we made pgcli efficient by not consuming the generator object returned by psycopg2 and pass it directly into the tabulate function which consumes the generator while building the table.

I think it is time to get rid of the command time/format time split and merge it into a single value called 'time'.

@dbcli/pgcli-core Thoughts?

[2015-10-07 16:46] j-bennet commented on #378
I think I would rather merge it into a single line with both values present, like `Total time: 0.5sec (0.5s/0.1sec).` I think most people only care about query run time anyway, but you kind of want to catch those possible edge cases if pgcli suddenly takes inordinate amount of time formatting the results (tabulate has been iffy before).

[2015-10-08 21:10] stuartquin commented on #378
I haven't had a thorough look at the code but I can't seem to make the Command Time return anything other than 0.000.
It's possible that my queries just aren't slow enough but I'm trying to make them as inefficient as possible!
In any case, I think it's still relevant to return an accurate command time, chances are the query will be used in an app somewhere so this is the value a developer will be

[2015-10-08 21:18] j-bennet commented on #378
@stuartquin Fake it. :)

[code]

[2015-10-09 01:27] darikg commented on #378
@stuartquin try adding `res = list(res)` after [this line](https://github.com/dbcli/pgcli/blob/54acaed24f4600f999d823568f13ca146fc60e1b/pgcli/main.py#L333) to force-exhaust the generator

[2015-10-09 02:35] amjith commented on #378
We won't be able to separate the command time unless we exhaust the generator as suggested by Darik.

Since `res` returned by this line: https://github.com/dbcli/pgcli/blob/54acaed24f4600f999d823568f13ca146fc60e1b/pgcli/main.py#L333
is a generator the actual command is not executed until we start consuming the generator.

This line: https://github.com/dbcli/pgcli/blob/54acaed24f4600f999d823568f13c

[2015-10-09 18:08] #378 closed

[2015-10-13 01:27] lookforit opened #384 "Does not surpport column names complete when Alter table?"
For example:
[code]
I mean the xxx is column name for table tbl,but which does not auto  pop up.
Any way to make it worked?

[2015-10-13 12:15] amjith commented on #384
Yes, that is certainly possible. I'll take a stab.

[2015-10-13 22:46] j4sper commented on #53
Whether pgcli works or not depends on the order of arguments.

`pgcli -h HOST -U USER DBNAME` works fine, but `pgcli -U USER -h HOST DBNAME` does not.

Both versions would work with the `psql` command.

[2015-10-14 11:22] amjith commented on #53
@j4sper I tried it on OS X and I still can't reproduce it.

Can you tell me what's the version of pgcli you're using?

Also what is the version of postgres are you connecting to?

[2015-10-14 11:37] amjith opened #385 "Allow users to change the ON_ERROR behavior at runtime."
Ref: http://stackoverflow.com/questions/4480381/postgres-sql-fail-on-script-error

pgcli currently supports changing the on-error behavior when we run multiple statements. But this is controlled via the config file. It'll be good to change the ON_ERROR behavior at runtime, so users can set it to STOP when they're about to run a script via the `\i` command.

In psql this change is done via `\set` c

[2015-10-14 15:31] j4sper commented on #53
@amjith Maybe I had an error in my .pgpass.  I couldn't reproduce it today either.

[2015-10-14 21:39] darikg commented on #385
`\set` is also used for variable interpolation, like this:

[code]

Or is that the can of worms you mentioned?

[2015-10-15 03:27] amjith commented on #385
That's the can of worms I mentioned. Because now we're rewriting queries before we send them into psycopg2. Which could be as simple as a search and replace in a query, but we have to be careful not to replace things that are quoted and such.

[2015-10-18 00:04] eiginn opened #386 "Expanded display (\x) faster than non expanded output"
This is gonna be a tough one to describe, here it goes.

(completely made up table modeled after the real thing)

[code]

Below we can see timing from selecting one row. ( I quickly up arrowed to select now(), not really scientific)

[code]

10 seconds (+- for operator lag), meanwhile with \x

[code]

I feel like the number of hstore columns may be related, i noticed as the number of them in the o

[2015-10-18 22:44] eiginn commented on #386
This seems to reproduce the issue:

[code]

[2015-10-19 05:40] amjith commented on #386
@eiginn It is possible for non-expanded output to be slower. But the extent to which you're seeing seems too high.

The tabulate library tries to consume all of the columns to determine the max width of the columns before it starts to display. But the expanded output doesn't suffer from the same limitation. So it is entirely possible that tabulate output is slower. But a 10s difference for just a

[2015-10-19 05:52] eiginn commented on #386
I'm also running 0.19.2 also from pip

[code]

[2015-10-19 09:36] amjith commented on #386
The timing used to be broken in 0.19.2. I've fixed that in master. Can you try installing from master?

[code]

After that if you were to run the commands, there is only one timing value which will correspond to the sum of command execution and table formatting. Try that with expanded and non-expanded outputs, I'd like to see if that value is any different.

[2015-10-19 12:29] disconnect3d opened #389 "[BUG] Pasting doesn't work in some cases"
I've got a function written in such syntax:

[code]

Whenever I paste it into `psql` it works:
[code]

But in `pgcli` it doesn't:

[code]

[2015-10-19 12:49] amjith commented on #389
@disconnect3d What you're pasting is a multi-line query. pgcli by default is not in multi-line mode. You can switch to multi-line mode using `F3` key or you can set it permanently by editing your config file ~/.pgclirc to set `multi_line = True`.

After you enable the multi-line mode you can paste the function without problem.

[2015-10-19 13:40] disconnect3d commented on #389
Good to know, thanks!

Could we warn users who paste something with a lot of newline characters, that there is such option?

[2015-10-19 13:48] amjith commented on #389
If you have thoughts on how to warn users, I'm all ears. Originally when I started pgcli, it was designed as an exploratory tool for running quick commands by hand. Then slowly it grew as a drop in replacement for psql. So I had made a choice to make multi-line mode disabled by default.

I can always enable the multi-line mode in the future releases, so it matches psql's behavior more closely.

/c

[2015-10-19 14:24] darikg commented on #389
Is it possible to automatically detect newlines, switch to multiline mode, paste, then switch back to single line mode? 90% of the time the user is going to press enter immediately anyway so it seems like this would be pretty convenient

[2015-10-19 14:27] amjith commented on #389
I don't know of a good way to detect when a user is pasting vs typing. I believe that as far as prompt_toolkit is concerned, you're entering one character at a time whether it is being pasted or typed in. So differentiating the enter key would be difficult (if not impossible).

/cc @jonathanslenders Can you think of a way to auto-detect when a user is pasting?

[2015-10-19 14:35] jonathanslenders commented on #389
No, we can't detect that. When you paste in the terminal, using for instance command+V or Ctrl+Shift+V, the terminal application sends whatever is on the clipboard to the stdin of the application. That is exactly the same as what it does when the user types on the keyboard.

We could of course measure the speed at which characters come in. Nobody is able to type 100 characters in a fraction of a s

[2015-10-20 07:43] disconnect3d commented on #389
Ok, another case - pasting in multiline mode changes the indentation - which breaks compilation whenever the function is written in PLPythonU:

The function:
[code]

pgcli:
[code]

psql:
[code]

[2015-10-20 08:02] jonathanslenders commented on #389
Have a look at this key binding: https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/key_binding/bindings/basic.py#L163

Pressing enter will copy the margin from the previous line, unless paste mode is on. (https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/application.py#L86)

You may either want to add a paste mode shortcut like

[2015-10-20 18:17] eiginn commented on #386
Installed from master, timing does not appear to reflect the time i am seeing:

[code]

[2015-10-21 01:38] eiginn commented on #386
Just found something very interesting, with expanded display OFF, I had the window small enough to trigger using the pager (in my case vimpager) and it was fast. Could this have something to do with the logic that decides when to use a pager?

[2015-10-21 01:40] eiginn commented on #386
Damn, this was entirely my fault, vimpager was in the way. Sorry for the lame bug ticket.

[2015-10-21 01:40] #386 closed

[2015-10-21 03:54] amjith commented on #386
I'm glad you resolved it.

I'm interested to know how you solved it, in case others run into this issue in the future.

[2015-10-21 10:19] amjith commented on #389
Thanks for the tip @jonathanslenders. I think I want to convert the keybinding to not copy the previous margin but always add a constant margin. That way people realize it's still part of the previous command but not keep inserting the space.

[2015-10-21 18:15] eiginn commented on #386
In my case i stopped using vimpager as PAGER for pgcli.

the background here was that I had "let vimpager_passthrough = 1" in my vimpagerrc, so that it would just pass through the contents it received if it was smaller than the current terminal window. I -assume- that when it had to wrap many lines this process took much longer to figure out.

[2015-10-21 20:24] darikg opened #392 "Make setproctitle optional"
Installing on windows after #355 gives

[code]

Which is a little unfortunate

[2015-10-22 05:06] amjith commented on #392
A little unfortunate? That's a huge inconvenience. I'm considering reverting the change.

Is the feature even applicable in Windows?

@darikg When you run the old version of pgcli (0.19.2) how does it show up in the Task Manager? Does the password show up in clear text?

If it doesn't we can make that package optional in Windows and not do the proc title rewriting.

[2015-10-22 05:09] amjith commented on #114
It is high time we do this. I don't want new features to silently break in Windows.

@dbcli/pgcli-core Any takers? If I don't hear back by Friday, I'll start investigating how to add this.

[2015-10-22 05:12] j-bennet commented on #114
I'm interested. Let me look into this.

[2015-10-22 13:17] d33tah opened #393 "Autocompletion for joined table?"
Here's what I entered to pgcli:
```select count(distinct col) from ohhai oh join omnomnom om on oh.id=om.```

After the dot, pgcli suggested "om" and "oh", but not "omnomnom" columns. Why is that?

[2015-10-22 13:21] d33tah opened #394 "Command run time wrong"
Here's output I got to a query:

[code]

The thing is that after pressing return key, I keep waiting for a minute rather than zero seconds.

[2015-10-22 13:56] amjith commented on #394
Yes. This is a known issue that has been fixed in master. I'll be releasing the new version soon. In the meantime you can install directly from master using the following command:

[code]

[2015-10-22 14:02] d33tah commented on #394
`pip install -U https://github.com/dbcli/pgcli/archive/master.zip` didn't help.

[2015-10-22 14:15] amjith commented on #394
That's surprising. Can you run:

[code]

That should report ~2 seconds. Also there won't be separate `Command time` and `Format time` it is now consolidated to a single value.

[2015-10-22 14:19] d33tah commented on #394
[code]

[2015-10-22 14:19] amjith commented on #393
It should suggest columns from omnomnom as well. I just verified it on my machine.

Can you give me some details?

Such as, version of pgcli, version of postgres and maybe the output of `\d omnomnom`?

[2015-10-22 14:22] amjith commented on #394
That's not using the pgcli from master.

I suspect that `pip` installed the latest version into a virtualenv or into a different location but the older version of pgcli still exists. So when you launch pgcli it is still launching the older version instead of the version in master.

Can you tell me how you installed pgcli originally? You might want to try uninstalling it first.

[2015-10-22 14:23] d33tah commented on #393
[code]

[2015-10-22 14:24] d33tah commented on #393
[code]

[2015-10-22 14:24] d33tah commented on #393
And the pgcli version is the latest in PIP.

[2015-10-22 14:26] d33tah commented on #394
You were right. Uninstalling pgcli and installing it from master without the -U flag helped.

[2015-10-22 14:27] #394 closed

[2015-10-22 14:27] d33tah commented on #393
Also tested on latest `master`. As before, it only suggests `om` and `oh`.

[2015-10-22 16:41] amjith commented on #393
I'm surprised that you only get `om` and `oh` after the dot.

Here's a screen cap of me trying something very similar and I get the columns from each alias after the dot.

![join_sample](https://cloud.githubusercontent.com/assets/49260/10671704/fe48e8b6-78a0-11e5-9cb2-9aff2b5babf6.gif)

[2015-10-22 16:57] d33tah commented on #393
Two differences: you're using more whitespace and you're using `JOIN aaaa a ON a.col1 = b.col1` while I'm using `JOIN aaaa a ON b.col1 = a.col1`. Perhaps it's one of those?

[2015-10-22 17:28] darikg commented on #392
Good point. It looks like it just shows up as `pgcli.exe` so there's no need to play with the process title at all.

[2015-10-22 18:07] darikg commented on #393
Confirmed it's because of the lack of whitespace. Investigating now.

[2015-10-22 18:29] darikg commented on #393
@amjith the issue is `parseutils.last_word(text_before_cursor, include='many_punctuations')`, which doesn't break on the equals sign. It's easy to add the equals sign to the regex, but really all operators e.g. `<>` and `!~` should be in there as well.

[2015-10-22 22:06] d33tah commented on #393
@amjith by the way, which program do you use for recording the screen and converting it to gif? You might find https://asciinema.org/ a cleaner solution.

[2015-10-22 23:05] d33tah opened #396 "Humanize time display?"
Here's what I just noticed:

[code]

Making it `humanize.time.naturaldelta(t) + (miliseconds) + "miliseconds"` would be much more readable. What do you think about it?

[2015-10-23 03:39] amjith commented on #396
I decided to settle on seconds as the default units because changing it between milliseconds, seconds and minutes will make it hard to compare them.

For example, when someone runs a query and sees that it takes 1.5seconds then they optimize it somehow to make it run in 0.9s it'll be good to see 0.9 instead of 900ms.

It adds a bit of cognitive overload to convert them between units.

So it was a

[2015-10-23 03:57] amjith commented on #393
I'm using http://www.cockos.com/licecap/ to record my gif.

I've heard of asciinema, but I haven't used it since I can't embed it into github or something similar.

[2015-10-23 18:15] d33tah commented on #396
You could keep both. I once wrote a private patch for psql that adds "humanized" time information next to the milisecond count. Having a uniform unit is nice unless you're going to read how many hours the query took based on the number of seconds. I tend to run long-running queries in PostgreSQL quite often.

[2015-10-23 18:16] d33tah commented on #351
Any ideas on which piece of code is to blame? This is affecting me as well.

[2015-10-24 07:50] amjith commented on #351
I suspect the indentation is removed somewhere in this file: https://github.com/dbcli/pgcli/blob/master/pgcli/packages/tabulate.py

But I haven't had the time to dig in yet. So if you have a possible fix, I'd most welcome it. :)

[2015-10-24 15:03] d33tah commented on #351
I basically removed all `.strip()` in this file and got indentation working:

[code]

[2015-10-24 15:04] d33tah commented on #351
I could have broken something in the process because I don't know the codebase, but a simple `explain` test works fine.

[2015-10-24 15:47] darikg commented on #351
@d33tah would you be willing to submit a PR? That would make it easier for the rest of us to test your changes, and allow the automated testing to run as well. You can see guidelines [here](http://pgcli.com/develop) for cloning the git repo to your machine. The remaining steps would be to make a new branch, commit your changes, push them back to github, and then open a pull request.

[2015-10-24 16:12] d33tah commented on #351
@darikg: Done.

[2015-10-26 09:02] pik opened #399 "Pager breaks cli history with wide output?"
I'm not sure if there is a configurable setting to fix this but the default is insanely bad. Scrolling up I have dozens of screens that look like this (when using arrow keys to horizontal scroll the warped columns, which essential destroys the ability to scroll up and see query history).

<img width="1680" alt="screen shot 2015-10-26 at 4 59 20 pm" src="https://cloud.githubusercontent.com/assets/1

[2015-10-26 09:13] amjith commented on #399
It is configurable.

`pgcli` will honor your `$PAGER` env variable. So you can launch pgcli as follows:

`PAGER=cat pgcli`

That sets the PAGER env var to `cat`. Which will pipe the output through `cat` instead of `less`, which would solve the history scrollback.

Alternatively, you can set PAGER to `more` to still keep some of the functionality of scrolling but it won't do horizontal scrolling.

[2015-10-26 09:24] pik commented on #399
Thanks for the response. The problem isn't the horizontal scrolling in less, it's that the less output is written to the same display as pgcli instructions. If you run `psql` with the same settings (using PAGER=less) the output is contained in a separate display and is hidden after the user exists less (likewise ipython %edit magic etc.).

[2015-10-26 09:30] amjith commented on #399
Yes. I chose a specific set of `less` [options](https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L432) to make it behave the way it does right now. I completely understand that this won't be desirable to everyone.

I'll take that into consideration for the future release and provide a way to override that behavior.

[2015-10-26 09:58] pik commented on #399
@amjith aren't the less defaults (`SXRF`) not being applied there? Would something like this fix it (let me know if I'm misunderstanding something):

        less_opts = os.environ.get('LESS', '-SRXF')
        self.logger.debug('Original value for LESS env var: %r', less_opts)

        return less_opts

[2015-10-26 10:38] amjith commented on #399
The code as it is now, reads the current value set in `LESS` env var and stores it away. Then overrides the `LESS` env var by setting it to `-SRXF`. The reason I store it away is because I want to restore it to the original value chosen by the user upon exit. Done here: https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L427

The reasoning behind this decision is that an average user is unli

[2015-10-26 14:37] pik commented on #399
I made a patch https://github.com/pik/pgcli/commit/ad6687fafde13ee5a13d20c86b04f1e27da682ae - but I am reconsidering it's usefulness now -- primarily because less will function quite differently within pgcli than it does on terminal.

I guess there are two issues here: One is custom less flags which atm can be configured using `\pager less <custom_flags>` but could use a permanent home. And the ot

[2015-10-26 14:52] amjith commented on #399
I'm not sure I entirely follow your request. So let me rephrase it to see if I understand it correctly.

You'd like to show the output via `less` but in a different screen so whenever you press `q` it will clear the screen.

I think that can be achieved using the `-c` flag.

One of the advantages of rewriting pgcli from scratch is I don't have to recreate the mistakes made by psql. So I don't thin

[2015-10-26 15:09] pik commented on #399
I think it will always clear if you don't use the `-X` flag?

The thing is that while having visible output in a session is very useful, the way less reprints horizontally scrolled output makes viewing prior history in a session nearly impossible that is to say I would prefer to hide it in those specific cases. (I'm not saying this should be a default behaviour but it would be quite nice to have t

[2015-10-26 15:15] amjith commented on #399
Ah, got it. That was introduced by the `-S` flag. If you don't include that then you won't get the horizontal scrolling.

[2015-10-26 15:43] pik commented on #399
I think I'm doing a very bad job explaining, sorry - the table formatting will break if you wrap the lines and the horizontal scroll is quite useful - the problem is what happens to the session when the less output stays in pgcli - I've uploaded a gif which hopefully helps
![pgcli_horizontal_scroll](https://cloud.githubusercontent.com/assets/10236920/10733805/3e2f1188-7c3b-11e5-92a3-8429dc4d4a98.g

[2015-10-26 16:26] amjith commented on #399
I finally get what you're saying. A picture is indeed worth a thousand words. :)

Let me summarize it. If the output fits in the screen (horizontally) then show the output in the screen and keep it there. If the output is wider than the screen then use the separate screen and clear the screen when the user quits the pager. Is that an accurate assessment?

If so, it can be achieved by setting the l

[2015-10-27 16:22] d33tah opened #401 "Autosuggest doesn't work for table "match""
Run:

[code]

Now replace `*` with `m.<tab>`. Nothing will happen. Repeat "match2" to see that pgcli doesn't think it's a keyword anymore.

[2015-10-27 16:51] darikg commented on #401
As a workaround you can escape the tablename like `select m.<tab> from "match" m`

The problem is that `match` is a [keyword ](http://www.postgresql.org/docs/9.2/static/sql-keywords-appendix.html). Currently `parse_utils.extract_tables` [stops](https://github.com/dbcli/pgcli/blob/a5cf7d9ba273854d9ad5dfba8a3d3a57ded651fe/pgcli/packages/parseutils.py#L101) once it hits a `Keyword`. We could do a lot

[2015-10-28 13:23] Knorkebrot commented on #286
Works like a charm :)

[2015-10-28 13:23] #286 closed

[2015-10-28 15:54] dbkaplun opened #403 "Detect connections from pgadmin"

[2015-10-28 19:39] amjith commented on #403
Can you elaborate? I don't know what this means.

[2015-10-28 19:50] dbkaplun commented on #403
@amjith I have connections in pgadmin3 set up already that I would like to be able to use from pgcli without additional work. Would be great if this was possible!

[2015-10-28 19:53] j-bennet commented on #403
Relevant link:

http://stackoverflow.com/questions/3464396/pgadmin-sharing-db-connection-definitions

[2015-10-29 14:36] amjith commented on #403
@j-bennet Thanks for the link to SO, it helped me get some background.

@dbkaplun Can you add some links to the documentation or some examples of the .pgadmin3 file?

I don't use pgadmin. Looking at their site (http://www.pgadmin.org/) I see that it's a GUI tool. But I don't understand how connections are setup or how to reuse the said connections.

I'm less inclined to install pgadmin and try to

[2015-10-29 15:04] njhazelh commented on #20
:+1:

[2015-10-29 20:39] j-bennet commented on #403
I looked at my .pgadmin3 file. It's an .ini-formatted file and looks like it doesn't have password information.

The file that has this info:
http://dave.webdev.pgadmin.org/docs/1.6/pg/libpq-pgpass.html

We could parse users and passwords out of that, keyed on host/port combo, and use them when user is connecting to host:port that are present in this file, if he left user and password empty.

Is t

[2015-10-29 20:51] dbkaplun commented on #403
That sounds about right. Good stuff @j-bennet!

[2015-10-29 21:16] darikg commented on #403
psycopg2 should already be checking .pgpass for us so it should already work, c.f. #53 #292

[2015-10-29 21:29] j-bennet commented on #403
You're right @darikg. It's just that the current behaviour may not be quite what the user would expect.

For example, I have user "user1" with password "pass1" configured in my .pgpass for localhost. My Ubuntu user is named "iryna". When I run `pgcli` or `pgcli -h localhost`, I expect to connect as "user1" with password already there, but instead it asks for password for "iryna". Which is actually

[2015-10-29 22:06] darikg commented on #403
Got it. That does sound more convenient

[2015-10-29 22:09] darikg commented on #403
What if there's multiple user/pass combinations for a given host in pgpass? Take the first one?

[2015-10-29 23:55] j-bennet commented on #403
Either the first one or the last one?

I'm wondering if this is a bug in psycopg2 though.

I tried to put in `.pgpass` file a username that is the same as my Ubuntu user, and this way it works. However, I don't see why it would not with a different user. The behavior does not seem logical. We can handle it ourselves but it may be better to submit a bug.

[2015-10-30 10:46] darikg commented on #403
I think pgcli defaults to your own username if none is supplied, which is also what psql does.

[2015-10-30 16:05] j-bennet commented on #403
Yes, it does. Also found one more case: if I run `psql -U user1`, then it uses password from pgpass. But if I run `pgcli -U user1`, it still asks for password. That looks like our bug (or psycopg2 bug, since we are not handling it ourselves).

The whole behavior though, do we want to stick to what psql does? Or do we want to improve it?

[2015-11-01 09:08] amjith commented on #392
Fix released in 0.20.0.

Please upgrade:

[code]

[2015-11-01 09:08] #392 closed

[2015-11-01 09:08] amjith commented on #355
Fix released in 0.20.0.

Please upgrade:

[code]

[2015-11-01 09:08] #355 closed

[2015-11-01 09:08] amjith commented on #351
Fix released in 0.20.0.

Please upgrade:

[code]

[2015-11-01 09:08] #351 closed

[2015-11-01 09:09] amjith commented on #281
Fix released in 0.20.0.

Please upgrade:

[code]

[2015-11-01 09:09] #281 closed

[2015-11-01 09:11] amjith commented on #203
Fix released in 0.20.0.

Please upgrade:

[code]

[2015-11-01 09:11] #203 closed

[2015-11-01 09:54] amjith commented on #162
We've started leveraging the pager to do horizontal scrolling when the output is too wide to fit the screen.

Try an upgrade:

[code]

[2015-11-01 09:54] #162 closed

[2015-11-02 10:45] cristianmtr opened #406 "DistributionNotFound: sqlparse"
I installed pgcli with
[code]

I tried running it like this:
[code]

I get the following traceback
[code]

I have sqlparse, since I can open a Python session and import it.

[2015-11-02 10:48] cristianmtr commented on #406
It seems it only works with exact version. I installed that but now it's complaining about another lib
[code]

Is there a way to install all dependencies?

[2015-11-02 13:50] amjith commented on #406
That's quite puzzling. Can you tell me if you're installing it in a virtualenv?

My suspicion is you're installing it system wide and there are other programs with conflicting dependencies. They seem to install other versions of the dependencies, which cause pgcli to fail when it launches.

The reason for requiring specific version of prompt_toolkit is because newer versions of prompt_toolkit has

[2015-11-02 22:06] j-bennet commented on #114
I played with this for wharfee and found that pexpect is not available on Windows. In fact, it's available there starting with version 4, but we're pinning it to 3.3 because 4.0 can't run under python 2.6 (see #375).

I think I'll add the config to run unit tests without functional (behave) tests to start with, and then look for ways to replace (or upgrade) pexpect and run functional tests.

[2015-11-02 23:46] darikg commented on #114
Would it be possible to do linux tests with pexpect=3.3 and windows tests with pexpect=4? The number of windows python 2.6 users has to be pretty small and it might not be worth worrying about.

[2015-11-02 23:49] j-bennet commented on #114
@darikg So only test under 2.7, 3.3 and 3.4 on Windows? That may be an option.

[2015-11-02 23:58] darikg commented on #114
Yeah, exactly

[2015-11-03 16:29] amjith commented on #114
I like this suggestion. :)

[2015-11-04 02:52] j-bennet commented on #114
https://ci.appveyor.com/project/j-bennet/pgcli/build/job/qdqvwl9hpexmrcbp

Hmm... it fails trying to install psycopg2 on Win? What the...

[2015-11-04 05:57] amjith commented on #114
Interestingly, that's what I expected. It's not easy to install psycopg on
windows using pip.

I had to download an exe file and use easy install to install it.
On Nov 4, 2015 8:22 AM, "Iryna Cherniavska" <notifications@github.com>
wrote:

[2015-11-04 15:07] cristianmtr commented on #406
I've done that and now it's complaining about not finding a log
[code]

[2015-11-04 16:15] darikg commented on #114
@j-bennet I played around with your appveyor.yml and got this to install psycopg2 and run the tests. You can see it downloads psycopg2 pre-compiled binaries [from here](http://www.stickpeople.com/projects/python/win-psycopg/). The problem is I had to hardcode the path to a specific python/arch, so I'm not sure go to get that to work with the environmental matrix.

[code]

[2015-11-04 16:28] j-bennet commented on #114
@darikg Yes, I was still playing with it, trying to force a pip install from github. The thing is, if you install from elsewhere, and then run `pip install .`, it will uninstall previously installed psycopg2 and will try installing from pip and fail. Like this here:

https://ci.appveyor.com/project/j-bennet/pgcli/build/1.0.10/job/bt7jwcrd7b3ehk98

Notice this:

[code]

Did you do anything with `se

[2015-11-04 16:38] darikg commented on #114
I don't think so...
Here's mine: https://ci.appveyor.com/project/DarikGamble/pgcli
It just says `Requirement already satisfied (use --upgrade to upgrade): psycopg2>=2.5.4 in c:\python34\lib\site-packages\psycopg2-2.6.1-py3.4-win32.egg (from pgcli==0.20.0)`

[2015-11-04 16:40] darikg commented on #114
Oh I think you were tweaking setup.py under the `if platform.system() != 'Windows':` block, not the else block

[2015-11-04 16:44] j-bennet commented on #114
@darikg Yeah I fixed it here:

https://ci.appveyor.com/project/j-bennet/pgcli/build/job/ny73faqgj3ntula3

[2015-11-04 18:02] j-bennet commented on #114
@darikg Yay. Got it working here:

https://ci.appveyor.com/project/j-bennet/pgcli/build/job/s1phectgu35b77g3

Now to figure out why there's no `pexpect.spawnu` on Win.

[2015-11-04 18:09] darikg commented on #114
Awesome. I guess they just got rid of spawnu in pexpect v4 and made spawn work with unicode strings by default?

[2015-11-04 18:11] j-bennet commented on #114
No it looks like there's no spawn or spawnu, it's a different object entirely:

http://pexpect.readthedocs.org/en/stable/install.html

Trying that out.

[2015-11-04 18:30] j-bennet commented on #114
Well, it's working now and running tests.

https://ci.appveyor.com/project/j-bennet/pgcli/build/job/100u2tc3vqjtn5rh

Breaks on pgcli trying to write to log.

[2015-11-04 20:02] darikg commented on #114
It's weird that we default the pgclirc filepath to `USERPROFILE\AppData\Local\dbcli\pgcli\config` but the log and history files to `USERPROFILE\.config\pgcli`. @amjith is that correct?

[2015-11-04 20:42] j-bennet commented on #114
I think we may be not creating dirs in that path or something? I don't see a `makedirs` call anywhere.

[2015-11-04 20:48] darikg commented on #114
Yeah. I think originally all the pgclirc files and log/history files were in the same place, so we only had to make one directory. Then pgclirc got moved and the makedir call went along with it, but the original directory stuck around on my computer, which is why I never got that error on startup. Now I'm wondering if we should just enforce keeping all the files together so we don't need to check

[2015-11-04 20:57] j-bennet commented on #114
@darikg It looks like it's because `log_file` and `history_file` are absolute paths in pgclirc. So if user wants to specify `AppData\Local\dbcli\pgcli\config` he can do it there. I wonder if we want to keep it that way, or only store file names in pgclirc and force the same path for all.

[2015-11-04 21:05] j-bennet commented on #114
Ah... next hurdle in prompt_toolkit.

https://ci.appveyor.com/project/j-bennet/pgcli/build/job/2rgkk83l53pn0ig9

Perhaps @jonathanslenders could take a look?

[2015-11-05 01:59] amjith commented on #114
That is not correct. It was an unintentional bug. This will break pgcli for all new windows users (see #406). This sucks and should be fixes ASAP.

Let's set the logfile to 'default' in `pgclirc` and if it is set to default, then we'll use their corresponding folder locations based on operating system. We'll document this in a comment so users know what 'default' means in this context.

My interne

[2015-11-05 02:01] amjith commented on #406
@cristianmtr Sorry about that bug. It was a new bug introduced in the latest version, we'll get his fixed ASAP and do a quick release.

In the meantime you can install the previous version of pgcli using `pip install pgcli==0.19.2`. That should work.

[2015-11-05 02:18] j-bennet commented on #114
@amjith So that means we should only store the file name in .pgclirc, not file path:

https://github.com/dbcli/pgcli/blob/master/pgcli/pgclirc#L19
https://github.com/dbcli/pgcli/blob/master/pgcli/pgclirc#L22

[2015-11-05 12:00] cristianmtr commented on #406
Yes, that version seems to be working.

Thanks a lot!

[2015-11-05 12:01] #406 closed

[2015-11-11 22:54] ThiefMaster opened #410 "Transactions"
It would be nice if pgcli had some fancy handling for transactions. Things I could imagine:
- Always start a transaction on startup. COMMIT/ROLLBACK would automatically start a new one.
- Start a transaction implicitly as soon as you run any SQL command that modifies data (might be a bit obscure though).

When always having a transaction an automated ROLLBACK+BEGIN in case of an SQL error would be

[2015-11-12 03:23] amjith commented on #410
Interesting request.

But I'm still unclear when pgcli would commit. For example: When a user launches pgcli we start a transaction, then they explore using select, change data using insert or update or drop, then explore some more using select. In this workflow where does the commit happen? Do we keep all these commands in a transaction until they quit pgcli or type in COMMIT/ROLLBACK themselves?

[2015-11-12 09:21] ThiefMaster commented on #410
I would only commit explicitly, i.e. by issuing a `COMMIT` statement. Of course this would need to be displayed on startup when transactions are enabled (and there could be an *optional* prompt on exit if there are uncommitted changes).

[2015-11-13 04:21] antonyr opened #412 "Error upgrading pgcli"
I tried to upgrade pgcli with the command ```pip install --upgrade pgcli```

I am getting the following exception
I am also using pyenv.
[code]

Please help.

[2015-11-13 08:42] amjith commented on #412
Can you try uninstalling and try installing again?

You can do that using:

[code]

[2015-11-13 08:43] aamirtharaj-rpx commented on #412
@amjith
It worked now. Thank you

[2015-11-13 08:45] amjith commented on #412
Thank you for confirming the fix. Cheers!

[2015-11-13 08:45] #412 closed

[2015-11-16 14:41] amelio-vazquez-reina opened #414 "function does not exist. pg_catalog.pg_get_function_arguments(oid)"
I have just upgraded to the latest `pgcli` with `brew`. I hadn't used it before though.

I can connect to a database with it, and auto-complete seems to work, but I keep running into exceptions in an unpredictable manner while using it, presumably when trying to complete tables.

Below is the full trace. Anyone knows what could be failing?

I am having this problem with both Python 2.7.10 and Pyth

[2015-11-16 15:02] darikg commented on #414
What version of postgresql server are you connecting to?

[2015-11-16 15:55] amelio-vazquez-reina commented on #414
Thanks @darikg
[code]

Maybe this version is still not supported?

[2015-11-16 17:39] darikg commented on #414
That's correct. Unfortunately right now we're only supporting Postgres >= 9

[2015-11-16 18:25] amelio-vazquez-reina commented on #414
OK, thanks @darikg

[2015-11-16 18:25] #414 closed

[2015-11-17 08:51] lookforit opened #415 "completion for count and explain functions"
I noticed that these 2 functions are not listed by `pgcli`.
How to add it by users?

[2015-11-17 09:04] disconnect3d commented on #389
Hello, me again.

Once @jonathanslenders wrote that you can't detect whenever user is pasting something.
I heard today, that this is what Neovim does whenever you paste something (it detects it, sets paste mode and paste the clipboard) and that this feature is done thanks to "bracketed paste mode":
* http://cirw.in/blog/bracketed-paste
* https://github.com/neovim/neovim/issues/937
* http://www.xfr

[2015-11-17 09:10] jonathanslenders commented on #389
@disconnect3d,

Wow! Thanks a lot for this! I was totally unaware of bracketed paste mode. It should be easy to implement.

[2015-11-17 09:25] mrzechonek commented on #389
To spare you fiddling, control sequences are `sys.stdout.write('\x1b[?2004h')` for enablind and `sys.stdout.write('\x1b[?2004l')` for disabling.

[2015-11-17 16:50] amjith commented on #415
Yes `EXPLAIN` is not yet added to the list. We're in the process of refactoring how we supply these keywords.

You can add it to this file and send a PR: https://github.com/dbcli/pgcli/blob/master/pgcli/packages/pgliterals/pgliterals.json

[2015-11-18 02:24] lookforit commented on #415
Thanks.
Looking forward these completions be included in next release.

[2015-11-18 10:09] d33tah opened #416 "Syntax-highlight and maybe realign EXPLAIN output?"
Now that the indentation within EXPLAIN was fixed, perhaps it'd be a good idea to make it more readable than in original PostgreSQL? Color highlighting would imho be a good start - what should I start with if I want to experiment with this feature?

Another idea I have is to realign its output so that we'd have two columns and multiple rows instead of 1x1 text field. Rows would mean separate activ

[2015-11-18 11:12] amjith commented on #416
Having two columns for the output of Explain is possible. Take a look at this function `format_output()` https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L650.

We currently use this function to create the tabular output. The idea is quite simple.

If there are 2 columns then there will be a list with two items of `headers`. The `cur` variable is an iterable (list, tuple, generator etc) th

[2015-11-18 13:18] #389 closed

[2015-11-18 16:09] carymrobbins opened #417 "\x auto: list index out of range"
It seems that empty result sets with `\x auto` enabled cause a `list index out of range` exception.

[code]

[2015-11-18 18:08] jonathanslenders commented on #389
@disconnect3d @mrzechonek @amjith: Thanks everyone: prompt-toolkit has now support for bracketed paste.

See this commit:
https://github.com/jonathanslenders/python-prompt-toolkit/commit/623648bad28de69cf90f833203bd6d0449afcc79

Pasting of big chunks is now about 10x or more faster and indentation is not destroyed anymore.

[2015-11-18 20:16] jamiely commented on #393
Related to this, it seems like pgcli doesn't autosuggest after the second table you join, meaning if you join t1, t2, and t3, you do not get suggestions for t3. Should this be the case? If not, I can provide a test case.

[2015-11-19 14:53] darikg commented on #393
@jamiely you mean if you don't put whitespace around the join operator? Or more generally? A test case would be appreciated

[2015-11-21 02:08] jamiely commented on #393
@darikg Here's a video of me attempting it https://dl.dropboxusercontent.com/u/4073777/pgcli-issue33.mov.

Test case:

Postgres version: 9.4.5
pgcli: 0.20.1

1. Create a new database
2. Run the following creations:
[code]
3. Now attempt to enter the following query in pgcli:
[code]
Note that autosuggest appears when writing the join statements for t1 and t2, but when we get to t3, autosuggest does

[2015-11-21 07:41] hakib opened #418 "Display bouncing when I hit enter"
Here is an example of how it looks like. This happens both on windows 7 and ubuntu.

![pgcli](https://cloud.githubusercontent.com/assets/6884290/11317327/dc685c4a-9033-11e5-8864-c0706952c5c7.gif)

[2015-11-21 18:11] amjith commented on #418
That looks quite bad. I'm not sure what's causing this flicker.

Can you run `pip freeze`, so I can check the versions of the various packages?

I'm particularly interested to know what version of prompt_toolkit you're using. This seems like a potential problem with [prompt_toolkit](https://github.com/jonathanslenders/python-prompt-toolkit).

[2015-11-21 23:03] darikg commented on #393
I have fixes for the original issue and also the bug that @jamiely reported incoming in the next couple days.

[2015-11-22 01:52] jamiely commented on #393
Awesome, thanks @darikg!

[2015-11-22 07:11] hakib commented on #418
The version of `prompt_toolkit` is as required in setup.py.
[code]

I tried upgrading `prompt_toolkit` to the latest version

[code]

[2015-11-22 08:54] amjith commented on #418
@j-bennet This looks very similar to the issue you first had with wharfee. Do you have any insight on how this got fixed for you?

@hakib Upgrading prompt_toolkit to the latest version won't work. I wouldn't do that. Are you seeing the same flicker in both Windows and Linux? Are they on different computers or is it on the same machine but on dual boot?

[2015-11-22 09:09] hakib commented on #418
Same computer. Windows host with Ubuntu guest. I actually tried installing `pgcli` on my laptop to see if it's happening there too but `pip install pgcli` completed the installation but `pgcli` did not work afterwards. I haven't had time to check it out yet. Maybe I need to execute it directly from the `venv/bin` or something ...

[2015-11-22 12:16] amjith commented on #418
If you installed it inside a virtualenv then you need to activate the virtualenv before you can execute pgcli.

I'm wondering if this is a video card issue. I guess we'll find out once you try it on your laptop.

[2015-11-22 13:48] amjith commented on #417
Thanks for reporting the bug. It is indeed an oversight. I've created a PR (#419) to fix it. It should be fixed in the next release.

[2015-11-22 16:51] amjith commented on #415
@lookforit I've added the EXPLAIN keyword in PR #420, but what do you mean by `COUNT` because it is already listed as a suggestion.

[2015-11-26 09:27] mrzechonek commented on #389
:heart:

[2015-11-26 12:25] amjith commented on #138
Feel free to reopen if the issue still persists.

[2015-11-26 12:25] #138 closed

[2015-11-26 12:27] amjith commented on #205
Support for `\i` is now available in the latest release of pgcli.

[2015-11-26 12:27] #205 closed

[2015-11-26 14:03] hakib commented on #418
Hey @amjith, just tested it on my laptop with a fresh installation of pgcli on a blank venv - **same problem**.

[code]

This is on a lenovo ideapad laptop.

[2015-11-26 15:34] ThiefMaster opened #424 "TRUNCATE CASCADE notices not shown properly (only one per statement)"
First of all, this is the output in `psql`:

[code]

Now, when I run the same thing in `pgcli`:

[code]

or inside a transaction:

[code]

So apparently only one notice is retrieved per statement.

[2015-11-29 01:15] amjith commented on #424
You're right. This is a bug in pgcli. I'll fix it soon.

[2015-11-30 09:44] dcere opened #426 "'ascii' codec can't decode in PostgreSQL function"
Hi,

I am having an encoding issue while using PostgreSQL functions. It looks like pgcli is trying to decode a string with non-ascii characters using the ascii codec. Steps to reproduce:

## Create test database
[code]

## Insert test data
[code]

## Create function
[code]

## Test with pgcli
[code]

Since it works when using a simple `SELECT * FROM town` my guess is that the problem is because of

[2015-11-30 13:43] amjith commented on #418
Thanks for testing it on a different computer and reporting back. Sorry I haven't replied in a while, I was traveling and couldn't get reliable internet connection.

I noticed that you've tested this exclusively on Python 3.4. I tried that on my laptop and I still don't see the flicker, but I'm on OS X.

Can you try it on Python 2.7 to see if this still persists?

@jonathanslenders Do you have any

[2015-11-30 15:16] hakib commented on #418
@amjith, Same issue on python 2.7. It's pretty weird that on both my computers from different vendors with different OS's and different versions of python I get this flickering. Maybe there is some configuration i can try?

![pgcli](https://cloud.githubusercontent.com/assets/6884290/11475362/c44aedfe-9785-11e5-8fea-ca3d13d1adf5.gif)

[2015-11-30 15:20] jonathanslenders commented on #418
I don't understand how this is possible on Windows. For vt100 terminals (Mac/Linux), we have to wait for the CPR reponse (Cursor Position Request response). This one returns the x/y coordinates of the cursor position through stdin. As long as this has not been received, we don't know the space below the cursor and the bottom toolbar will not be displayed. For windows, we will always know the heigh

[2015-11-30 15:21] jonathanslenders commented on #418
Oh, btw, for Windows, I highly recommend to use conemu or cmder. (The Windows console is broken in many ways.)

[2015-11-30 15:28] hakib commented on #418
@jonathanslenders, the first example is cmder. The second is cmd. Both give the same flickering effect on both py2 & 3.4.

[2015-11-30 15:44] jonathanslenders commented on #114
Hi, I see that this results also in the "Nonetype object has no attribute srWindow" error. For some reason, ``windll.kernel32.GetConsoleScreenBufferInfo`` returns ``None``. Could it be that AppVeyor runs the application without allocating a console?

[2015-12-01 11:26] amjith opened #427 "pgcli - Beta Testing - auto-completion"
I'm reaching out to you with a request to help us beta test a new completion algorithm. Previously, keywords, table names, column names etc were ordered alphabetically. Now they are ordered by the frequency of usage. The frequency is calculated based on the history. We hope this will improve the experience and reduce typing. We'd love to get some user feedback to polish this feature before release

[2015-12-01 18:13] johshoff commented on #427
That's awesome, @amjith! I'm currently off the postgres bandwagon for a while, so probably no testing from me in the near future.

[2015-12-01 19:12] fpietka commented on #427
Busy day. I finally got off mysql for a while :grin:, so I'll test it starting tomorrow.

[2015-12-03 01:12] amjith commented on #426
Hi, Thanks for reporting the bug with a detailed reproducible case. I haven't had a chance to look into it. But I'll get back to you as soon as I get a chance to dig in.

Sorry about the bug.

[2015-12-03 15:14] amjith commented on #426
Hi @dcere,

I have a potential fix for this issue in a branch. Can you please test it for me?

You can install directly from this branch using the following command:

[code]

It works fine in my machine but I want to make sure that I didn't just hard code an oid that doesn't work on other instances.

[2015-12-03 16:08] dcere commented on #426
Hi, I made a quick test and it works in my machine too.
I installed the contents of that zip file with `pip install -e .` and it seems to work.

Thanks!

[2015-12-03 17:39] amjith commented on #426
I should have mentioned `pip install https://github.com/dbcli/pgcli/archive/amjith/record-unicode-typecaster.zip`. I'm glad you figured it out.

Thank you for checking it for me. I'll write some tests and have it merged into master for the next release.

[2015-12-05 08:21] stuartquin commented on #426
Resolved by #428

[2015-12-05 08:47] stuartquin commented on #424
I'll have a look into this over the weekend

[2015-12-07 07:52] stuartquin opened #430 "Display connection notices asynchronously"
Currently notices emitted on the connection are output only after the query(ies) have completed: https://github.com/dbcli/pgcli/blob/master/pgcli/pgexecute.py#L291

It would be nice to have the notices appear as they are emitted as they currently do in psql.
This may require some fundamental changes to how queries are executed so will need some investigation.

Example of long running query with no

[2015-12-09 19:23] d33tah opened #431 "Humanize numbers?"
[code]

It would be nice to take a look at the number and be able to say whether we're talking millions or billions here. How could I add special formatting for numbers?

[2015-12-09 22:46] amjith commented on #431
The code is here: https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L346

You can probably use a variant of

[code]

to achieve what you want. Although I'm not sure if it is compatible with Python 2.6.

But you're welcome to send me a PR.

[2015-12-09 23:05] j-bennet commented on #431
I think @d33tah might have meant numeric data in his query, not time elapsed. Was that `count` field or timer you were talking about, @d33tah?

[2015-12-09 23:41] amjith commented on #431
You're right. My bad.

That's part of the tabulate function. https://github.com/dbcli/pgcli/blob/master/pgcli/packages/tabulate.py

But it's hard to determine when to use the commas and when not to use them. For example, it makes perfect sense to use them dollar values or other means of measure, but it'll be intrusive to use them for the `id` field.

[2015-12-09 23:44] j-bennet commented on #431
Yeah... In this case, it's a calculated field (`count()`), and for those, we don't even know the type.

[2015-12-10 07:47] d33tah commented on #431
@j-bennet , @amjith: yes - `count` is what I meant. You say that pgcli can't know its type? Would a hack of trying to cast it to int work then?

[2015-12-10 13:27] darikg commented on #431
pgexecute has access to field types through the psycopg2 cursor -- should be able to check each column's OID and do whatever you want with its value. Or I think it's possible to override the default psycopg2 int adapters to supply your own adapter? Still no way to distinguish ID columns though.

[2015-12-17 12:40] d33tah opened #432 "Copy-paste mode?"
I noticed that copy-pasting long, preformatted queries adds indentation that makes it less readable. Perhaps it would be useful to have some copy-paste detection similar to what Irssi or Weechat does that:

1. Detects multiple lines entered at a quick burst,
2. Asks the user for confirmation on whether he actually meant to paste,
3. Disables indentation for input lines.

What do you think about th

[2015-12-17 17:18] amjith commented on #432
There is a solution for this in prompt-toolkit. https://github.com/dbcli/pgcli/issues/389#issuecomment-157805320

I think we should investigate the path to upgrading to the latest prompt-toolkit. /cc @jonathanslenders

[2015-12-17 18:29] jonathanslenders commented on #432
Yes, it is indeed implemented in the latest prompt-toolkit, but I haven't done any release yet after these changes. I plan to do at least one new release before new year. (With many improvements.)

[2015-12-18 11:11] brtkrbzhnv opened #433 "Crash on startup: TypeError: encode() argument 1 must be string, not None"
It used to work fine, but then all of a sudden a few weeks ago, I was no longer able to start pgcli:

[code]

Any idea what might be wrong?

This is on Mac OS 10.11.2.

[2015-12-18 14:42] amjith commented on #433
Can you send us the output of `pip freeze`?

I suspect one of the dependencies got upgraded and pgcli is probably incompatible with the newer version of the library.

[2015-12-18 14:53] brtkrbzhnv commented on #433
[code]

[2015-12-18 22:28] amjith commented on #433
Nothing jumps out at the moment. I'll keep digging in. But in the meantime, can you try uninstalling and reinstalling?

[code]

[2015-12-20 19:52] Fire- commented on #188
I use `\copy` on a regular basis to export data to TSV or CSV with headers and was disappointed to find a lack of this functionality in pgcli. It's kind of a core feature of psql and as far as I can tell pgcli doesn't actually have another way to export queried data?

[2015-12-26 19:20] j-bennet commented on #114
@jonathanslenders I thought it may be related to the fact that pexpect, while wrapping some windows calls, does not fully emulate terminal (see https://github.com/pexpect/pexpect/issues/17#issuecomment-112131349). So I created a minimal cli here: https://github.com/j-bennet/prompt-pptk and a Windows 10 VM to test with. Interestingly, I get the same error when trying to run the CLI from "git bash"

[2015-12-29 22:17] darikg commented on #114
@j-bennet pgcli runs even in cmd.exe on my machine, in python 2 or 3. What version/distribution of python are you using? I use Anaconda python, I wonder if that matters somehow

[2015-12-29 22:29] j-bennet commented on #114
@darikg I think it was more about the shell. I tried with `cmd`, and the cli is also runnable, but pexpect fails with the same IOError as with powershell attempt above. Just for the record, I was using python 2.7 from https://www.python.org/downloads/windows/.

[2015-12-30 16:53] rdlugosz opened #434 "Editor command not retaining last query"
When I enter `\e` my default editor (Vim) opens with an empty buffer. I can enter my SQL into the editor, save/quit and the query appears on the pgcli command line as expected. However, after executing the query and typing `\e` again I'm presented with an empty Vim.

The `\e` command works as expected in `psql`–the last query is shown in Vim.

My pgcli reports version `0.20.1`

[2015-12-30 17:00] amjith commented on #434
Yes. This is a valid request. But it requires patching prompt-toolkit to
give us a way to access previous item from the history. But it is doable.
Thanks for the request.

On Wed, Dec 30, 2015 at 8:53 AM, Ryan Dlugosz <notifications@github.com>
wrote:

[2016-01-05 22:21] jonathanslenders commented on #432
So, now that the latest prompt_toolkit (0.57) supports bracketed paste, we should upgrade to that version. Ping me, if the upgrade is not trivial.

[2016-01-06 08:29] GTxx opened #437 "enum type unicode error in py2"
Hi, I have some enum type in Chinese. When I query enum value or tables using these enums, unicode encoding error raises.
[code]

this is the error log:
[code]
I think this might be similar with #426. In Python2, psycopg2 returns enum type as string object. So tabulate  fails encoding enum type value.

[2016-01-06 15:53] amjith commented on #432
There is a pending PR for mycli to do the upgrade to 0.56 (https://github.com/dbcli/mycli/pull/214). I'm working on updating it to 0.57. Once that is tested and merged, I'll do the same for pgcli.

[2016-01-11 10:35] brtkrbzhnv commented on #433
I'm having some trouble with that:
[code]
Anyway, I found out that if I set the ``LANG`` environment variable to ``en_US.UTF-8`` (instead of just ``en_US``), it starts working again. Maybe pgcli could check for that during initiation?

[2016-01-16 22:55] amjith commented on #184
Yay! Pasting works as expected without adding extra indentation. :)

[2016-01-20 16:39] #426 closed

[2016-01-20 17:07] dcere opened #443 "\i: run() got an unexpected keyword argument 'on_error'"
Hi,

I was testing a query using the \i option and I got this error. Using psql's \i option work as expected, so I guess this is an error somewhere in pgcli's code. Steps to reproduce:

## Create test database
[code]

## Insert test data
[code]

## Create query file
[code]

## Test with psql
[code]

## Test with pgcli
[code]

I've taken a (very) quick look at the code base and I think it fails bec

[2016-01-21 01:27] kristjan opened #444 "Support environment variables in .pgclirc"
`.psqlrc` provides a few variables like `:HOST`, `:PORT` and `:DBNAME` so you can do useful things like keep database-specific history files. Similar functionality in `.pgclirc` would be wonderful.

[2016-01-21 03:09] amjith commented on #444
@kristjan Thanks for filing the issue. Can you give me a specific example? I haven't used this functionality in psqlrc so I'm not familiar with this feature.

[2016-01-21 03:10] amjith commented on #443
Thanks for filing the issue. I'll take a look.

[2016-01-21 08:39] kristjan commented on #444
Absolutely, here's what the history file configuration looks like:

    \set HISTFILE ~/.psql_history_ :DBNAME

Given that, DBs `foo` and `bar` get independent query histories written to `~/.psql_history_foo` and `~/.psql_history_bar`, which looks like this:

![db_history](https://cloud.githubusercontent.com/assets/34301/12475360/5330bafc-bfd7-11e5-9e8f-7a5218bb2618.gif)

[2016-01-22 19:20] pietdaniel opened #445 "AttributeError: 'unicode' object has no attribute 'is_keyword'"
Just ran into this error while going about my business. Can't reproduce it but I was not doing anything out of the ordinary (typing in sql commands, using vim style keybinding to move around and alter text)

I'm running on OSX Yosemite

[code]

[2016-01-22 19:31] rakeshsingh commented on #18
+1
Using pgcli with Redshift, and getting the same error

[2016-01-23 20:02] ghost opened #446 "'\n' breaks the output line"
Hi! First of all thank you for awesome psql alternative)

I just noticed that '\n' symbol breaks the whole line

![pgcli_bad_line_breaks](https://cloud.githubusercontent.com/assets/1443953/12532321/a1bf64a2-c22a-11e5-83c1-453658efbd88.png)

but in psql it works fine

![psql_line_breaks_are_ok](https://cloud.githubusercontent.com/assets/1443953/12532394/7b1b35f4-c22c-11e5-807b-58717271bfc6.png)

I

[2016-01-25 11:03] fpietka opened #447 "Can't describe foreign table"
This happens when I'm using a foreign data wrapper and try to describe a table:
[code]

In my case I use a FDW to access MySQL tables, but it may also fail on Postgres tables using FDW.

[2016-01-25 15:16] fpietka opened #448 "year is out of range"
I did it by mistake, but it turns out that some old dates can't be read through pgcli.
ie. `0001-01-01 00:00:00+00:09:21 BC`

now I have to update my field from psql to get pgcli working again :grin:

[2016-01-25 17:26] amjith commented on #448
That's odd. Unless psycopg2 has some built-in checks this shouldn't be the case. Can you send me the error message you get?

Could you also send me the logs? You can find the logs either in ~/.pgcli.log or ~/.config/pgcli/log.

[2016-01-25 17:28] amjith commented on #447
I'm new to FDW, I'm still reading up on it. Can you give me a reproducible case?

[2016-01-25 17:28] amjith commented on #446
Yes. This is a known issue. Until we replace the tabulate library with something better this will continue to be an issue. But I'll take this into consideration. Thanks!

[2016-01-25 17:31] amjith commented on #445
Thanks you for sending the exception. That gives us some clues.

Can you tell me if there was something special about the table you were accessing? Does it have unicode characters? And would you mind telling us the schema of the table? Such as what was the different column types?

[2016-01-25 17:32] amjith commented on #437
Yes I think they are related. Can you try the latest version in master?

You can install directly from master using `pip`.

[code]

[2016-01-25 17:48] darikg commented on #447
Looks to me like [this line](https://github.com/dbcli/pgspecial/blob/3bb90bc3ffce885849b1ecfa1bbe8564be43313a/pgspecial/dbcommands.py#L888) should just have `ftoptions` replaced with `row[1]` but I don't have a foreign table to test it on.

[2016-01-25 20:48] pietdaniel commented on #445
It happened during autocompletion, I cannot disclose the schema of the table and none of the tables currently use unicode characters.

[2016-01-25 22:56] andyjack opened #450 "NULL values should be displayed as <null> when extended display mode is on"
[code]
I'm on 9.4.5, if that's significant.

[2016-01-26 08:19] GTxx commented on #437
Hi @amjith, latest version works for me.
This issue is already discussed in #438. I think we can close this issue.

[2016-01-26 08:19] #437 closed

[2016-01-26 13:07] fpietka commented on #448
Here is the error log I get:
[code]

[2016-01-26 13:18] fpietka commented on #447
:+1: I tested @darikg suggestion with success. Opening an issue on dbcli/pgspecial

[2016-01-26 13:18] #447 closed

[2016-02-02 05:23] #443 closed

[2016-02-02 15:13] PaviJas opened #455 "Group by which has more than 1000 rows returning Question mark"
For the query select count(*) from table_name group by column which returns more than 1000 rows is returning only question mark like as follow

`???????+??4????????+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???+++???`

[2016-02-02 15:25] darikg commented on #455
Are you on windows by any chance?

[2016-02-02 20:45] stuartquin commented on #448
This seems like a known issue with psycopg2, it can be worked around with a custom extension like we do with json.
I'll take a look

[2016-02-03 01:46] PaviJas commented on #455
Yes I am using windows. Is it a known issue?

[2016-02-03 14:12] darikg commented on #455
Yeah, for some reason the windows default pager (more.exe) mis-identifies the pretty printed table symbols as being unicode. Do you have any other pagers installed on your computer? I have less.exe which I think came with Git for Windows. I set the environmental variable `PAGER` to `less` and then that fixed the issue.

[2016-02-03 14:20] amjith commented on #445
@pietdaniel I have a suspicion this is fixed in the newer versions of pgcli. Can you tell me what version of pgcli you're using? You can check by running `pgcli --version`.

[2016-02-03 15:00] pietdaniel commented on #445
Version: 0.18.0

[2016-02-03 16:40] amjith commented on #445
@pietdaniel Can you upgrade? The latest version is 0.20.1.

You can upgrade using `pip install -U pgcli` or if you installed it via brew you can do `brew update && brew upgrade pgcli`.

[2016-02-04 05:53] cbandy commented on #229
Not true. `port` is appended to the socket file name so that different instances of postgres can use the same socket directory without conflict.

From the docs for [`unix_socket_directories`](http://www.postgresql.org/docs/current/static/runtime-config-connection.html#GUC-UNIX-SOCKET-DIRECTORIES):

Here's what `psql` does on some Ubuntu with a `-p` command-line option but no host with the `-h` opt

[2016-02-06 14:05] cbandy commented on #416
http://explain.depesz.com/history does something similar.

[2016-02-06 14:29] d33tah commented on #416
And pev: tatiyants.com/pev/

[2016-02-06 14:31] cbandy opened #459 "Setup and teardown an SSH tunnel"
I have some databases that are only accessible via SSH tunnel. Right now, I have to start a tunnel in another tab or the background, then use `pgcli` to connect to the tunnel locally. When I'm done, I have to remember to kill the tunnel. It would be great if I could pass another argument(s) to `pgcli` and it would setup and teardown the tunnel for me.

I imagine something like `pgcli --ssh 'ssh_us

[2016-02-06 21:33] zoner14 commented on #205
+1 for \i support

[2016-02-07 05:46] morenoh149 opened #460 "pgcli syntax highlighting does not understand double quote"
reading http://philip.greenspun.com/sql/introduction.html
and inputting `insert into mailing_list (name, email)
values ('Michael O''Grady','ogrady@fastbuck.com');` pgcli's syntax highlighting doesn't understand the double quote rule.

[2016-02-07 15:02] amjith commented on #460
You're right that it doesn't auto-escape two single quotes adjacent to each other while syntax highlighting, but functionally it does the right thing, which is to insert the value with the single quote. I can understand how that can send the wrong signal to someone learning SQL and typing in the command.

This will require an exception in the Pygments module. Would you mind filing an issue with [p

[2016-02-07 15:02] #460 closed

[2016-02-07 15:22] amjith commented on #459
Thank you for the request. I'm not sure if there is enough interest for this to be built into pgcli as opposed to keeping them separate.

I'm hesitant to build this in as this has potential to cause a lot more support load. People might have different versions of paramiko or pycrypto or openssl lib etc and debugging the issues raising from that can be quite hairy.

I can keep this issue open and i

[2016-02-07 15:23] amjith commented on #455
@PaviJas Did you try changing your default pager to `less.exe`?

If that didn't fix the issue, please reopen the ticket.

[2016-02-07 15:23] #455 closed

[2016-02-07 15:24] amjith commented on #450
This is now fixed in master. Can you try installing directly from master?

[code]

[2016-02-07 15:25] amjith commented on #448
This is now fixed in master. Can you try installing from master?

[code]

[2016-02-07 15:26] amjith commented on #445
I hope the upgrade fixed the issue for you. If you're still seeing this behavior, please reopen this issue.

[2016-02-07 15:26] #445 closed

[2016-02-07 15:52] amjith commented on #416
It's possible to do what explain.depesz.com is doing.

To do what pev is doing would require me to implement a tree drawing library for the terminal, I seriously doubt, I can pull that off. :)

[2016-02-07 17:43] morenoh149 commented on #460
https://bitbucket.org/birkenfeld/pygments-main/issues/1209/sql-double-quote-does-not-get-highlighted

[2016-02-07 17:50] birkenfeld commented on #460
Which lexer are you using? I checked with the SQL lexer and the specialized PostgresSQL lexer, and both seem to highlight the given snippet just fine.

[2016-02-07 18:12] d33tah commented on #416
I just put it there as something related. Having what explain.depesz.com has would already be tremendous.

[2016-02-08 02:34] amjith commented on #460
@birkenfeld I'm using PostgresLexer. https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L34

This is what I see when I do the double quote. You'll see that after I type `'Michael O''Grad` it highlights Michael in red which denotes it's a string and then `Grad` is all gray denoting unfinished quote.

![double-quote](https://cloud.githubusercontent.com/assets/49260/12877511/44cf82cc-cdc9-11e5-

[2016-02-08 07:37] birkenfeld commented on #460
Ah, I see. This is because Pygments usually caters only for complete code highlighting. So a string is only recognized once it has a beginning and end quote.

In this case, it is easy to fixup the behavior though; using a separate state for strings is possible. I implemented that in https://bitbucket.org/birkenfeld/pygments-main/commits/4f26309906cdacdcedd092ea16f9e5b11e874755 and it will be relea

[2016-02-08 14:42] andyjack commented on #450
It is working, thank you!
[code]

[2016-02-08 14:42] #450 closed

[2016-02-11 02:43] amjith commented on #460
Thank you for fixing it. I'll bump up the version in the next release. Cheers!

[2016-02-16 11:36] lstep opened #462 "No dependency declared on wcwidth"
pgcli installs correctly, but when trying to run it (first time), complains that wcwidth package hasn't been installed. Using version 0.20.1 installed on Ubuntu Trusty with `pip install pgcli`.

[code]

[2016-02-16 23:22] SlimeQ commented on #424
:+1:

[2016-02-17 07:08] amjith commented on #462
That's surprising. One of the dependencies of pgcli is prompt-toolkit which has wcwidth as a dependency. But I'll make changes to the setup.py to add wcwidth dependency explicitly.

Thanks for reporting.

[2016-02-19 03:22] thuandt opened #464 "ImportError: cannot import name create_default_layout"
Missing module in prompt_toolkit?
[code]

[2016-02-22 09:29] fpietka commented on #448
Sorry for the delay. It doesn't seem to have changed.

Here is the log I got:

[code]

[2016-02-23 22:14] fernandomora commented on #410
I think this would be very useful as a mode that can be enabled/disabled with its status shownin the bottom bar like smart completion and multiline mode. When autocommit mode is ON its behaviour would be the standard one when no transaction is explicly started and when it is OFF, a commit is explicitly needed.

Improving autocommit off mode with an automatic start of a new transaction (ROLLBACK+BE

[2016-02-24 23:44] mikebissell opened #466 "\i <filename> causes "run() got an unexpected keyword argument 'on_error'""
Anytime I try to import a SQL file using the \i command, I get this error message instead (PostgreSQL 9.3.3, Python 2.7.10, OS X 10.10.5).

Version: 0.20.1
Chat: https://gitter.im/dbcli/pgcli
Mail: https://groups.google.com/forum/#!forum/pgcli
Home: http://pgcli.com
pgdbdev> \i foo.sql
run() got an unexpected keyword argument 'on_error'

[2016-02-24 23:47] mikebissell opened #467 "\i <filename> + tab fails to autocomplete filenames"
When I import a SQL file using the \i command, I expect the tab key to autocomplete filenames for me, however pgcli doesn't know how to do this (PostgreSQL 9.3.3, Python 2.7.10, OS X 10.10.5).

Version: 0.20.1
Chat: https://gitter.im/dbcli/pgcli
Mail: https://groups.google.com/forum/#!forum/pgcli
Home: http://pgcli.com
pgdbdev> \i foo

I hit tab after typing the prefix "foo", so pgcli should have

[2016-02-25 00:20] mikebissell opened #468 "The 'set' command fails to autocomplete the 'schema' subcommand (or any other)."
Expected: when I type the command prefix 'set s', I get a drop-down menu for autocompleting all of the commands beginning with 's', especially 'set schema'.

Observed: tab key does nothing after typing 'set s'. No drop-down menu.

Version: 0.20.1
Chat: https://gitter.im/dbcli/pgcli
Mail: https://groups.google.com/forum/#!forum/pgcli
Home: http://pgcli.com
pgdbdev> set s

[2016-02-25 00:26] mikebissell opened #469 "'set schema' autocomplete generates a syntax error because it omits single quotes."
If I type the command prefix "set schema ", a list drops down containing a list of all my schemas for autocompletion. However, if I select a schema, the command is then completed without the required single quote marks around the schema name, and so it fails.

Moreover, if I type the correct command prefix "set schema '" (same as above, except that I provide a single quote mark as a hint), I get n

[2016-02-25 14:43] fernandomora commented on #448
Same error here:
`test> BEGIN;
test> CREATE TABLE test_bc(timestamptz TIMESTAMPTZ);
test> INSERT INTO test_bc(timestamptz) VALUES ('2015-01-01 00:00:00Z BC' :: timestamptz);
test> SELECT * FROM test_bc;
year is out of range
test> ROLLBACK;`

`2016-02-25 15:39:49,141 (31079/MainThread) pgcli.main ERROR - sql: u'SELECT * FROM test_bc;', error: ValueError('year is out of range',)
2016-02-25 15:39:49,

[2016-02-26 04:40] amjith commented on #448
@fernandomora Thanks for the useful test case.

This issue is fixed in master branch but it has not been released yet. Can you try installing from master and trying again?

[code]

I was able to successfully query the value by running pgcli from master branch.

@fpietka If you're still seeing the issue after installing from master, can you send me a test case?

[2016-02-26 10:22] fernandomora commented on #448
@amjith I forgot to mention that my test case and log output is happening using master branch.

More simple test case:
[code]

[2016-02-26 15:24] fernandomora commented on #448
I have detected this only happens with timestamps with timezones.
PR #470 should fix this.

[2016-02-26 16:04] fpietka commented on #448
FYI, my use case is the same as @fernandomora

[2016-02-27 22:15] j-bennet commented on #410
This sounds like a nice feature to have. I like the idea of autocommit mode being displayed in the bottom status bar. We could also add a little indicator (like a red `*` or `!`) to show that user has uncommited changes - in addition to a warning on exit.

[2016-02-29 05:53] amjith commented on #448
The fix proposed by @fernandomora is now merged to master. Can you try the master branch again?

[2016-02-29 13:37] fpietka commented on #448
:+1: works like a charm!

[2016-02-29 13:37] fpietka commented on #448
thanks

[2016-02-29 13:37] #448 closed

[2016-03-03 00:00] fernandomora commented on #444
psql can set environment vars with \setenv command:
http://www.postgresql.org/docs/9.5/static/app-psql.html

Also you can include setting of environment vars in .psqlrc. e.g:
[code]

HISTFILE, DBNAME, PORT, etc... are not environment variables, they are internal psql variable and can be set with \set and shown with \echo :VARNAME. e.g:
[code]

Also in .psqlrc. e.g:
[code]
I am not sure if it is ea

[2016-03-03 05:41] amjith commented on #469
You're right this is an issue. We'll address it.

[2016-03-03 05:43] amjith commented on #468
Valid issue.

[2016-03-03 05:43] amjith commented on #467
Yes. We have this planned but haven't gotten around to it.

[2016-03-03 05:44] amjith commented on #466
Sorry about that. This is fixed in master. You can install from master directly using:

[code]

[2016-03-03 17:29] mikebissell commented on #466
Thank you.

On Wednesday, March 2, 2016, Amjith Ramanujam <notifications@github.com>
wrote:

[2016-03-04 15:05] dannyeuu commented on #282
There are something to do with redshift? support or a new CLI for that? RedShift is being each time more usefull, we migrate some PG do RedShift here in my enviroment.

[2016-03-09 19:06] gabfl commented on #464
I am getting the same error after installing pgcli with:
[code]

[code]

[2016-03-09 21:46] amjith commented on #464
What version of prompt_toolkit do you have installed?

If it not 0.57, you're going to have a bad time.

You can check the version of prompt_toolkit by running `pip freeze | grep prompt_toolkit`

[2016-03-09 23:33] jack5672 opened #473 "*425"

[2016-03-09 23:33] #473 closed

[2016-03-10 14:35] gabfl commented on #464
Hi @amjith,

It's a confusing situation:

I need the last version of mycli due to a bug (see our exchange on https://github.com/dbcli/mycli/issues/235).

1) I installed mycli:

[code]

Works as expected:
[code]

pip freeze is:
[code]

2) I install pgcli with "pip install pgcli"

If I do that, pgcli works, mycli doesn't work:
[code]

pip freeze is:
[code]

3) I install the latest version of pgcli w

[2016-03-11 11:35] esn89 opened #474 "How to actually use vi-mode"
I have enabled it with the F4 key, but how do I stop "inserting" and start using the vi keys?

[2016-03-12 02:44] amjith commented on #464
Ah this is due to a mismatch in sqlparse library. I'll fix that asap. Thanks for the detailed report. I appreciate the time you took to document it.

[2016-03-12 03:36] amjith commented on #464
@gabfl Looks like you have a newer version of sqlparse installed in your system. This version is not the right one to use with mycli or pgcli. So I'm not sure how that got installed. But I'm in the process of testing the version of sqlparse you have installed on the system. So if you need a temporary solution, my suggestion is to downgrade sqlparse using `pip install sqlparse==0.1.16`.

[2016-03-12 03:42] amjith opened #475 "Suggestions after the FROM keyword are jumbled"
<img width="759" alt="1__1_0_python2_7_-__pgcli___users_amjith_dropbox_code_python_pgcli____tmux_" src="https://cloud.githubusercontent.com/assets/49260/13720553/2dadeb8a-e7c1-11e5-8455-fd6c9d8fa091.png">

The list of items suggested after the `FROM` keyword are not in any specific order. The list has alternating table names and function names.

@darikg Any thoughts that jump out?

 @drocco007 I r

[2016-03-12 20:59] amjith commented on #474
You can press 'esc' key to go to normal mode which allows you to use the vi keys.

[2016-03-12 23:56] darikg commented on #475
Wow that's weird. If you delete your history file, does the effect persist?

[2016-03-13 02:55] amjith commented on #475
I deleted the history and started pgcli. Here's a screenshot.

![1__1_0_python2_7_-__pgcli___users_amjith_dropbox_code_python_pgcli____tmux_](https://cloud.githubusercontent.com/assets/49260/13726589/f1436224-e883-11e5-9060-3dbfb8806712.png)

[2016-03-14 15:58] gabfl commented on #464
Hi @amjith

If you look above, it looks like it's installed with "pgcli":

[code]

[2016-03-19 16:37] drocco007 commented on #475
Interesting. I'll have a look over the PR later today :)

[2016-03-21 02:30] yuki777 commented on #20
:+1:

[2016-03-21 08:18] fernandomora commented on #20
:+1:

[2016-03-22 14:15] amjith opened #478 "Auto-completion breaks for table names with ALL CAPS"
Here's an example:

Broken for a table named "INSERT".

![quoted-completion](https://cloud.githubusercontent.com/assets/49260/13954269/4ec5bda4-effd-11e5-84e9-a9b6c260b7eb.gif)

NOT broken for table named "select".

![quoted-completion-not-broken](https://cloud.githubusercontent.com/assets/49260/13954354/9f550f68-effd-11e5-8818-7a80a277ba33.gif)

[2016-03-23 05:19] ajlai commented on #467
@amjith I'd be interested in taking a stab at this one if someone isn't already doing it.

[2016-03-23 05:38] amjith commented on #467
Be my guest. :smile:

[2016-03-26 13:29] mingjunyang commented on #426
[code]

when I run this in pgcli:
[code]

[2016-03-30 20:47] dariodaic commented on #466
Hi,
I'm reporting this cause I see it's still open.
Encountering it as well. Installed via Brew.
Config:
pgcli: 0.20.1
OS X: 10.11.4
PostgreSQL: 9.5.1
Python: 2.7.10
--
\i people.sql
run() got an unexpected keyword argument 'on_error'

[2016-03-31 13:58] amjith commented on #466
Did you try installing from master branch?

[code]

I've left the ticket open because we haven't released it yet.

[2016-03-31 14:02] amjith commented on #426
@mingjunyang Can you tell me what version of pgcli you're using?

Can you try the version from the master?

[code]

[2016-03-31 16:05] mingjunyang commented on #426
Oh,I'm so sorry ,I forget tell you my pgcli version.
It's
[code]

[code]

[2016-03-31 16:20] amjith commented on #426
Did you happen to try the version from master?

[code]

[2016-03-31 16:21] amjith commented on #426
If the problem still persists, can you post the output of

[code]

[2016-04-01 02:06] mingjunyang commented on #426
@amjith

[code]

[2016-04-04 14:34] sanjeevkpandit commented on #433
any progress on this, I am also getting this error.

[2016-04-04 14:38] sanjeevkpandit commented on #433
Ay progress on this? I am also getting this error.

[2016-04-04 18:27] amjith commented on #433
@sanjeevkpandit Are you installing both mycli and pgcli on the same machine? If so, then there is a conflict in the dependency since mycli requires a newer version of prompt_toolkit.

The solution for the moment is to install pgcli from master. As follows:

[code]

[2016-04-04 23:18] dariodaic commented on #466
Works as a charm, excellent.

Thank you!

[2016-04-05 01:12] sanjeevkpandit commented on #433
Thanks @amjith for the quick response, it worked.

[2016-04-06 07:17] fedragon commented on #410
I would love to see this feature coming to pgcli, I'm currently dealing with `begin; ... commit;` on my own but that makes it really prone to error, especially when dealing with production databases...

[2016-04-10 08:02] xinxingzhao opened #484 "\i filename"
I execute command

`
pgcli database
`
`
 \i filename
`

nothing output

then I exeute command

`
psql database
`
`
\i filename
`

I like something output then I know pgcli is working!

[2016-04-11 02:52] amjith commented on #484
I don't fully understand this issues. Can you please tell me what version of pgcli you're using?

The \i command was added in pgcli 0.19.0. So if you have an older version please try upgrading using `pip install -U pgcli`.

If you're using a newer version and you're still having difficulty with this, please paste the output of your logfile. The log file is usually located in ~/.pgcli.log or ~/.con

[2016-04-11 05:36] xinxingzhao commented on #484
use pgcli

![selection_008](https://cloud.githubusercontent.com/assets/13712791/14417622/203cd484-ffea-11e5-9def-9659a4c3d24d.png)

use psql

![selection_009](https://cloud.githubusercontent.com/assets/13712791/14417652/63ada144-ffea-11e5-8910-c6f2a057eeee.png)

[2016-04-19 17:02] gnzsnz opened #485 "funtion keys not working in iterm"
Hi,

i can't get function keys (F2, F3, F4) to work with pgcli and iterm(OSX). everything is working fine with osx terminal, and function keys do work in iterm and other software, ex byobu. it seems to an issue with this specific combination.

i get the following when i press function keys.

F2 --> [[B
F3 --> [[C
F4 --> [[D

[2016-04-22 10:38] ghost opened #486 "Using pgcli completion engine with text editors"
Is it possible to leverage the completion engine outside the pgcli UI? I would love to use those completions with a vim plugin.

[2016-04-22 11:16] darikg commented on #486
I have a plugin for Sublime text editor [here](https://github.com/darikg/PgcliSublime). As far as I know that's the only one, but I'd love to see more.

[2016-04-27 16:01] ricardoseriani opened #489 "Add \db[+] [PATTERN] to list tablespaces"
Please, add \db[+]  [PATTERN] to list tablespaces as within psql

[2016-04-29 12:44] amjith commented on #485
Did you already try Fn+F2 or Fn+F3?

I'm using iterm and tmux and I'm able to use the function keys without trouble. The key combinations are handled by (prompt_toolkit)[https://github.com/jonathanslenders/python-prompt-toolkit/]. My recommendation is to try one of the other tools written in prompt_toolkit such as [ptpython](https://github.com/jonathanslenders/ptpython) and see if function keys wo

[2016-04-29 18:56] gnzsnz commented on #485
Hi,

Thanks for your answer.

I'm using byobu which uses tmux as backend and function keys are working fine. Same with ptpython, F3 takes me to history in ptpython and i get an "[[C" with pgcli. with standard ios terminal function keys are working fine.

as a workaround i setup multiline ON in the configuration file. but would prefer to be able to change it dynamically.

is there another way to ch

[2016-04-29 20:07] Kareeeeem commented on #443
I'm still getting this issue. Installed pgcli from pypi. Saw that it is an old version from last year. Should I clone from github to get the fix?

[2016-04-30 13:25] amjith commented on #443
This is now fixed in master. I haven't released it to pypi.

You can install directly from master as follows:

[code]

[2016-05-04 08:47] chunlinyao commented on #124
I still get a exception when I connect to a database and run ` rollback` without a transaction in place.

    Traceback (most recent call last):
      File "/usr/local/bin/pgcli", line 9, in <module>
        load_entry_point('pgcli', 'console_scripts', 'pgcli')()
      File "/usr/local/lib/python2.7/site-packages/click/core.py", line 716, in __call__
        return self.main(*args, **kwargs)

[2016-05-11 04:24] tienhm0202 opened #493 "How can I change text color in query"
![screenshot from 2016-05-11 11-15-23](https://cloud.githubusercontent.com/assets/13783097/15169912/c46da910-176a-11e6-95d6-1e31df3b4afb.png)
 How can I change this red text to another color. It look so dark and so `error-like`

[2016-05-12 05:30] amjith commented on #493
There are many syntax color schemes available. Open up your config file (~/.config/pgcli/config) and look for `syntax`. The comment above that should have a list of all possible color schemes.

If you're using an older version of pgcli, you might have to check ~/.pgclirc file.

[2016-05-12 11:47] klonuo opened #495 "ImportError: No module named 'sql'"
Trying ipython magic:

[code]

Where should those imports be pulled from?

[2016-05-12 11:54] klonuo commented on #495
Hm, it seems that it requires ipython-sql extension...

[2016-05-13 18:32] ahDDD opened #498 "There is a issue when I am trying to use Chinese"
I am write a piace of code, their UTF-8 encoding.
[code]
Which, I would like to use Chinese to write notice.
[code]
Everything seems be alright,but when I am trying to run it.
[code]
It becomes such garbled texts.
I was just trying to express someone just changed something.
But when I run it in psql or pgAdmin. it changed back to normal.
**psql**
[code]
**pgAdmin**
[code]
So I was wondering if I d

[2016-05-13 18:48] klonuo opened #499 "PGCli initialization issue"
On [PGCli](https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L109) initialization [`write_default_config()`](https://github.com/dbcli/pgcli/blob/master/pgcli/config.py#L33) is called with non-optional `destination` argument, which indicates that in PGCli constructor `pgclirc_file` argument should not be optional, as it is now set.
That argument is later again called by other functions in co

[2016-05-13 23:57] amjith commented on #495
@klonuo The instructions on getting this working are available here: http://pgcli.com/embedding-pgcli-in-ipython.html. You're right you do need ipython-sql installed to have this work correctly.

[2016-05-14 04:27] amjith commented on #498
Hi @ahDDD,

Sorry about the failure. I have a potential fix in a branch. Can you please try it out and let me know if it works as expected?

You can install the fixed version as follows:

[code]

I appreciate you filing the bug.

[2016-05-14 04:30] amjith commented on #499
@klonuo I can make that a non-optional value for strictness sake or you're welcome to submit a PR to do that.

[2016-05-14 09:54] klonuo commented on #495
Thanks

[2016-05-14 09:54] #495 closed

[2016-05-14 09:59] klonuo commented on #499
Ok, done :)

[2016-05-14 12:38] klonuo commented on #499
OTOH, now that I've made PR I'm thinking that maybe we should leave `pgclirc_file` argument optional and add some code to resolve to default value before it is called by other functions.

For example, now as is, issuing `pgcli = PGCli()` raises:

[code]

And this is actual code in pgcli's `magic.py` - https://github.com/dbcli/pgcli/blob/master/pgcli/magic.py#L33

Do you agree?

[2016-05-16 02:10] seonghuhn opened #503 "Cannot install pgcli, get $MACOSX_DEPLOYMENT_TARGET mismatch"
I am unable to install pgcli because of a compilation error due to a mismatch. This is what I am seeing. Any help would be appreciated.

[code]

[2016-05-16 05:23] amjith commented on #499
@klonuo Can you tell me what problem we were trying to originally solve? Was there a problem with setting a default value for pgclirc file?

If so can you tell me how it manifested? I may have give you answers hastily. So can you please give me a little background?

[2016-05-16 05:23] #493 closed

[2016-05-16 05:44] amjith commented on #503
@seonghuhn I haven't seen this error before. I presume this has to do with mismatch in versions for libpq and psycopg2.

My quick solution would be to try installing pgcli via brew:

[code]

[2016-05-16 05:45] klonuo commented on #499
Well, as in opening post, on `PGCli` initialization `write_default_config` is called with non-optional `pgclirc_file`. For example try this: `pgcli = PGCli()`

So I made PR to make `pgclirc_file` not optional, but I think that it is better to leave the code as is and add for example this line in PGCli init, before `write_default_config()` is called:

[code]

That way user can instantiate PGCli wit

[2016-05-17 04:49] amjith commented on #499
👍

Will you be updating the existing PR?

[2016-05-17 06:24] klonuo commented on #499
I closed existing PR and made new one

[2016-05-18 19:07] #499 closed

[2016-05-23 05:32] nikolay opened #509 "Integrate with gocmdpev"
https://github.com/simon-engledew/gocmdpev has Python bindings.

[2016-05-27 18:17] shofetim commented on #188
+1 for `\copy`

[2016-05-28 07:33] apacala opened #515 "\dx command"
Hi! Great work on the client, much more enjoyable than using raw `psql` ❤️.

However, I've just found out that `/dx` command is not supported:

[code]

Would it be possible to make `/dx` work in the future versions of Pgcli?

Thanks!

[2016-05-30 16:47] darikg commented on #515
I'll take a stab at this in the coming week or two. I've been meaning to write a guide illustrating how to add special commands in general so we can make it easier to crowdsource adding in all the other other \commands we're missing

[2016-05-30 18:05] amjith commented on #515
@j-bennet I remember you wrote a guide a while back. I can't find it now.
Can you point Darik to that guide so he can update it if possible?
On May 30, 2016 9:47 AM, "darikg" <notifications@github.com> wrote:

[2016-05-31 17:44] j-bennet commented on #515
Yes, it's in pgspecial docs:

https://github.com/dbcli/pgspecial/blob/master/DEVELOP.rst

[2016-05-31 22:20] darikg commented on #515
Oh wow that doc is fantastic, thanks @j-bennet

[2016-05-31 22:23] j-bennet commented on #515
Probably needs to be updated now, would be great if you want to do it @darikg.

[2016-06-02 10:00] mkataja commented on #410
Do note that there are PostgreSQL operations that can't be run inside a transaction (VACUUM comes to mind). This feature should be off by default.

[2016-06-02 10:11] mkataja opened #518 "Add configuration option to disable startup and exit messages"
Add a configuration option to disable some or all of the following startup and exit messages to reduce the amount of output:

The messages could still be enabled by default.

[2016-06-02 10:13] mkataja opened #519 "Make the "more than 1000 rows" warning limit configurable"
Add a configuration option to change the number of rows that causes the following warning to be shown:

Setting the option to 0 should disable the warning altogether.

[2016-06-02 17:45] drocco007 opened #520 "Filter out PG trigger implementation functions"
Using master checkouts for pgcli & pgspecial on PG 9.3.5, the Postgres internal trigger functions are being pulled in to the suggestions:

![image](https://cloud.githubusercontent.com/assets/1424858/15754619/fc388668-28c6-11e6-9ed4-d5b9f4105b07.png)

Since they're capitalized, they're also floating to the top of the suggestion list. I'm guessing this was inadvertent; it makes the completion list f

[2016-06-02 19:53] drocco007 commented on #519
@amjith Do you have an opinion about this being an option in the configuration file vs. a command line argument vs. both? The PR from @Smotko implements a command line argument.

[2016-06-02 20:14] amjith commented on #519
I don't have a strong opinion. If I had implemented I'd probably have picked the config file.

[2016-06-02 20:16] koljonen commented on #520
I think we should just filter out any functions where **prorettype::regtype = 'trigger'** in pgexecute.

[2016-06-02 21:32] drocco007 commented on #520
I've created a PR that implements @koljonen's suggestion :)

Tested on PostgreSQL server versions 9.3.5 & 8.4.22

[2016-06-02 22:11] Smotko commented on #519
I've added it to the config file as well.

[2016-06-03 09:32] #520 closed

[2016-06-05 21:50] #519 closed

[2016-06-10 15:27] seonghuhn commented on #503
Turns out it was because I had hardcoded in my environment `MACOSX_DEPLOYMENT_TARGET`  to "10.6". Once I fixed that and set it to "10.8" `pgcli` installed fine. Thanks for the help.

[2016-06-10 15:27] #503 closed

[2016-06-19 21:37] j-bennet commented on #396
This was implemented and merged.

[2016-06-19 21:37] #396 closed

[2016-06-24 16:19] Seanstoppable opened #535 "Command history configuration/HISTFILE option"
In my psqlrc file, I have the following:

\set HISTFILE ~/.psql_history- :DBNAME

This allows for a history file per database I connect to, making it easy to get the history of commands for that database.

It would be nice if that were supported, ideally from parsing .psqlrc, to make switching easier.

Similarly, it would be nice if the history were done the same way as psql's (which is unfortunat

[2016-06-24 21:04] svenstaro opened #536 "Crash when entering standard psql connect string"
I'm getting this:

[code]

This happens with the latest release as well as the latest git commit.

[2016-06-29 03:16] amjith commented on #536
What version of pgcli are you using? Can you try upgrading to the latest?

[code]

[2016-06-29 03:16] amjith commented on #518
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:16] #518 closed

[2016-06-29 03:18] amjith commented on #515
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:18] #515 closed

[2016-06-29 03:18] amjith commented on #484
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:18] #484 closed

[2016-06-29 03:19] amjith commented on #498
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:19] #498 closed

[2016-06-29 03:19] amjith commented on #478
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:19] #478 closed

[2016-06-29 03:19] #474 closed

[2016-06-29 03:20] amjith commented on #467
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:20] #467 closed

[2016-06-29 03:20] amjith commented on #466
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:20] #466 closed

[2016-06-29 03:20] amjith commented on #462
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:20] #462 closed

[2016-06-29 03:20] amjith commented on #432
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:20] #432 closed

[2016-06-29 03:20] amjith commented on #427
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:20] #427 closed

[2016-06-29 03:21] amjith commented on #417
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:21] #417 closed

[2016-06-29 03:21] #35 closed

[2016-06-29 03:22] amjith commented on #167
Support for postgres 8.x is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:22] #167 closed

[2016-06-29 03:22] #181 closed

[2016-06-29 03:23] amjith commented on #18
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:23] #18 closed

[2016-06-29 03:27] amjith commented on #393
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:50] #393 closed

[2016-06-29 03:51] amjith commented on #384
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:51] #384 closed

[2016-06-29 03:51] amjith commented on #184
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 03:51] #184 closed

[2016-06-29 04:30] amjith commented on #316
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 04:30] #316 closed

[2016-06-29 04:32] amjith commented on #287
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 04:32] #287 closed

[2016-06-29 04:33] amjith commented on #282
This is now available in v1.0. Please upgrade.

[code]

[2016-06-29 04:33] #282 closed

[2016-06-29 04:34] amjith commented on #188
`\copy` is now available in v1.0. Please upgrade.

[code]

[2016-06-29 04:34] #188 closed

[2016-06-29 08:14] apacala commented on #515
Thank you! ❤️

[2016-06-29 10:01] svenstaro commented on #536
At the bottom of my issue I said it was using HEAD at the time and the newest release at the time (which was v0.20.1).

[2016-06-29 12:22] jklukas opened #537 "Redshift connection gets cast error in completion_refresh"
I just did a `pip install -U pgcli` to get 1.0.0 and attempted to connect to Redshift. The shell opens to a prompt like expected:
[code]

But within a few seconds, the following exception appears:
[code]

I can use the shell, but autocompletion of table names is not working.

[2016-06-29 12:24] jklukas commented on #537
Testing this since Redshift was announced to be working in https://github.com/dbcli/pgcli/issues/282.

BTW, I'm very excited about the finally having a chance to use pgcli now that it supports Redshift.

[2016-06-29 17:49] darikg commented on #537
Sorry! The oldest version of postgresql I've tested this on was 8.4, but it looks like Redshift is 8.0? Let me see if I can get it installed somewhere. I think I know how to fix it

[2016-06-29 18:30] jklukas commented on #537
Yeah, Redshift is unfortunately 8.0.2-based, I believe. Glad to hear there's promise for finding a fix.

[2016-06-29 18:34] darikg commented on #537
I can't figure out how to install pg8.0. I have what I think will fix it in #539, if someone could try that out (or somehow get me an account on a pg8.0 server) I'd appreciate it.

[2016-06-30 04:36] amjith commented on #536
@svenstaro Fix available in master. Can you install from master?

[code]

[2016-07-01 18:59] j-bennet commented on #485
@gnzsnz , I'm using pgcli with iterm2 on mac, and function keys work without any problems. I think your byobu may be interfering there, since it has its own mapping for function keys, and it would override prompt_toolkit's mapping (at least it did for me when I tried it). Did you customize your  byobu or iterm key mapping, or is it all out-of-the-box?

[2016-07-04 03:33] amjith commented on #537
This is now fixed in the latest release v1.1.0
Please upgrade:

[code]

[2016-07-04 03:33] #537 closed

[2016-07-04 03:34] amjith commented on #489
This is now available in the latest version of pgcli (v1.1.0). Please upgrade:

[code]

[2016-07-04 03:34] #489 closed

[2016-07-04 03:34] #475 closed

[2016-07-04 08:09] gnzsnz commented on #485
hi @j-bennet, i use pgcli outside byobu, otherwise key do conflict. but the problem is that even outside byobu function keys (F*) do not work for iterm and pgcli. iterm and pgcli are out of the box i have not changed key mapping.

thanks for your comments.

[2016-07-04 15:05] svenstaro commented on #536
Fix works for me, thanks!

[2016-07-04 15:05] #536 closed

[2016-07-04 15:51] amjith commented on #464
Both pgcli and mycli now depend on the same version of `prompt_toolkit`. Please let me know if the problem still persists after an upgrade.

[code]

[2016-07-04 15:52] #464 closed

[2016-07-05 13:36] AdamMajer opened #542 "Please sign your releases and/or git tags"
Is it possible for your to sign release tags? This way it would be possible to verify that the source code releases come from the same source.

   http://stackoverflow.com/questions/5663733/signing-tags-in-git

Thanks in advance.

[2016-07-05 14:08] amjith commented on #542
Just a few days ago my coworker showed me that it's possible to sign commits. I was going to look into it, this is a nice excuse for me to do so. :)

[2016-07-05 14:13] AdamMajer commented on #542
On 07/05/2016 04:08 PM, Amjith Ramanujam wrote:

Very good! Signing commits is good too but for most people just
downloading software, signed release tags

    git tag -s release_tag

are more than good enough. These verify the entire source tree is
authentic up to that point.

Cheers,
Adam

[2016-07-06 15:58] gabfl commented on #464
It works great, thanks a lot

[2016-07-06 16:03] gabfl opened #544 "\watch command does not work"
(this is a minor issue as `\watch` is not a well known command)

PostgreSQL has a `\watch` command to repeat queries every X seconds (as documented here): https://www.postgresql.org/docs/current/static/app-psql.html

It works perfectly on the psql CLI:

[code]

It does not work with pgcli:

[code]

[2016-07-07 05:18] iamrahulroy commented on #221
@amjith don't you think it should be default config for new users as the same setting is enabled by default for the offcial psql console.

[2016-07-07 06:18] amjith commented on #221
@iamrahulroy That's debatable. Some of the default behaviors in psql are just terrible, so I'm ok deviating from what is considered default in psql.

But this one is a subjective call and I'm not sure there is a good way to objectively say one is better than the other. I've chosen what I think is the most common use case, which is people type in queries in a single line and multi-line queries are

[2016-07-07 11:04] darikg commented on #221
I mentioned in #389 that it would be nice to detect newlines in pasted text, and auto-switch to multi-line mode. That'd be pretty sane imho.

[2016-07-08 04:52] amjith commented on #221
That'd be a great addition @darikg.

[2016-07-08 14:20] amjith opened #545 "Suggestion sorting needs priority"
Somewhere along the way we broke the order of suggestions in the completion menu.

After a FROM keyword we should suggest schemas, then tables and then functions, but instead we're now sorting everything alphabetically (with some reordering based on frequency). This means functions bubble up to the top and it is impossible to see the list of tables in the menu without scrolling indefinitely.

Here

[2016-07-08 15:02] koljonen commented on #545
Some proof-of-concept code: https://github.com/dbcli/pgcli/tree/koljonen/suggestion_sorting
A thing I didn't implement there: In the FROM clause, record-returning functions should be sorted before scalar-returning.

[2016-07-10 22:30] darikg commented on #545
I rely on fuzzy matching enough that I barely even notice the order of suggestions, I kinda just bash at the keyboard until the first suggestion is what I want. So I don't necessarily like 'hard' grouping suggestions by type. I agree that prioritizing functions ahead of schemas and tables in the absence of any fuzzy matching is pretty distasteful though.

@koljonen I just tried your branch and it

[2016-07-15 09:55] limdauto opened #547 "Can we show more information in the prompt?"
I'd like to add address before the dbname in the prompt so that I know which server I'm connecting to. Is it possible to make this configurable?

Related PR: https://github.com/dbcli/pgcli/pull/548

[2016-07-17 04:24] amjith commented on #544
This has not been implemented yet. But this is something we want to support.

[2016-07-17 05:58] amjith commented on #545
I've been traveling the past week so I haven't had a chance to play around with the solution yet.

@darikg I too rely on the fuzzy matching to do the heavy lifting. But often times I'm opening a new database that I don't know anything about. During those times I need to know the list of tables in order to start guessing. That was the main impetus for this request.

@koljonen I'll take a look at yo

[2016-07-17 14:08] gabfl commented on #544
great, thanks Amjith!

[2016-07-18 11:05] #547 closed

[2016-07-19 04:55] amjith commented on #545
I've tried out the branch and I like it. I have one suggestion for the priority (this is up for discussion). We typically bubble up the recently used table name to the top, I think that we should create a new category called 'recently_used' and position that above all other categories.

<img width="790" alt="2__0_0_python2_7_-__pgcli___users_amjith_dropbox_code_python_pgcli____tmux_" src="https://

[2016-07-19 23:21] darikg commented on #545
As in there'd be some threshold `x`, where if a suggestion has been used in the past `x` queries, it belongs in recently_used?

[2016-07-20 05:18] amjith commented on #545
That's a good point. Maybe we have a maximum of 5 unique items to show in the recently used category?

[2016-07-20 20:24] dargueta-work opened #550 "Database URI with port number causes crash in 1.0.0"
**EDIT**: Looks like Homebrew is lagging. This was fixed in 1.1.0.

pgcli 1.0.0 on OSX, installed via Homebrew running on Python 2.7.11:

When starting up with a Postgres connection URL of the form `postgres://username:password@localhost:5432/db` I get the following crash:

[code]

This is because `urlparse` converts the port into an integer. Adding `str()` around the port number fixes the problem

[2016-07-20 20:30] #550 closed

[2016-07-24 10:58] COLABORATI opened #551 "FR: sqlitecli?"
Hi, I have seen this and mycli - is there also a sqlitecli? Would be great!

[2016-07-25 03:46] amjith commented on #551
I don't have the time to create a new one. But I'm willing to help anyone who is interested in taking the initiative and doing a cli for sqlite.

[2016-07-27 16:07] amjith commented on #545
@koljonen Would you mind creating a PR from your branch? What you have is definitely an improvement over the current state and I'd like to have that merged and released soon. We can iterate on further improvements in a later release.

[2016-07-29 18:35] thalesmello opened #558 "Implement \copy (...) TO PROGRAM '...'"
Hello.

Excellent project! So far, pgcli replaced the old `psql` except for this one feature.

`psql` allows you to use the `\copy` command to pipe a query into a shell command, which might be useful to copy the results of a query to the system clipboard (using pbcopy on a Mac, though there are similar utilities for GNU/Linux and Windows). Therefore, if I do something like:

`\copy (SELECT name, a

[2016-08-02 20:42] LiraNuna opened #560 ""alias timestamptz not supported" when connecting to Redshift instance"
I am getting the error `alias timestamptz not supported` when I attempt to connect to a Redshift instance.

According to https://github.com/dbcli/pgcli/issues/282, Redshift is supported since v1.0 and accoding to http://pgcli.com/v1.0.0.html `timestamptz` was added as a DATE custom extension.

[code]

[2016-08-04 02:50] LiraNuna commented on #560
NOTE: This seems fixed in master but not in 1.1.0.

[2016-08-04 15:05] amjith commented on #560
You're right this was recently fixed https://github.com/dbcli/pgcli/pull/546. I haven't made a release since then.

[2016-08-09 20:40] doug-wade opened #562 "Homebrew is out-of-date"
I just installed `pglcli` from homebrew, and I got bit by https://github.com/dbcli/pgcli/issues/550

[code]

I expected to get a working version of pgcli.

[2016-08-11 00:41] LiraNuna opened #563 "Exception on `SELECT column AS`"
When inputting the query `SELECT column AS`, the following exception raises:

[code]

Database type is Amazon Redshift

[2016-08-11 04:32] amjith commented on #563
Good catch. I think this is related to the latest update by sqlparse. I'll take a look and have a fix ready soon. Thanks for reporting.

[2016-08-12 05:29] amjith commented on #562
I've submitted a new formula for pgcli to homebrew. https://github.com/Homebrew/homebrew-core/pull/3822

[2016-08-12 13:27] icemac commented on #206
I'd love this feature, too as it would allow to replace `psql` completely by `pgcli`.

[2016-08-20 00:43] danielyli opened #564 "Pasting a "COPY ... FROM stdin" command freezes the program indefinitely"

[2016-08-21 04:34] amjith commented on #562
New formula available in brew.

[2016-08-21 04:34] #562 closed

[2016-08-21 04:34] #551 closed

[2016-08-22 09:08] kumarharsh opened #565 "pgcli get stuck indefinitely on Windows"
I'm using Powershell on ConEmu to run pgcli after installing it via pip, and it just gets stuck when I run `pgcli`. Only `pgcli --help` outputs the help, nothing else works.

[2016-08-22 13:21] darikg commented on #565
You can connect successfully with psql though? I've had issues on Windows before with a bad connection where psycopg2 just hangs instead of timing out.

[2016-08-22 15:16] kumarharsh commented on #565
Yes, psql works. Actually, I missed out one important thing: My postgres is running in a docker container, and I've already configured port-forwarding, etc, so that my applications in windows can connect to the postgres database inside the docker container. Manually specifying the port in `pgcli` did not help.

[2016-08-22 15:36] darikg commented on #565
Do you mind running this at the command line to see if it hangs so we can confirm it's a problem specific to psycopg2:

[code]
with the obvious values replaced with your specifics?

[2016-08-22 18:31] doug-wade commented on #562
Thanks @amjith!

[2016-08-22 20:50] j-bennet commented on #564
@danielyli Some reproduction steps would be helpful. Also, what OS are you running on?

[2016-08-22 21:41] j-bennet commented on #563
I created an issue in sqlparse:

https://github.com/andialbrecht/sqlparse/issues/284

[2016-08-23 12:04] kumarharsh commented on #565
That line works, but it gave no output (and no error, so I'm assuming it ran fine)

[2016-08-23 13:03] fernandocanizo opened #567 "Autocompleter explodes on last character from any valid SQL command or space for any other text"
After starting `pgcli` typing any SQL command will blow auto-completer when last character is pressed. Or if any text is typed, it will blow after pressing `space`:

[code]

After this there's no more auto-completer and it doesn't explode anymore. Another example to show it's the same for any valid SQL:

[code]

$ pgcli --version
Version: 1.1.0

Running on Archlinux. If you need any other informat

[2016-08-23 14:51] darikg commented on #565
Huh well I guess psycopg2 is working fine then. So the problem really is with pgcli. Do you mind editing `AppData\Local\dbcli\pgcli\config` to set `log_level = DEBUG` and then running pgcli again and copying the last few lines from `AppData\Local\dbcli\pgcli\log` and maybe we can figure out where it's hanging?

[2016-08-23 14:53] darikg commented on #567
How did you install pgcli? It looks like maybe you have an incompatible version of sqlparse installed.

[2016-08-23 17:30] fernandocanizo commented on #567
@darikg from [AUR](https://aur.archlinux.org/packages/pgcli/)

Tried with `pip` too but I got another error there and since the versions both methods install are the same, I didn't bother to report this problem:

[code]

Regarding `sqlparse`, got version 0.2.0:

[code]

[2016-08-23 19:05] darikg commented on #567
Ok sqlparse 0.20 is the issue. The master branch of pgcli supports it but v1.1.0 didn't. I don't know anything about archlinux or AUR--is it easy to swap sqlparse 0.19 for 0.20?

[2016-08-23 19:25] j-bennet commented on #567
@darikg I think if you install 0.19 and pgcli has 0.20 in requirements, it won't start, will it?

[2016-08-23 19:34] darikg commented on #567
@j-bennet I'm a little confused on that. The pgcli commit tagged v1.1.0 has sqlparse==0.1.19 listed in setup.py, so I don't understand how it ran in the first place.

[2016-08-23 19:35] dkarter opened #569 "Allow autocomplete to lowercase/smartcase"
Many people prefer writing SQL in lowercase.

When I try to autocomplete a query in pgcli it always autocompletes uppercase. I asked in gitter if there is a way to configure that and was told to open an issue on the repo.

Auto complete lowercase example:
For example `sel<TAB>` should be `select` not `SELECT`.

Auto complete smartcase  example:
`sel<TAB>` should be `select`
 `SEL<TAB>` should be `

[2016-08-23 20:03] amjith commented on #569
@darikg I think this validates your request (from a while back) to have either casing controlled via the config file.

I actually like this idea of having it smart cased, so this is not configured via the pgclirc. But I'll leave this up to you to decide how you want to implement it.

If you're not too keen on taking this on, let me know and I'll see what I can do.

[2016-08-23 21:39] j-bennet commented on #567
Interesting. I dockerized pgcli on archlinux here:

https://github.com/j-bennet/dockerized/tree/master/pgcli-archlinux

I'm installing pgcli from master. I don't have the crash as described, but I see a different error when running pgcli:

[code]

However, my pgcli was installed using pip, and that's different from @fernandocanizo. What's your arch linux version, @fernandocanizo ?

[2016-08-24 07:47] kumarharsh commented on #565
This is all:
[code]

[2016-08-24 07:50] kumarharsh commented on #565
I've tested pgcli with cmd.exe, git bash, powershell on conemu and even vanilla CMD.exe - all of them get stuck in the same way.

[2016-08-24 11:28] darikg commented on #569
I like the smart casing idea! I'll take a stab at it.

[2016-08-24 12:02] darikg commented on #565
I'm able to replicate something like this when running `pgcli` with no connection details, and pgcli defaults to try to connect to localhost, when I don't have postgresql server running. pgcli hangs and the debug log stops at the same point as yours.

Can you connect successfully if you specify all the connection details, like
[code]
?

[2016-08-24 12:47] PauloDanielCarneiro opened #570 "Connat install - Ubuntu"
I can't install pgcli after I remove it by accident. When I try, I get the error:

[code]

What can I do?

[2016-08-24 12:51] amjith commented on #570
Looks like you don't have python-dev package on your machine. Try installing:

[code]

[2016-08-24 13:01] PauloDanielCarneiro commented on #570
Yes, I have. And when I try to install again, shows "python-dev is already
the newest version (2.7.11-1). ", as expect. Any other thing? TT_TT

Off.:
When I install with apt-get, it works, but the auto-complete function don't
work.

On Wed, Aug 24, 2016 at 9:51 AM, Amjith Ramanujam <notifications@github.com>
wrote:

[2016-08-24 13:14] amjith commented on #570
The install is failing on psycopg2. Try pip installing psycopg2 separately and see if that passes. If it doesn't, it probably means that the python you're using to install psycopg2 is different from the system python. The python-dev that you have is matched with the system python, since you're using a different python than the system python, it can't find the python headers for your python, even t

[2016-08-24 13:24] kumarharsh commented on #565
I've tried these, which don't work:
I don't have a password set for my database, hence no `:password`.
[code]

[2016-08-24 13:32] fernandocanizo commented on #567
@darikg while Archlinux allows to install local versions using it's build system ABS, it's a little bit more effort. Since you told me sqlparse 0.20 was supported on master, I switched to package `pgcli-git` and it's solved for me now.

Thanks.

Maybe we should close this.

[2016-08-24 13:57] fernandocanizo commented on #567
Well, it seems I talked a little bit too early :'(

Installing `pgcli-git`, which clones master branch, which it's supposes to support `sqlparse 0.20`, I get a worst behaviour:

[code]

Any command will spit the same error about `get_watch_command`.

And if I switch to `python-sqlparse-git` (which brings version: 0.1.18.32.g7b80406-1) I also get a bad behaviour, worst than previous I think:

[code

[2016-08-24 14:03] amjith commented on #567
@fernandocanizo I'm very late to this party. But did you try installing directly from master using pip?

[code]

[2016-08-24 14:23] fernandocanizo commented on #567
@amjith Oh! That worked perfect :) I tried before pip, but not using github URL.

Thank you :)

[2016-08-24 20:24] fernandocanizo commented on #567
Sorry @j-bennet I missed your question before: Archlinux is a rolling release distro, there's no such a thing as a _version_, most close thing I can tell you is that I installed it this week using ISO from 2016.08.01 and that it's updated to today.

[2016-08-24 20:36] j-bennet commented on #567
Thanks @fernandocanizo, good to know - I've not worked with Archlinux before. I'm glad the problem was fixed by an install from master.

[2016-08-25 02:59] darikg commented on #565
So sorry for all the hassle @kumarharsh
I've (I think) fixed a problem where pgcli will hang in a connection error. I have a fix here: #571
I don't think it will fix your problem directly, but it should at least report an error message instead of freezing.
Could you please try it out with
[code]

[2016-08-25 03:19] darikg commented on #567
@amjith first-shots it of course

I'm still bewildered here. Looking at the AUR script [here](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=pgcli) there's really not a lot happening -- it downloads `https://github.com/dbcli/pgcli/archive/v$pkgver.zip`, and then runs `setup.py`.  My only guess is it installed the correct version of sqlparse, but a newer version had already been installed s

[2016-08-25 05:55] kumarharsh commented on #565
no problems! I'll give it a try

[2016-08-25 11:52] fernandocanizo commented on #567
@darikg I think no, but I'm not sure if I understood you correctly. This is a fresh install of Archlinux and there's no other package requiring `sqlparse`, by issuing a `dbcli` install with `yaourt` tool (a package manager for AUR) you get `sqlparse` as dependency. Did you intend to say that `setup.py` installed a local version of the dependency instead?

[2016-08-25 12:01] fzerorubigd commented on #567
There is also a pgcli-git package in AUR (https://aur.archlinux.org/packages/pgcli-git/) . it build from the master branch.
I use that version and there is no problem with that.

[2016-08-25 14:15] PauloDanielCarneiro commented on #570
It failed to instal psycopg2. And `/usr/bin/python -m pip install pgcli`
returns "/usr/bin/python: pip is a package and cannot be directly
executed". I think it's a problem with python and the python's OS. Maybe of
I reinstall the OS...

On Wed, Aug 24, 2016 at 10:14 AM, Amjith Ramanujam <notifications@github.com

[2016-08-25 18:31] fernandocanizo commented on #567
@fzerorubigd It didn't work for me, you can check the error I got some messages above (sorry, I didn't found a way to reference the proper message)

[2016-08-26 15:03] amjith commented on #570
I believe you have python 2.6 as the default version of python on this system. Which doesn't allow pip to be called as a module.

Can you tell me how you installed the new version of python on your system?

I think the easiest solution at the moment would be to find out why apt-get install pgcli doesn't do what you want. Can you install pgcli via apt-get install pgcli and then launch pgcli and see

[2016-08-29 11:07] kumarharsh commented on #565
@darikg it's still the same

[2016-08-30 19:35] PauloDanielCarneiro commented on #570
I instaled pgcli, and it works. Everything, but the auto-completion.(This
is the version of the repo)

Here the log file

On Fri, Aug 26, 2016 at 12:04 PM, Amjith Ramanujam <notifications@github.com

[2016-08-31 21:11] darikg commented on #565
I'm sorry! I'm completely stumped then. I will try to get postgresql running in a docker instance to see if I can replicate it. Might not happen real soon though.

[2016-08-31 21:20] j-bennet commented on #565
@kumarharsh Are you specifying host explicitly? `pgcli` will default to `localhost` if you aren't, and on Windows you may need to use docker machine IP instead.

[2016-09-01 07:23] kumarharsh commented on #565
@darikg I got it working using @j-bennet's suggestion:
[code]

However, after I write the first word in the cli, say `SEL..<ENTER>' to select the 'SELECT' keyword and then I press <kbd>Space</kbd>, there is an error thrown:

[code]

I can, however, keep writing the rest of the command. But the autocomplete breaks after that, and never triggers.

[2016-09-01 12:01] amjith commented on #565
@kumarharsh This latest exception you're seeing is due to a known bug that is fixed in master. Can you try upgrading directly from master using the following command?

[code]

[2016-09-01 17:15] PauloDanielCarneiro commented on #570
Any problem in the log files?

[2016-09-02 08:21] kumarharsh commented on #565
Works like a charm!

[2016-09-02 08:23] kumarharsh commented on #565
Is there a way to throw some error or warning when pgcli can't connect to databases?
For example like I had done at the beginning of this issue? Just writing `pgcli` makes the console stuck and Ctrl+C also doesn't work after that. I have to manually kill the console instance - which made me think this might be a bug.

[2016-09-02 13:51] amjith commented on #565
@kumarharsh It was a bug, we have a fix for that in master (as of 5 minutes ago). Thanks @darikg.

I'd recommend rerunning that update command and see if that works for you.

Sorry about the bug, we will release the next version pretty soon.

[2016-09-02 21:44] kumarharsh commented on #565
Yes, it works with the latest fix. Thanks @amjith  @darikg

[2016-09-02 21:53] darikg commented on #565
Glad to hear it!

[2016-09-03 03:26] amjith commented on #567
Please upgrade to v1.2.0.

[code]

This issue is addressed in the new version.

[2016-09-03 03:26] #567 closed

[2016-09-03 03:26] amjith commented on #563
Please upgrade to v1.2.0.

[code]

This issue is addressed in the new version.

[2016-09-03 03:26] #563 closed

[2016-09-03 03:27] amjith commented on #544
Please upgrade to v1.2.0.

[code]

This issue is addressed in the new version.

[2016-09-03 03:31] amjith commented on #545
This issue is addressed in version (v1.2.0).

[2016-09-03 03:31] #545 closed

[2016-09-03 20:22] j-bennet commented on #564
I didn't try `COPY ... FROM STDIN` before, but now I did, I can see what you are talking about. They work differently in `psql` and `pgcli`.

Assuming I selected database `boo` and created table `create table xxx (x int, y text);`:

In `psql`:

[code]

In pgcli, `\copy` is a "special command" - one of the "backslash" commands:

[code]

Here, I had to press `Ctrl + D` twice to signal EOF.

Also, if

[2016-09-04 04:37] elenigen opened #575 "Execution time"
I executed a SQL script with \i file which took a while (many minutes), but at the end it printed:
Time: 27262526.337s (10 months)

[2016-09-04 05:09] amjith commented on #575
Wow. That is quite a sql file you must have executed there.

Sorry about the bug, I'll take a look soon.

[2016-09-05 22:17] danielyli commented on #564
@j-bennet Ah, apologies for the late response! I've been very busy lately. Thank you for filling in the reproduction steps!

[2016-09-06 14:12] amjith commented on #570
@PauloDanielCarneiro The log file gave me some clues. I'm guessing that the database that you're connecting to has a lot of tables or it is located in a network that is far away (high latency).

When you launch pgcli do you see a message in the status bar at the bottom that says "Refreshing completions....."? When that message is active the autocompletion thread is still gathering data in the back

[2016-09-06 14:41] gabfl commented on #544
Just tested and it works great, thank you so much

[2016-09-06 17:47] iv597 commented on #567
Creating a virtualenv and pip-installing pgcli after uninstalling the AUR package "solves" the issue, but will require a shell script wrapper to switch to that venv every time I want to use pgcli. Doable, but far from optimal.

I'll look into patching up the PKGBUILD when I have some spare time, for us Arch folk.

[2016-09-07 03:20] PauloDanielCarneiro commented on #570
Hello.

Well, the database is in my city, São Paulo. There are very many tables,
really. I can connect normally in my pc(in home, with a VPN) and show the
completions. But in my pc at work, with wired connection(the VPN is in the
router in my work place) they don't show at all. My version is 1.1.0.

There is anything that I can do with the time out?

On Tue, Sep 6, 2016 at 11:12 AM, Amjith Ramanuj

[2016-09-08 16:31] PauloDanielCarneiro commented on #570
I'll take this pc to my home and try in my network, with VPN.

[2016-09-08 21:35] elenigen commented on #564
Actually, the same "freeze" problem happen with the
[code]
But, again if we do like j-bennet  suggested, then it works fine:
[code]

[2016-09-09 13:32] PauloDanielCarneiro commented on #570
Hello.

In my house it worked as expect. I think it's the local network in my work.
Thanks. ^^

On Wed, Sep 7, 2016 at 12:20 AM, Paulo Daniel <pdc187@gmail.com> wrote:

[2016-09-11 02:44] danielyli commented on #564
If pgcli isn't intended to be an identical-behavior replacement for psql, I don't think there's much harm in mandating the `\copy` syntax.  In that case, can I suggest an error message upon using `COPY`?

[2016-09-11 03:25] j-bennet commented on #564
@danielyli I agree, that would be more graceful as a temporary solution, even if we want to align these behaviors in future. Let's keep the issue open.

[2016-09-12 09:49] d33tah opened #579 "Implement \dm"
[code]

[2016-09-12 11:05] d33tah opened #580 "How to display time in prompt?"
I'd like my prompt to be prepended with `[`date "+%d/%m/%y %H:%M:%S"`]` so I could see how long queries take and when they finish. How could I do that most easily?

[2016-09-13 03:03] amjith commented on #580
@d33tah We currently don't have that available in the prompt specifiers. But it is trivial to add. Here's the relevant code snippet. https://github.com/dbcli/pgcli/blob/master/pgcli/main.py#L687-L694

I wouldn't be opposed to the idea if you want to send a PR. 😄

ps: We do time the queries and print the results at the end of each query. In fact we fixed a bug recently to fix a bug in the calculati

[2016-09-14 13:14] foxyterkel commented on #431
Hello. I wanna take part in issue solving. I'm watching code, and found place where int, float, and str value are formatting. Value formatting in agree with column type. So can we suggest that all int, and float values must be comma divided? As for me ID values is not a problem, UUID value is usually placed in str columns. If id will be in int column(like auto increasing), so id is not random valu

[2016-09-14 16:27] amjith commented on #575
This is now fixed in master. Try it out by installing using the following command:

[code]

I'll release a fix for it soon.

[2016-09-14 16:30] amjith commented on #431
@foxyterkel I'd love to see a PR with the idea you've described. One of the problems is we don't have a prototype to play around with different ideas, but once someone puts forth a PR, we can try to collaborate on it and make it better.

[2016-09-16 01:07] elenigen commented on #575
Thanks!

[2016-09-16 01:20] diwu1989 opened #584 "prompt doesn't display only the database name when using database url"
if I run pgcli with a database url string such as

[code]

the prompt is super long and has the full database url whereas I expect it be just the db name

[code]

[2016-09-16 05:33] amjith commented on #584
@diwu1989 Sorry about that. You can adjust the prompt in your config file located at ~/.config/pgcli/config.

Take a look at the [prompt specification](https://github.com/dbcli/pgcli/blob/master/pgcli/pgclirc#L101).

[2016-09-16 05:38] amjith commented on #570
@PauloDanielCarneiro Thanks for taking the time to check this out and report back the results. I'm sorry it is having issues with the work network.

You can try one other thing to see if it helps.

Launch pgcli with a command line option called `--single-connection`. This forces pgcli to use a single connection to do the autocompletion instead of making multiple connections.

See if that helps.

[2016-09-19 22:00] mario-grgic opened #585 "pgcli depnds on exact version of sqlparse"
Today there was an update to sqlparse to 0.20.1 and pgcli failed to start after update since it expects exact version, not at least version.

Can the dependencies be loosened a bit so there is minimal version needed instead of exact version, otherwise pgcli is going to be broken a lot when dependencies are updated independently of pgcli.

[2016-09-20 05:49] amjith commented on #585
Hi Mario, sorry about the inconvenience. The reason for being strict about the dependency is that we used to have a relaxed dependency on sqlparse and when 0.2.0 was release it broke everything. Since we got burned by that we've been cautious about having relaxed dependencies. Is this restricting you in some way?

[2016-09-20 13:01] mario-grgic commented on #585
Thank you for the reply. I normally update all outdated packages periodically, and normally nothing breaks because of dependencies. pgcli is the first package I encountered that did break out of 211 packages I have installed.

It's not a big deal I can work around this, it's just that it was a bit unexpected.

But for pgcli it really comes down to figuring out which is more likely and desirable sc

[2016-09-20 13:29] darikg commented on #585
While sqlparse is still in major version 0, we could at least pin the major and minor version number, and allow the bugfix version to vary. I.e. `0.2.0 <= sqlparse < 0.3` or however you specify that in setup.py

[2016-09-21 03:56] amjith commented on #585
@darikg You're right. Watch for an incoming PR.

[2016-09-21 14:07] amjith opened #587 "Switch the shorted prompt when prompt length is too long"
Most of the complaints we receive about the pgcli prompt is that it is too big when people are using it with AWS hosts.

It would be nice to automatically switch to database name only when the prompt size is bigger than a certain threshold. Say 30 chars (this will need a bit of experimentation to get right).

[2016-09-21 14:14] amjith commented on #280
This is fixed in the latest version of pgcli (v1.0.1).

Please upgrade:

[code]

[2016-09-21 17:08] mbarkhau opened #588 "pgcli v1.2.0 not working for redshift"
Introduced by https://github.com/dbcli/pgcli/commit/3f310f5070d45852afda29ed50ba656ff1cb7465#diff-8859be39408e4fbeea82b923784d9e65R163

[code]

Leaving away the cast

[code]

Which I'm guessing means I'm not a superuser :-)

[2016-09-21 17:11] mbarkhau commented on #588
I'll see if I can get a fix working.

[2016-09-26 04:35] #588 closed

[2016-09-26 07:36] jerome-peng commented on #418
i have the same problem.
i use pgcli in redhat operate system.

$ pip freeze
click==6.6
configobj==5.0.6
humanize==0.5.1
mycli==1.8.0
pgcli==1.2.0
pgspecial==1.6.0
prompt-toolkit==1.0.3
psycopg2==2.6.2
pycrypto==2.6.1
Pygments==2.1.3
PyMySQL==0.7.9
setproctitle==1.1.10
six==1.10.0
sqlparse==0.2.0
wcwidth==0.1.7

it always flicker.

[2016-09-26 15:47] mquinnv commented on #280
i'm a little confused by the versioning. latest release is showing as 1.2, and is what i get if i upgrade via pip. but you mentioned 1.0.1. the bug is still present in 1.2. am i being dumb?

[2016-09-26 16:14] amjith commented on #280
Sorry the bug is not yet fixed. I fixed a related bug in 0.16.0 and I thought I addressed this issue. But looks like I misspoke. 😞

[2016-09-26 16:15] amjith commented on #280
Also I should not have said 1.0.1. I don't think that version even exists. 😞

[2016-09-27 23:47] bobcolner commented on #588
I'm also seeing this issue when trying to connect to redshift on pgcli v1.20

`cannot cast type text to boolean`

[2016-09-28 08:28] mbarkhau commented on #588
Yes the version on pypi is still broken, but you can install directly from the repository
[code]

[2016-10-02 17:42] darikg opened #590 "Formatting error with string-typed numbers"
This seems to be an issue with the new comma formatting cc @foxyterkel

[code]

[2016-10-02 20:11] thomasballinger opened #592 "\copy filename completion"
It'd be great if `COPY <tablename> from <filename>` had filename completion! This is mentioned in #146 but that issue is closed.

I'd be happy to take a look!

[2016-10-02 20:29] thomasballinger commented on #592
I guess the same thing applies to `\copy`

[2016-10-02 21:11] thomasballinger opened #593 "Select bad syntax highlighting"
[code]

![badhighlight](https://cloud.githubusercontent.com/assets/458879/19023713/0c9547e2-88c3-11e6-8db9-fdc320886191.png)

For me `name` is highlighted, despite it appearing here not as a keyword but as a column name. Is this something worth fixing? I don't know sql very well, is it standard not to use keywords like `name` as column names?

[2016-10-03 05:28] amjith commented on #592
Please feel free to take it on.

Here's a pointer to how we did the filename completion for the `\i` command.

https://github.com/dbcli/pgcli/blob/master/pgcli/packages/sqlcompletion.py#L134

Returning the completion type as `Path` will use the appropriate completer which are defined here: https://github.com/dbcli/pgcli/blob/master/pgcli/pgcompleter.py#L683

[2016-10-03 05:30] amjith commented on #593
The syntax highlighting provided by Pygments uses a regex based matching algorithm. It doesn't try to parse the structure of the sql to find the appropriate highlighting.

I haven't dug into changing this behavior.

[2016-10-04 03:49] amjith commented on #418
@jerome-peng I've tried this on different computers and different OSes. But I still reproduce it. I suspect it is a combination of a graphics card and driver. This is so far beyond my understanding of the stack that I have no good solution for you. 😞

All I can say is, did you try a different terminal? Say KTerm or gnome-terminal or xterm or urxvt?

[2016-10-07 20:44] sobolevn commented on #70
@amjith Is this still an issue? I can help on this one.

I have some experience in it: https://github.com/sobolevn/git-secret/blob/master/Makefile#L111

[2016-10-07 22:57] amjith commented on #70
@sobolevn I'd welcome any help. This is not a solved problem. Thank you for your help.

[2016-10-08 04:38] sobolevn commented on #70
Isn't is solved via https://github.com/dbcli/pgcli/blob/master/Vagrantfile#L79 ?
`DEVELOP.rst` also says that there's a way to create RPM: https://github.com/dbcli/pgcli/blob/master/DEVELOP.rst#building-rpm-and-deb-packages

[2016-10-08 04:52] amjith commented on #70
That didn't work out as I expected. When I created an RPM package it wouldn't install inside a test Centos container. I think there was some problem with assuming that some files existed or hardcoded path.

[2016-10-08 04:52] amjith commented on #70
I should probably remove that file and update the docs.

[2016-10-08 10:30] sobolevn commented on #70
Ok, I have managed to run it. But there's an issue with `promtp_toolkit`.

## Environment

I have used this docker-image: https://hub.docker.com/r/sobolevn/git-secret with `fedora-latest` tag.

## Preparation

## Dependencies

## Package creation

At this point due to some kind of bug (possibly https://github.com/jordansissel/fpm/issues/65) I had to comment out the line `# 'prompt_toolkit>=1.0.0,<

[2016-10-08 20:54] thomasballinger commented on #592
Some thoughts now that I understand this better

* This only makes sense for `\copy`, not `COPY`, unless pgcli can ask the server about paths that exist there. (unless that's something that's implemented now?)
* `\copy` allows queries in lieu of `table [ ( column_list ) ]`, but I'll ignore that for now.
* The simplest thing to do would be to just add path completion for `\copy` at all times like `

[2016-10-09 04:39] amjith commented on #592
You're right. We can't do filename completion for `COPY` since that is supposed to run on the server and not on the client.

With respect to `\copy` it seems like the completion is always suggestion keywords. For example when I type `\copy SELECT * FROM ` it is not recommending tables.

Your suggestion was to always use path file completion after the `\copy` prefix. My recommendation is, when we s

[2016-10-10 17:52] thomasballinger commented on #592
Thanks so much for the guidance! This approach looks good for the case of copying a query to a file. As a reminder to myself, in addition to subqueries we'll want just table names with columns in parens.

[2016-10-11 16:34] cmoon2000 opened #594 "Cannot run pgcli on windows 10"
When I cannot run pgcli.
When I use command `pgclic --help`. It shows me that
**failed to create process**

[2016-10-13 14:17] kosciej16 commented on #431
@amjith There is a problem with ids now, I can't just copy id and paste it to another query. Is there a clear way to disable 'humanize numbers' feature? I found that change **dcmlfmt** to empy string in **tabulate.py** works, but i guess there should be better way to achieve this.

[2016-10-13 16:06] foxyterkel commented on #431
@kosciej16 in main directory of the project there is pgclirc file where you can define default dcmlfmt.

[2016-10-13 16:25] amjith commented on #431
@kosciej16 As mentioned by @foxyterkel you can set the format in your config file. The config file is usually located in your `~/.config/pgcli/config`.

If you don't have the following lines add them in and set the format to empty string:

https://github.com/dbcli/pgcli/blob/master/pgcli/pgclirc#L134

[2016-10-14 15:59] lelit opened #595 "Problem with Python 3.6.0b2"
Hi all,

this is just an alert, because I think the culprit is Python, not pgcli. Nevertheless, digging into the problem I found what seems an _innocent_ glitch, read below.

I quote here a [message](https://mail.python.org/pipermail/python-list/2016-October/715462.html) I just sent to the Python user list:

That said, I think the mentioned `_compile_regex()` should call the `sub()` method on the

[2016-10-14 17:52] lelit commented on #595
The mentioned thread clarified the issue: Python 3.6+ makes a shift toward rejecting _unknown_ escaped chars.

The simplest fix is to use a _raw string_ for the replacement above, containing **two** backslashes. The line should then be something like
[code]

I tested it on Python 2.7, 3.5 and 3.6.0b2 and verified that it works flawlessly:
[code]

[2016-10-15 04:33] amjith commented on #595
Awesome! Thank you for following up on this and staying on the forefront of the bleeding edge.

Would you mind opening a PR with the changes you recommended?

[2016-10-15 09:51] lelit commented on #595
Amjith Ramanujam <notifications@github.com> writes:

Yes, sure!

[2016-10-16 17:41] #595 closed

[2016-10-17 15:28] darikg opened #597 "better handling of non-reserved keywords?"
I've been working in a database that uses the word 'session' as a column name everywhere. It's pretty annoying that pgcli wants to escape it as `"session"` in suggestions, and even more annoying that suggestions will break if it's used without being escaped earlier. E.g.
`select * from sessions where session = 1 and`
 fails to suggest columns as it should. According to [the postgresql docs](https:

[2016-10-17 17:50] darikg commented on #597
Ahh, I think the solution is much less complicated than I was making it out to be here

[2016-10-18 06:21] msztolcman opened #600 ""connection already closed""
When I leave pgcli running for a few hours, but without any actions/queries, it disconnect silently from server and cannot connect again. I observed it only after putting laptop in sleep mode, in other case I didn't leave computer not used for so long time :)

After wake up, I go to pgcli, and there:

I must exit from pgcli and run it again, then everything works OK.

[2016-10-21 01:40] amjith commented on #70
Sorry about the delayed response. I've run into issues with psycopg2 when I generated an rpm with the fpm package.

Something about the python-dev package and not having the right requirement for it.

[2016-10-22 08:23] lelit opened #603 "\i raises a TypeError"
With Python 3.6b2, I got the following immediately after entering `\i` followed by a space:

[code]

I cannot investigate further right now, but I will try to narrow the case.

[2016-10-22 22:56] j-bennet commented on #603
Hmm, I can't even get this far. For me, running in 3.6 breaks when importing sqlparse.

[code]

What version of sqlparse do you have installed @lelit ? (so I can maybe move past sqlparse and look at your issue).

[2016-10-23 07:35] lelit commented on #603
I'm using Python 3.6b2 and sqlparse 0.2.1.

sqlparse 0.2.2, just released, requires current tip version of Python, due to https://github.com/andialbrecht/sqlparse/issues/286, the fix of which has been reverted in latest sqlparse.

Thank you for looking!

[2016-10-24 14:14] Gollum999 opened #604 "Option to see all column names during autocomplete"
One thing that I miss from the official PSQL client is that, if I am mid-query and I forget the column names for the current table, (e.g. right after typing **WHERE**,) I can double-tab TAB to see all possibilities listed out.

Unfortunately, the pgcli autocomplete popup lists not only column names, but function names and keywords as well.  On a production database with hundreds of functions defin

[2016-10-24 14:20] amjith commented on #604
@Gollum999 Can you tell me what version of pgcli you're using?

You should see all the columns listed before we move on to listing functions. I know this was temporarily broken in version 1.0.0 but we've fixed it in the latest version. Can you try the newer version and let us know if the problem still persists?

You can upgrade using `pip install -U pgcli`

[2016-10-24 15:26] Gollum999 commented on #604
@amjith I am currently on version 1.1.0.  I'm having SSL issues while trying to upgrade; I'll let you know when I get it working and am able to test.

I like the idea to list columns before functions; that sounds much better than my suggestion.

[2016-10-24 15:38] Gollum999 commented on #604
Got it working.  Yes, this is fixed in version 1.2.0.

Thanks for the help!  Really excited to see that this is already available.  I'll close this issue.

[2016-10-24 15:38] #604 closed

[2016-10-26 12:56] lelit opened #605 "Completion raises an error with sqlparse 0.2.2"
Recently released version 0.2.2 of sqlparse [changed](https://github.com/andialbrecht/sqlparse/blob/0.2.2/CHANGELOG#L19) two methods of the `Token` class into properties, in particular `is_group()`, used [here](https://github.com/dbcli/pgcli/blob/master/pgcli/packages/parseutils/tables.py#L17), so the following happens:

[code]

[2016-10-26 14:59] darikg commented on #605
Thanks for the heads up. I can fix that but it looks like a couple more things broke... Looking into it now

[2016-10-30 22:30] j-bennet commented on #603
Finally got through that hurdle. Surprisingly, `\i` works fine:

[code]

Here is how my `pip freeze` looks. See if anything is different with yours:

[code]

[2016-10-30 23:09] lelit commented on #603
Very strange indeed! I just created a new virtualenv using exactly your pinnings, and a space after `\i` immediately triggers the problem.
I will try to investigate further on my part and let you know.
BTW, do you know if there is some trick to debug the tool with `pdb`? When entering an interactive debug session, there seems to be a fight between the `pgcli` input routines and `pdb` ones, contend

[2016-10-30 23:21] lelit commented on #603
Inserting a `print(matches)` when the exception happens in pgcompleter.py, I see the following:
[code]
so effectively the `priority` is `None`, and that's what triggers the problem in the expression `sorted(matches, key=operator.attrgetter('priority'), reverse=True)`

[2016-10-31 03:42] j-bennet commented on #603
@lelit That's something! For debugging, I usually do it on a checkout of pgcli code. Then inserting `import ipdb; ipdb.set_trace()` works just fine. If you feel like exploring it by yourself, PRs are always welcome! To me, this looks like a culprit:

https://github.com/dbcli/pgcli/blob/master/pgcli/pgcompleter.py#L640

it actually yields matches with `None`. I have no idea how this does not break

[2016-10-31 04:24] j-bennet commented on #603
For the record, here is the difference between python 2.7 and 3.6 when sorting `None`.

2.7:

[code]

3.6:

[code]

[2016-10-31 08:29] lelit commented on #603
Yes, that seems the culprit. Replacing that line with `yield Match(completion=c, priority=0)` fixes the issue.
The [previous version](https://github.com/dbcli/pgcli/commit/f83044f2f0f30e872471c63eca4844511ca7ae93#diff-36fcb873925169e72e8c5ca4e8a8a581L385) of that code used the underlying `find_matches()` to actually build the result, and that always (not checked all the code paths, but seems so) i

[2016-10-31 08:44] lelit commented on #603
Also [this line](https://github.com/dbcli/pgcli/blob/master/pgcli/pgcompleter.py#L412) is suspicious: in general, under Python 3 you cannot compare different types, so even that case may generate the error
[code]

[2016-10-31 16:59] j-bennet commented on #603
Yes, I think we should always make priority a tuple. In this case, `(0,)`

[2016-10-31 17:09] lelit commented on #603
Ok, working on a PR right now.

[2016-10-31 17:11] j-bennet commented on #603
🍫

[2016-11-01 22:29] j-bennet commented on #603
https://github.com/dbcli/pgcli/issues/603 was merged.

[2016-11-04 03:53] ervoiox opened #609 "\dT+ not printing correctly"
Hi,

If you create a custom type, and enter the command `\dT+ invoice_type` for example, the printed output from pgcli looks like the following:

[code]

on psql, it looks like this:

[code]

Extended mode also does not look quite right:

[code]

vs

[code]

I am on pgcli 1.3.1, postgres server 9.5.4, psql 9.5.5.

[2016-11-04 09:28] darikg commented on #609
It's #446 -- the tabulate library doesn't handle newlines properly. It'd definitely be nice to fix

[2016-11-06 23:35] j-bennet commented on #327
This was released in 5.0: https://github.com/pallets/click/commit/349875d795837a8ca1173621001bb585e1640207.

[2016-11-10 16:03] CodeMonkeyMike opened #610 "Using an external editor other than Vim"
Is it possible to use an editor other than vim as the external editor, the one which is opened with the \e command. I would like to use NeoVim without having to mess with Vim which is installed on my system, the command which I use to launch NeoVim is "nvim"

[2016-11-10 17:24] amjith commented on #610
The default editor is controlled by the `$EDITOR` variable in your shell. So if you set you`$EDITOR` to `nvim` then the `\e` will respect that setting and launch the appropriate editor for you.

[2016-11-10 18:21] CodeMonkeyMike commented on #610
Thank you

[2016-11-10 18:21] #610 closed

[2016-11-10 22:52] LiraNuna opened #611 "No way to customize prompt"
mycli supports `-R` or `--prompt` were pgcli does not.

[2016-11-10 23:42] j-bennet commented on #611
That would be a nice feature to add. In the meantime, you can customize prompt in pgcli config file (`~/.config/pgcli/config`).

[2016-11-20 07:26] LiraNuna commented on #611
@j-bennet That PR is awesome! Thank you!

[2016-11-20 07:26] #611 closed

[2016-11-21 22:42] danielyli opened #615 "Feature suggestion: Auto-capitalization of key words"
I find SQL keywords in all caps to be easier to read than when lowercased (even with pgcli's syntax coloring).  Would it be difficult to add an auto-capitalization feature, so that when `select ` is typed, it's replaced with `SELECT `?

[2016-11-21 22:56] j-bennet commented on #615
There are config settings for that already:

https://github.com/dbcli/pgcli/blob/9584c82a354c5ef6fe94080447c5f506a3376c16/pgcli/pgclirc#L34-L45

[2016-11-21 23:03] danielyli commented on #615
Oh, wonderful! Thank you.

[2016-11-21 23:04] amjith commented on #615
The config file is located at `~/.config/pgcli/config`

[2016-11-21 23:08] danielyli commented on #615
@amjith Thank you.

[2016-11-21 23:17] danielyli commented on #615
@j-bennet I've added the lines you referenced into my `~/.config/pgcli/config` file, but pgcli isn't auto-capping keywords.  What am I missing?

[2016-11-21 23:19] amjith commented on #615
@danielyli This is a new feature that was added recently. Can you try upgrading?

[code]

[2016-11-21 23:23] danielyli commented on #615
I'm using Homebrew to manage my packages, and it still has pgcli at 1.1.0.  Who normally updates the Homebrew formulas?  Can we ask her to update?

[2016-11-21 23:46] j-bennet commented on #615
@amjith did it before, but I'll see if I can help out.

[2016-11-22 00:15] danielyli commented on #615
@j-bennet Thank you!

[2016-11-22 00:16] danielyli commented on #615
@j-bennet I took a look at the formula myself to see if I could update it.  I don't know the library dependencies well enough to do it with any assurance that I won't break anything.

Thank you!

[2016-11-22 01:05] j-bennet commented on #615
For myself and others, instructions from @amjith (awesome as always) about how to create that formula:

[2016-11-22 05:17] argentum47 opened #616 "Can't connect to postgres database."
Either its my mistake or lack of docs. I installed with pip `pip install --user pgcli`. Added the `~/Python2.7/lib/python/site-packages` to `PATH`.

This is how I normally connect:
[code]

I did this: (but none worked)

[code]

[2016-11-22 20:26] j-bennet commented on #615
Opened a PR in homebrew-core to update pgcli to 1.3.1:

https://github.com/Homebrew/homebrew-core/pull/7163

[2016-11-22 20:54] amjith commented on #616
Looks like pgcli is not executable.

Can you run ```ls -l `which pgcli` ```? That should tell you if the executable permissions are set correctly. If it is not, I'd recommend reinstalling pgcli.

`pip uninstall pgcli && pip install -U pgcli`

[2016-11-22 22:49] j-bennet commented on #615
Homebrew PR was merged, pgcli 1.3.1 now available.

[2016-11-22 23:51] danielyli commented on #615
@j-bennet Thank you!!

I'm using v1.3.1 now with the `keyword_casing = upper` setting, but that only affects the casing of tab-completed keywords, not regularly typed words.  I must not have been clear from the start; my apologies.  Let me explain what I originally suggested as a feature:

In the pgcli prompt, it would be great to have pgcli automatically correct the casing of keywords, without ha

[2016-11-23 00:37] j-bennet commented on #615
Hmm, I see. Not sure how feasible this is, but reopened the issue to look again later.

[2016-11-23 05:52] amjith commented on #615
@danielyli That is a dangerous precedent that we'd like to avoid. If a user chooses an entry from the menu by using the up/down arrow or tab key then it is a choice made by the user. But if we go in and modify what the user has typed in, it can lead to undesired behavior. For example, I've seen table named `session` which is a reserved keyword in postgres. If we took this approach of auto-capitali

[2016-11-23 06:35] danielyli commented on #615
@amjith I thought pgcli knows the context of words typed on the command line?  For example, if I create a table named `session`, I get the following in the auto-complete menu when typing a SELECT statement:

                            "session"                                 table
                            session_user()                            function
                            pg_replic

[2016-11-24 06:23] amjith commented on #615
It does know the context for the most part. It works great for nearly 90% of inputs (probably more). But writing auto-completers is hard since we're working with partial statements. So the syntax is not fully formed which makes it hard to compensate for parser shortcomings. I guess what I'm saying is when the sql statement gets complicated it can cause unexpected behavior.

So we can't rely on the

[2016-11-24 06:34] j-bennet commented on #615
I think @amjith is right. Currently, it's only pgcli completer that has to know where it is in the query and make intelligent guesses. But even so, the completer leaves the final choice to the user. It can't be 100% sure what user wants at this point in query. The formatter won't have this opportunity for the user to go back and correct the formatting. There's less room to be unsure. We're pretty

[2016-11-24 07:57] danielyli commented on #615
That makes sense.  I can see how such a feature would hurt more than help.  @amjith, thanks for the comprehensive explanation!

[2016-11-26 18:34] MrOutis opened #617 "Numeric output is not showed correctly"
I'm using `pgcli` version: 1.3.1

This is the output using `pgcli`:
![1480184973](https://cloud.githubusercontent.com/assets/7363250/20642431/2cf60846-b3d4-11e6-9f0e-cf58c174da7b.png)

And the output for the same query, using `psql`:
![1480184890](https://cloud.githubusercontent.com/assets/7363250/20642430/289aee7e-b3d4-11e6-8b1d-ffa81e8990fd.png)

------------------------

This is a better test t

[2016-11-26 18:44] MrOutis commented on #617
I didn't found any relevant commit that could change that behaivour, just this one: https://github.com/dbcli/pgcli/pull/591

[2016-11-30 15:19] levinotik opened #618 "`\!` escape to execute shell command does not work"
When trying to use `\!` to execute a shell command, it results in an error. For example:

[code]

[2016-12-03 20:25] amjith commented on #618
Yes. This would definitely be nice to have. Thanks for the request.

[2016-12-06 16:58] j-bennet commented on #617
Formatting in `pgcli` is done by `tabulate`. `pgcli` keeps its own slightly tweaked version of tabulate [here](https://github.com/dbcli/pgcli/blob/master/pgcli/packages/tabulate.py). Tabulate tries to be smart about formatting numbers.

[code]

[2016-12-06 18:44] MrOutis commented on #617
Thank you, @j-bennet, I'll give it a check.

[2016-12-06 18:47] j-bennet commented on #617
I'm not sure what the good solution is here, have to think about it. In a lot of cases, "simplifying" numbers like tabulate does is a good thing, but not when you explicitly format it to certain precision.

[2016-12-06 19:42] MrOutis commented on #617
Maybe putting an option in the configuration file to turn off _numeric_simplification_.

[2016-12-06 19:46] MrOutis commented on #617
Also, it would be nice to have a bullet about this simplification in the [features section](https://github.com/dbcli/pgcli#features).

[2016-12-08 02:16] amosbird opened #623 "copy (select 1) to stdout blocks."
`copy (select 1) to stdout` works fine in psql while blocking in pgcli.

Version: 1.3.1

[2016-12-09 03:40] j-bennet commented on #623
In pgcli, copy is implemented as a "special command" (part of [pgspecial](https://github.com/dbcli/pgspecial)). This will work:

[code]

[2016-12-10 04:32] amjith commented on #623
Actually there is a subtle difference between `\copy` and `copy`. `\copy` runs on the client filesystem whereas `copy` statement runs on the server. The difference is only apparent if you're running your server elsewhere and trying to connect from your local machine.

[2016-12-12 23:09] j-bennet commented on #618
Additionally, if the user executes a special command that we don't support, it would be good to handle that gracefully ("This special command is not supported in pgcli yet."). What do you think @amjith?

[2016-12-15 07:50] ervoiox opened #625 "Multiple check constraints not displayed on new lines"
Hi,

When displaying a table with multiple check constraints, it prints it all on a single line:

- command: `\d subscription_plans`
- pgcli version: 1.3.1
- psql version: 9.5.5

### pgcli:

[code]

### psql:

[code]

[2016-12-15 17:44] amjith opened #626 "Add a command line option for --less-chatty"
This should suppress the startup message when supplied.

[2016-12-19 18:04] msztolcman opened #627 "update pgspecial to use parametrized named queries"
Few months ago I added to pgspecial new feature: parametrized named queries. It would be nice to have this feature enabled in pgcli.

[2016-12-19 18:13] j-bennet commented on #627
Noted. I'll release new version of pgspecial for that.

[2016-12-19 18:18] msztolcman commented on #627
@j-bennet Thanks!

[2016-12-21 04:35] j-bennet commented on #627
pgspecial 1.7.0 is now released to pypi: https://github.com/dbcli/pgspecial/pull/27. There's been a few PR merges after pgcli 1.3.1, and I think pgcli will be ready for another release after #624 is merged.

[2016-12-24 22:32] Julian commented on #140
+1 on this, we run nothing but PyPy (and have been running psycopg2cffi in prod directly for awhile with no issue) so would be great to be able to use pgcli.

[2017-01-02 11:20] ohYesOhNo opened #628 "UnicodeEncodeError: 'charmap' codec can't encode character '\u2026' in position 997: character maps to <undefined>"
Executing this SQL:

select * from trunk.str where str_name = 'abc'

Gives me this callstack (seems like an encoding issue):

Traceback (most recent call last):
  File "C:\Programs\Python\Scripts\pgcli-script.py", line 9, in <module>
    load_entry_point('pgcli==1.1.0', 'console_scripts', 'pgcli')()
  File "c:\programs\python\lib\site-packages\click\core.py", line 716, in __call__
    return self.

[2017-01-02 20:33] j-bennet commented on #628
@darikg Looks like a Windows issue to me. Would you be able to take a look (I don't run Windows)?

[2017-01-03 19:46] tcaruso42 commented on #603
Hi,

I'm getting this same error using pgcli 1.3.1 on python 3.4.3. immediately after typing `\i ` I get:

[code]

Was this fix officially released, or would I need to install from the github master?

Thanks,

Tom

[2017-01-03 20:58] j-bennet commented on #603
There was no release after that merge. I'm planning a new release after https://github.com/dbcli/pgcli/pull/624 is merged, but for now, install from master.

[2017-01-03 21:44] amjith commented on #603
You can install from master using this command:

[code]

[2017-01-04 00:08] darikg commented on #628
hi @ohYesOhNo what version of windows are you using? 32 or 64 bit? What console, cmd.exe or something else? And how did you install pgcli?

If you're using cmd.exe, it might be worth trying instead something like [cmder](http://cmder.net/)

[2017-01-04 10:57] ohYesOhNo commented on #628
This is on Windows 10 64bit; I see the same error with either ConEmu (https://conemu.github.io/) or with vanilla cmd; the Python version is 3.5.2, and I think I installed pgcli through 'pip install pgcli'.

[2017-01-04 17:07] darikg commented on #628
I don't have Windows 10 handy to test this, but on Windows 7 I've had problems with the default system pager `more.exe` which apparently tries to guess text encodings. Do you have a different pager handy? I have `less.exe` which came with Git for windows. For me that looks like this:

[code]

You can see that the `more` pager makes a bizarre encoding error. I wonder a similar thing is happening to

[2017-01-05 09:36] ohYesOhNo commented on #628
Here's what I did instead, because '\pager' doesn't do anything on my system:

1/ Created test.txt with '… … …' (these are the \u2026 characters that happened in the error)

2/ cat test.txt | less – prints '… … …' – ok

3/ cat test.txt | more – prints 'ÔÇŽ ÔÇŽ ÔÇŽ' – weird

(I also have the less/more that came with Git for Windows)

[2017-01-05 17:54] ohYesOhNo commented on #628
I updated my pgcli to 1.3.1 and now I can do '\pager less' and it confirms that 'PAGER set to less'. However, strangely, the original issue still persists.

[2017-01-05 23:29] darikg commented on #628
Ok, thanks for trying that. I can reproduce the problem on my end now:

[code]

I'll try to poke around in click and see if I can reduce it further.

[2017-01-05 23:36] darikg commented on #628
Actually it's got nothing to do with click at all:

[code]
Can you try this minimal example on your machine?

[2017-01-06 10:01] ohYesOhNo commented on #628
This produces exactly the same output on my end as well.

[2017-01-06 13:54] darikg commented on #628
Are you able to upgrade to Python 3.6? It fixed the issue for me. According to [this](http://stackoverflow.com/a/32176732), 3.6 changed how unicode is handled on windows. To install pgcli, I used the psycopg2 binaries from [here](http://www.stickpeople.com/projects/python/win-psycopg/). If it's not possible or preferable to upgrade, it looks like you can install [win-unicode-console](https://githu

[2017-01-06 17:46] amjith opened #629 "The data-formats should default to none"
Right now the data-formats in the config file default to `,g` and `,d` for float and int. This makes it hard to copy and paste.

We should default this to none.

[2017-01-07 11:53] #629 closed

[2017-01-08 14:27] ohYesOhNo commented on #628
I upgraded to Python 3.6 and here's the status:

- `python -c "print('…')"` now correctly outputs '…'
- With '…' in test.txt, `cat test.txt | more` outputs '╗┐ÔÇŽ'
- With '…' in test.txt, `cat test.txt | less` correctly outputs '…'
- In pgcli with the default pager, `select '…'` outputs 'ÔÇŽ'
- In pgcli with `\pager less`, `select '…'` correctly outputs '…'

So the issue seem to be related to `mor

[2017-01-09 15:52] darikg commented on #628
Thanks for the summary!

[2017-01-09 15:52] #628 closed

[2017-01-12 06:24] j-bennet commented on #603
Fixed in 1.4.0.

[2017-01-12 06:24] #603 closed

[2017-01-12 06:27] j-bennet commented on #605
Fixed in 1.3.1.

[2017-01-12 06:27] #605 closed

[2017-01-19 23:09] #584 closed

[2017-01-22 20:42] sryze opened #634 "When I type non-ASCII characters they appear as question marks"
When I try to do an insert or other query with some string written in Russian pgcli displays each character as a `?` as I type it or after pasting from the clipboard, but the same query is rendered correctly inside psql.

I'm using WIndows 10 and pgcli 1.4.0 (installed via pip).

[2017-01-22 21:44] j-bennet commented on #634
@sryze What terminal are you using? Are you able to type in Russian in your terminal outside of pgcli? (for example, `echo "русский"`).

[2017-01-26 07:43] mathieurodic opened #635 "High CPU usage"
The `/usr/bin/python3 /usr/bin/pgcli postgresql://xxxxx` process uses 100% of one of my CPUs, whether I'm typing commands or not.

Maybe all that energy is not required just to maintain a connection to a Postres server?

[2017-01-26 17:57] sryze commented on #634
Yes, I can type in Russian outside of pgcli. I'm using ConEmu (tried various shells there with no luck).

[2017-01-26 17:59] darikg commented on #634
What version of python are you using? If you're not using 3.6, can you try that? It recently improved unicode handling in Windows.

[2017-01-26 21:39] j-bennet commented on #635
Definitely doesn't sound normal. What's your hardware and OS?

[2017-01-26 22:23] amjith commented on #635
@mathieurodic That's surprising.

Here are the possible reasons that could contribute to this:

1. We collect metadata about a database by running a couple of SQL commands. The results are then used to populate a few data-structures in pgcli. This runs in a background thread when you launch pgcli or when you change to a new database. If the database has a lot of tables and columns (say 1000s of ta

[2017-01-27 08:40] mathieurodic commented on #635
@j-bennet I'm using Xubuntu 16.04, on an Intel i7 processor with 8GB RAM.

@amjith After more careful examination, the two processes that were each constantly using 100% CPU were both running as background processes, not related in any way to the CLI I was using at that time. As if something was left running after quitting the process.

The databases I'm using are development versions for microser

[2017-01-27 16:58] j-bennet commented on #635
One thing I can think of is completion refresher thread. It runs in the background and refreshes tables / column names and query history. I'm not sure how to verify that; I'll poke around.

[2017-01-29 17:56] sryze commented on #634
Indeed it does work with Python 3.6.

[2017-01-29 17:56] #634 closed

[2017-02-02 09:52] cristoforo opened #636 "Crazy behavior: "v" key results in new line 😕"
I'm using pgcli 1.4.0 on Windows 10

Everything works fine, I can connect to my Postgres DB, but **when I type the "v" letter I get a new line/carriage return, the same as if I press "Enter"** !!?!

Please note that:
- same happens if I just past the "v" letter inside pgcli
- capital "V" works fine!!

Already tried with no success:
- run pgcli under cmd, Powershell, git bash, Windows 10 bash: "v"

[2017-02-02 14:07] azinoviev commented on #636
Same here. On macOS typing "v" letter makes pgcli 1.4.0 open vim, just like \e, but without "# Type your query above this line." line.

[2017-02-02 14:35] azinoviev commented on #636
This bug is somewhere in prompt_toolkit 1.0.10. @cristoforo you can do "pip install prompt_toolkit==1.0.9" to avoid "v" bug.

[2017-02-02 14:45] amjith commented on #636
@azinoviev Thanks for digging into that. I just reproduced the same bug with the latest prompt_toolkit. I'll file a bug with prompt_toolkit. In the meantime, your workaround is the best way to get around this issue.

[2017-02-02 14:47] cristoforo commented on #636
@azinoviev Thank you very much, your workaround solves the issue!

[2017-02-02 14:48] amjith commented on #636
Bug filed: https://github.com/jonathanslenders/python-prompt-toolkit/issues/460

[2017-02-02 15:37] LionelR opened #637 "Messages in real time"
pgcli doesn't report server messages synchronously, and report all of them in one pass which can be not relevant when we need to follow a function execution with many RAISE statements.
As an example
[code]
In psql, the messages of this function will be displayed as they come, but not in pgcli.

[2017-02-02 18:58] jonathanslenders commented on #636
Hi everyone, the bug should now be fix. Try upgrading to ``prompt_toolkit==1.0.11``.
Please let me know if you still experience any issues.
And excuse me for the inconvenience.

[2017-02-03 00:44] amjith commented on #636
Thanks @jonathanslenders. That fixed the issue for me.

[2017-02-03 11:48] evanslify commented on #617
Just spend a couple of hours trying to figure out why values become rounded. This option (or at least explicitly written on README.md) could be helpful!

[2017-02-10 04:43] amjith commented on #637
You're right. This is a shortcoming of pgcli. The library used by pgcli to fetch the messages from Postgres doesn't happen synchronously. It happens after the query has finished execution.

I'm not sure if there is a better way to implement this. 😞

[2017-02-17 22:31] blandonfrank opened #640 "issues when the database password contains "!""
When the database password contains "!" the connection won't work. I tried escaping it, without any success.
`$ pgcli postgres://tester:test123!@localhost:5432/test`
`-bash: !@localhost: event not found`

[2017-02-17 22:42] #640 closed

[2017-02-17 22:49] j-bennet commented on #640
@blandonfrank Did you find a way to resolve this?

[2017-02-18 11:59] msztolcman commented on #640
It's bash issue (in fact, it's feature - ! has special meaning in bash), not pgcli. Just put dsn into single quotes, and it will work.

[2017-02-18 15:52] blandonfrank commented on #640
You're completely right. I figured that out right after opening the issue. Hence I closed it right away.

[2017-02-18 15:57] blandonfrank commented on #640
Also, it turns out that I was escaping it incorrectly.  Using "\" to escape it works just fine. Not sure why it didn't work for me at first.
`pgcli postgres://tester:test123\!@localhost:5432/test`

Anyway, this is a non-issue.

[2017-02-18 16:14] blandonfrank commented on #593
name is a postgresql function/type. Hence it gets highlighted. I don't think this is an issue.

[2017-02-18 16:53] j-bennet commented on #640
Thanks, good to know!

[2017-02-28 13:17] relistan opened #643 "pgcli doesn't reconnect on SSL SYSCALL error: EOF detected"
The ability to reconnect was added in #210  but it doesn't seem to reconnect when `SSL SYSCALL error: EOF detected` is received.

[code]

[2017-02-28 13:58] amjith commented on #643
@relistan Good to hear from you. 😄

Sorry about the error. Would you be able to give me a repro case for this? I can't trigger a `SSL SYSCALL error`.

[2017-02-28 14:08] amjith commented on #643
I'm able to semi-reproduce it.

1. I launched pgcli and then killed postgres.
2. Tried a command in pgcli.
3. Pgcli asks me if I'd like to reconnect.
4. I say 'Yes'. But reconnect fails since postgres is still not running.
5. Now I launch postgres and try a different command in pgcli.
6. Pgcli returns `connection already closed`.

Is this what you see? Or do you not get a prompt to reconnect when

[2017-02-28 14:38] relistan commented on #643
Hey man! Good to hear from you, too 😃 . It seems to be when the network connection goes away under it. Yes, what you describe is what I see except it never asks to reconnect. I was on 1.3.1 which is the latest that `brew update` can find. But I removed it with brew and was able to `pip install` 1.4.0.

Using 1.4.0 I still don't get a request to reconnect. What I see is:
[code]

[2017-02-28 14:48] relistan commented on #643
Looks like on Linux I can reproduce by connecting, inserting an IPtables rule to block outbound packets, running a query, then removing the IPtables rule:

[code]

[2017-03-01 04:35] amjith commented on #643
Thanks Karl. I'll take a stab at this tonight. I appreciate the commands to repro this case. :)

[2017-03-03 10:13] orf opened #646 "set_session cannot be used inside a transaction"
Just freshly installed `pgcli` and upon trying to connect to my local postgres database I get:

   orf@mean-lean-dev-machine:~|⇒  pgcli -d doge doge -U doge
   set_session cannot be used inside a transaction

Does this mean anything?

[2017-03-03 13:18] mafrosis commented on #646
Same here too. Cannot connect, only message is the following (which returns nothing on Google search)..

    set_session cannot be used inside a transaction

[2017-03-03 13:46] amjith commented on #646
I'm able to reproduce it. Looks like it is caused by the latest version of `psycopg2`. I'll try to find out why this is happening, but in the mean time you can install an older version of psycopg2 and continue using pgcli. Here's how you can install an older version of psycopg2.

[code]

[2017-03-03 14:06] mafrosis commented on #646
Thanks for quick response @amjith

[2017-03-03 14:07] amjith commented on #646
I found the issue. I've created a PR #647. We'll get that merged in soon and release a new version. Sorry about the trouble.

[2017-03-03 18:26] #646 closed

[2017-03-03 19:11] amjith commented on #643
I have fixed this in a PR #644. Once that gets merged we'll start a new release.

[2017-03-03 19:27] relistan commented on #643
Awesome, @amjith! That was quick!

[2017-03-05 00:16] koljonen commented on #637
Closing as a duplicate of #430. I definitely agree it would be nice if we could do something about this, though.

[2017-03-05 00:16] #637 closed

[2017-03-06 09:27] RazerM opened #650 "Completion for materialized views."
pgcli does not suggest/complete the following:

[code]

[2017-03-06 16:03] koljonen opened #651 "Decode error for non-ASCII of certain types in expanded mode"
I've tried to debug this but haven't really gotten anywhere, so I'm hoping someone else has a better understanding of these things. It crashes in [expanded.py](https://github.com/dbcli/pgcli/blob/2fb030b72ac4cf1cfe8e1d6a875fb8393b82674e/pgcli/packages/expanded.py#L16) in the call to `_text_type()`.
[code]
[code]

This is on Python 2.7.12 on Mac OS, on the latest master of pgcli.

[2017-03-06 20:11] roehst opened #652 ""set_session cannot be used inside a transaction" after installing SQLAlchemy"
Hi, I used pgcli for a couple months, presumably on top of psycopg2. I installed SQLAlchemy and now pgcli won't even start, and will stop with the following message:

"set_session cannot be used inside a transaction"

What info can I give to help debugging?

Thanks

[2017-03-06 20:52] j-bennet commented on #652
What OS are you on?
Can you provide `pip freeze` output?
Are you running `pgcli` in virtualenv?

[2017-03-06 20:54] roehst commented on #652
OS: Linux 4.9.11-1-ARCH x86_64 GNU/Linux

Not using virtualenv.

Python version 3.6.0

pip3 freeze

[code]

[2017-03-06 20:59] amjith commented on #652
Hi. It is fixed in master. Haven't released it yet. You can install directly from master:

[code]

If you're not comfortable installing directly from master you can downgrade the psycopg2 version to 2.6.2. It's an issue with the latest pscyopg2.

[2017-03-06 23:17] amjith commented on #651
I'm on it.

[2017-03-07 01:43] j-bennet commented on #587
Fixed in 1.5.0.

[2017-03-07 01:43] #587 closed

[2017-03-07 01:44] j-bennet commented on #298
Available in 1.5.0.

[2017-03-07 01:44] #298 closed

[2017-03-07 01:48] j-bennet commented on #652
Fixed by https://github.com/dbcli/pgcli/pull/647.

Available in 1.5.0.

[2017-03-07 01:48] #652 closed

[2017-03-07 01:49] j-bennet commented on #643
Fixed in 1.5.0.

[2017-03-07 01:49] #643 closed

[2017-03-07 01:51] #636 closed

[2017-03-07 01:51] j-bennet commented on #627
Available in 1.5.0.

[2017-03-07 01:51] #627 closed

[2017-03-07 02:28] amjith commented on #600
This is now fixed in pgcli 1.5. Can you upgrade and try again?

[code]

[2017-03-07 02:28] #600 closed

[2017-03-07 02:29] amjith commented on #575
This has been fixed for a while. Closing.

[2017-03-07 02:29] #575 closed

[2017-03-07 02:55] amjith commented on #569
This was implemented a while back and now available in pgcli version 1.4 and above. Please upgrade.

`pip install -U pgcli`

[2017-03-07 02:55] #569 closed

[2017-03-07 03:25] amjith commented on #560
Released in version 1.4. Please upgrade.

[code]

[2017-03-07 03:25] #560 closed

[2017-03-07 03:26] amjith commented on #109
Let's face the facts. This is probably not going to happen.

[2017-03-07 03:26] #109 closed

[2017-03-07 03:28] #327 closed

[2017-03-07 03:57] j-bennet commented on #109
Since Microsoft released Bash for Windows, I'd rather advise people to try that.

[2017-03-07 05:06] j-bennet commented on #593
I agree with @blandonfrank here.

[2017-03-07 05:06] #593 closed

[2017-03-07 05:14] j-bennet commented on #597
Looks like this was fixed a while ago.

[2017-03-07 05:14] #597 closed

[2017-03-07 05:20] #615 closed

[2017-03-07 05:33] j-bennet commented on #616
It's been a while with this issue and no update. I'm going to close it. Feel free to reopen if you're still experiencing it @argentum47 .

[2017-03-07 05:33] #616 closed

[2017-03-07 09:45] relistan commented on #643
Thanks @amjith @j-bennet !

[2017-03-07 14:02] #651 closed

[2017-03-08 06:27] msztolcman opened #657 "port shouldn't be required for DSN's in alias_dsn section"
Currently dsn in form:

    somename = postgresql://postgres:password@host/eden

is invalid, after running pgcli `pgcli -D somename` it prints:

    invalid port number: "None"

It should be required (wasn't in previous versions). I didn't verified other fields.

[2017-03-08 06:56] j-bennet commented on #657
Looks like this is also caused by latest psycopg2. See if this fixes it:

`pip install psycopg2==2.6.2`

[2017-03-08 06:58] j-bennet commented on #657
Aha. Found it. https://github.com/psycopg/psycopg2/issues/524

[2017-03-08 08:00] msztolcman commented on #657
Yep, after downgrading psycopg it's better now, thanks :)

[2017-03-08 09:30] nogo opened #658 "Issue with dockered postgresql"
I use postgres in a docker environment for development. When I try to connect with pgcli I'm getting "set_session cannot be used inside a transaction". Any hint how to solve the problem. Normal "psql" work fine.

[2017-03-08 13:28] amjith commented on #658
This is now fixed in the latest version. Please upgrade to 1.5.

On Mar 8, 2017 1:30 AM, "Danilo Kühn" <notifications@github.com> wrote:

[2017-03-08 13:41] nogo commented on #658
Great its working, thanks.

[2017-03-08 13:41] #658 closed

[2017-03-08 17:02] amjith commented on #657
Sigh. We should fix this. ☹️

[2017-03-11 20:29] jontsai opened #662 "pset command missing"
`\pset format wrapped` works on `psql` but not `pgcli`

[2017-03-11 22:41] amjith commented on #662
@jontsai You're right we don't yet support that. In fact the only `\pset` that is supported is pager.

There are a couple of problems with the wrapped mode. First, we need to rewrite the output with newlines based on the terminal size, which sounds a bit complicated. Second, the tabulate library that we're using doesn't support multi-line values, so even if we manage to achieve the first goal the

[2017-03-11 23:13] #626 closed

[2017-03-13 13:03] jwhitmarsh opened #664 "set_session cannot be used inside a transaction in v1.5.0"
I've seen this raised and closed in #646, #652 and #658  but i'm experiencing this in v1.5.0 when using a service (which was working in 1.3.1):
`pgcli service=foo_db`

I've tried `pip install psycopg2==2.6.2` and this is returned:
`Requirement already satisfied: psycopg2==2.6.2 in /usr/local/lib/python2.7/site-packages`

[2017-03-13 16:24] j-bennet commented on #664
What else does your `pip freeze` show?

[2017-03-13 16:30] jwhitmarsh commented on #664
[code]

[2017-03-13 17:04] j-bennet commented on #664
It says `pgcli==1.2.0` in there though.

[2017-03-13 17:27] jwhitmarsh commented on #664
Huh. I must have installed it via pip initially, but i've been using brew since then. `pgcli -v` was definitely returning 1.5.0.

I've uninstalled it through pip now, and reinstalled via brew and it's the same:

<img width="690" alt="screen shot 2017-03-13 at 17 25 52" src="https://cloud.githubusercontent.com/assets/8026009/23866937/3ebb71fa-0812-11e7-830e-412e0f4f4bd7.png">

[2017-03-13 17:30] amjith commented on #664
Can you uninstall brew version of pgcli and reinstall it using pip?

[code]

Then try again?

Also what is the alias `pgs` set to?

[code]

[2017-03-13 18:04] j-bennet commented on #664
I think this will be the fix:

https://github.com/dbcli/pgcli/pull/665

Still confusing, because I don't get the exception with `psycopg2==2.6.2`. I only get the exception if `psucopg2` is updated to latest.

[2017-03-13 18:17] amjith commented on #664
Fix was just merged to master. Try installing directly from master:

[code]

[2017-03-14 14:04] jwhitmarsh commented on #664
Perfect, thanks so much for your help @j-bennet & @amjith!

[2017-03-14 14:04] #664 closed

[2017-03-15 20:30] amjith opened #668 "\e is not working on pgcli 1.5.0 installed via brew"
Conversation from gitter:

I'm unable to reproduce it since my brew setup is screwed up.

Steps to reproduce:

1. brew update && brew install pgcli
2. Launch pgcli
3. Type `select 1 \e`
4. Change the query to `select 2` in the editor.
5. Save and quit the editor.
6. Check to see if the prompt shows `select 2`.

[2017-03-15 21:22] jdpopkin commented on #668
I'm ignorant of these libraries and Python in general, so I crammed a bunch of printlns into `handle_editor_command` to try to figure out what's going on here.

    def handle_editor_command(self, cli, document):
        """
        Editor command is any query that is prefixed or suffixed
        by a '\e'. The reason for a while loop is because a user
        might edit a query multiple times.

[2017-03-15 21:40] jdpopkin commented on #668
Maybe it's jonathanslenders/python-prompt-toolkit@903018201e0b0f5ad4090c08879fa83f665413b3, which disables the `reset_current_buffer` parameter that pgcli sets to `False` here.

(Take this with a grain of salt, as I don't know anything about either of these libraries or Python in general.)

[2017-03-15 21:44] amjith commented on #668
Damn! That's some excellent code sleuthing for someone who doesn't know these libraries 😄. I might have time tonight to look into this when I get back from work.

[2017-03-19 19:49] amjith opened #672 ","
## Description

## Your environment

- [ ] Please provide your OS and version information.
- [ ] Please provide your CLI version.
- [ ] What is the output of ``pip freeze`` command.

[2017-03-20 01:23] jose2190 commented on #672
- MacOS 10.12.3
- Version: 1.5.1
- `pip freeze output`:
-- appdirs==1.4.3
-- click==6.7
-- configobj==5.0.6
-- humanize==0.5.1
-- packaging==16.8
-- pgcli==1.5.1
-- pgspecial==1.7.0
-- prompt-toolkit==1.0.13
-- psycopg2==2.7.1
-- Pygments==2.2.0
-- pyparsing==2.2.0
-- setproctitle==1.1.10
-- six==1.10.0
-- sqlparse==0.2.3
-- wcwidth==0.1.7

[2017-03-20 14:45] amjith commented on #672
@jose2190 I think you forgot to describe your issue. LOL.

You wanna tell us what problem you're having?

[2017-03-20 16:10] Flimm opened #674 "\list does not work and \l only has one column"
## Description

I expected `\list` to return a list of databases, instead it gives this error:

[code]

If I use `psql`, `\list` behaves like `\l`, it gives a list of databases with these column headers:

[code]

In pgcli, `\l` only has one column:

[code]

I think pgcli should be have like psql: both `\list` and `\l` should be supported, and it should output all the columns "name", "owner", "enco

[2017-03-20 16:11] amjith commented on #672
I'm confused by this issue. It says I created it but I don't remember creating it and there is a comment by @jose2190.

[2017-03-20 16:21] jose2190 commented on #672
Hahaha, i was think you opened this question for data analysis or something else.
I don't have any problem, pgcli is awesome!

[2017-03-20 16:27] amjith commented on #672
Haha. My bad. I'll close this issue.

Awww. Pgcli has the best users ever. 😃

[2017-03-20 16:27] #672 closed

[2017-03-20 16:28] amjith commented on #674
Oooh. This must be new behavior for psql. It used to show only one column. You're right we should try to duplicate this behavior in pgcli.

Thank you for the issue. 👍

[2017-03-20 16:34] j-bennet commented on #668
The fix is merged to master. To install from master:
`pip install -U https://github.com/dbcli/pgcli/archive/master.zip`

[2017-03-21 23:06] tejasmanohar opened #675 "KeyError in thread completion_refresh"
## Description
I get this error occasionally here and there. I ^C and things work again.
[code]

## Your environment

- [x] Please provide your OS and version information.
I see it on ubuntu test server and os x machine when connecting to different databases so I think this is irrelevant
-  pgcli -v
Version: 1.3.1
- `pip freeze`
https://gist.github.com/tejasmanohar/ba53787fa736c95e6e867833e08db804

[2017-03-26 21:24] j-bennet commented on #675
Hi @tejasmanohar , thanks for the problem report. Is there anything specific to your workflow when this exception happens
 (making a lot of schema changes for example)? Are you working with the local or remote server?

[2017-03-26 21:42] tejasmanohar commented on #675
it's often the first query-- not making a lot of schema changes. remote server

[2017-03-27 23:18] spinus commented on #247
I would join to the question how to set up defaul search_path. Is it possible now?

[2017-04-11 00:38] demidovakatya commented on #37
Hey there, I have the same error (os x, `pgcli` v.1.5.1, installed via brew, `postgresql` v.9.6.2)
[code]

[2017-04-11 00:56] demidovakatya commented on #37
upd.: [this](http://dba.stackexchange.com/questions/21587/postgresql-is-running-locally-but-i-cannot-connect-why) helped

[code]

[2017-04-13 06:22] zafer06 opened #682 "GNOME Terminal Colors"
## Description
Hi, Thank you for this project. How do I change the color of the green, gray and red text? Gnome terminal appearance is below.

![pgcli-screen](https://cloud.githubusercontent.com/assets/1070077/24992287/3ce5502e-2029-11e7-93e9-df770dd24570.png)

## My environment

- Linux Mint 18.1 Cinnamon x64
- GNOME Terminal 3.18.3
- PostgresSQL 9.6.1

[2017-04-13 16:00] j-bennet commented on #682
Syntax coloring is done by Pigments library. The highlight colors depend on the style you specify in `pgclirc`:

https://github.com/dbcli/pgcli/blob/e5d3d5d63f404df4478de6201a36bf380cdb4b1f/pgcli/pgclirc#L86-L89

[2017-04-13 17:31] amjith commented on #682
The config file is located in `~/.config/pgcli/config`.

If you'd like to see a preview of various themes, check out: http://mycli.net/syntax

[2017-04-14 07:13] zafer06 commented on #682
Thanks @j-bennet  and @amjith. This color themes are very good.

[2017-04-14 07:13] #682 closed

[2017-04-18 05:10] levin-kelevra commented on #544
Version: 1.5.1
Doesn't work.
ОШИБКА:  ошибка синтаксиса (примерное положение: "/")
LINE 1: /watch 1

ERROR: Syntax error

[2017-04-20 14:04] amjith commented on #544
@j-bennet Can you take a look at this? I don't have a working postgres on my new computer to debug this.

[2017-04-20 15:14] j-bennet commented on #544
@levin-kelevra Were you entering `/watch` or `\watch`? The error seems to suggest that it was a forward slash. It should be a backslash.

[2017-04-21 08:37] owst opened #685 "Autocompletion includes alias name twice for `ORDER BY` clause in `SELECT`"
## Description
When I write a simple `SELECT` query `JOIN`ing an aliased table, the autocompletion of the `ORDER BY` clause incorrectly includes the alias name twice.

In particular, given tables:
[code]
and
[code]

if I write:
[code]
and hit tab and then select `s.some_time` the query is completed as
[code]
rather than
[code]
it looks like the auto complete "hasn't recognised" the `s.` context as